<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.qm.common.dao.QmProcQcSubMapper" >
  <resultMap id="BaseResultMap" type="com.mt.qm.common.model.QmProcQcSub" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pop_qc_id" property="popQcId" jdbcType="INTEGER" />
    <result column="po_id" property="poId" jdbcType="BIGINT" />
    <result column="po_no" property="poNo" jdbcType="VARCHAR" />
    <result column="pop_id" property="popId" jdbcType="BIGINT" />
    <result column="confirm_no" property="confirmNo" jdbcType="VARCHAR" />
    <result column="confirm_seq" property="confirmSeq" jdbcType="INTEGER" />
    <result column="quality_loss" property="qualityLoss" jdbcType="VARCHAR" />
    <result column="qc_qty" property="qcQty" jdbcType="INTEGER" />
    <result column="qualified_qty" property="qualifiedQty" jdbcType="INTEGER" />
    <result column="no_qualified_qty" property="noQualifiedQty" jdbcType="INTEGER" />
    <result column="special_qty" property="specialQty" jdbcType="INTEGER" />
    <result column="scrap_qty" property="scrapQty" jdbcType="INTEGER" />
    <result column="is_submit_fault" property="isSubmitFault" jdbcType="CHAR" />
    <result column="unusual_reason" property="unusualReason" jdbcType="VARCHAR" />
    <result column="unusual_pic" property="unusualPic" jdbcType="VARCHAR" />
    <result column="step" property="step" jdbcType="INTEGER" />
    <result column="handler_id" property="handlerId" jdbcType="BIGINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pop_qc_id, po_id, po_no, pop_id, confirm_no, confirm_seq, quality_loss, qc_qty,
    qualified_qty, no_qualified_qty, special_qty, scrap_qty, is_submit_fault, unusual_reason,
    unusual_pic, step, handler_id, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from qm_proc_qc_sub
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from qm_proc_qc_sub
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.qm.common.model.QmProcQcSub" >
    insert into qm_proc_qc_sub (id, pop_qc_id, po_id,
    po_no, pop_id, confirm_no,
    confirm_seq, quality_loss, qc_qty,
    qualified_qty, no_qualified_qty, special_qty,
    scrap_qty, is_submit_fault, unusual_reason,
    unusual_pic, step, handler_id,
    created_at, updated_at, status
    )
    values (#{id,jdbcType=BIGINT}, #{popQcId,jdbcType=INTEGER}, #{poId,jdbcType=BIGINT},
    #{poNo,jdbcType=VARCHAR}, #{popId,jdbcType=BIGINT}, #{confirmNo,jdbcType=VARCHAR},
    #{confirmSeq,jdbcType=INTEGER}, #{qualityLoss,jdbcType=VARCHAR}, #{qcQty,jdbcType=INTEGER},
    #{qualifiedQty,jdbcType=INTEGER}, #{noQualifiedQty,jdbcType=INTEGER}, #{specialQty,jdbcType=INTEGER},
    #{scrapQty,jdbcType=INTEGER}, #{isSubmitFault,jdbcType=CHAR}, #{unusualReason,jdbcType=VARCHAR},
    #{unusualPic,jdbcType=VARCHAR}, #{step,jdbcType=INTEGER}, #{handlerId,jdbcType=BIGINT},
    #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.qm.common.model.QmProcQcSub" >
    insert into qm_proc_qc_sub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="popQcId != null" >
        pop_qc_id,
      </if>
      <if test="poId != null" >
        po_id,
      </if>
      <if test="poNo != null" >
        po_no,
      </if>
      <if test="popId != null" >
        pop_id,
      </if>
      <if test="confirmNo != null" >
        confirm_no,
      </if>
      <if test="confirmSeq != null" >
        confirm_seq,
      </if>
      <if test="qualityLoss != null" >
        quality_loss,
      </if>
      <if test="qcQty != null" >
        qc_qty,
      </if>
      <if test="qualifiedQty != null" >
        qualified_qty,
      </if>
      <if test="noQualifiedQty != null" >
        no_qualified_qty,
      </if>
      <if test="specialQty != null" >
        special_qty,
      </if>
      <if test="scrapQty != null" >
        scrap_qty,
      </if>
      <if test="isSubmitFault != null" >
        is_submit_fault,
      </if>
      <if test="unusualReason != null" >
        unusual_reason,
      </if>
      <if test="unusualPic != null" >
        unusual_pic,
      </if>
      <if test="step != null" >
        step,
      </if>
      <if test="handlerId != null" >
        handler_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="popQcId != null" >
        #{popQcId,jdbcType=INTEGER},
      </if>
      <if test="poId != null" >
        #{poId,jdbcType=BIGINT},
      </if>
      <if test="poNo != null" >
        #{poNo,jdbcType=VARCHAR},
      </if>
      <if test="popId != null" >
        #{popId,jdbcType=BIGINT},
      </if>
      <if test="confirmNo != null" >
        #{confirmNo,jdbcType=VARCHAR},
      </if>
      <if test="confirmSeq != null" >
        #{confirmSeq,jdbcType=INTEGER},
      </if>
      <if test="qualityLoss != null" >
        #{qualityLoss,jdbcType=VARCHAR},
      </if>
      <if test="qcQty != null" >
        #{qcQty,jdbcType=INTEGER},
      </if>
      <if test="qualifiedQty != null" >
        #{qualifiedQty,jdbcType=INTEGER},
      </if>
      <if test="noQualifiedQty != null" >
        #{noQualifiedQty,jdbcType=INTEGER},
      </if>
      <if test="specialQty != null" >
        #{specialQty,jdbcType=INTEGER},
      </if>
      <if test="scrapQty != null" >
        #{scrapQty,jdbcType=INTEGER},
      </if>
      <if test="isSubmitFault != null" >
        #{isSubmitFault,jdbcType=CHAR},
      </if>
      <if test="unusualReason != null" >
        #{unusualReason,jdbcType=VARCHAR},
      </if>
      <if test="unusualPic != null" >
        #{unusualPic,jdbcType=VARCHAR},
      </if>
      <if test="step != null" >
        #{step,jdbcType=INTEGER},
      </if>
      <if test="handlerId != null" >
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.qm.common.model.QmProcQcSub" >
    update qm_proc_qc_sub
    <set >
      <if test="popQcId != null" >
        pop_qc_id = #{popQcId,jdbcType=INTEGER},
      </if>
      <if test="poId != null" >
        po_id = #{poId,jdbcType=BIGINT},
      </if>
      <if test="poNo != null" >
        po_no = #{poNo,jdbcType=VARCHAR},
      </if>
      <if test="popId != null" >
        pop_id = #{popId,jdbcType=BIGINT},
      </if>
      <if test="confirmNo != null" >
        confirm_no = #{confirmNo,jdbcType=VARCHAR},
      </if>
      <if test="confirmSeq != null" >
        confirm_seq = #{confirmSeq,jdbcType=INTEGER},
      </if>
      <if test="qualityLoss != null" >
        quality_loss = #{qualityLoss,jdbcType=VARCHAR},
      </if>
      <if test="qcQty != null" >
        qc_qty = #{qcQty,jdbcType=INTEGER},
      </if>
      <if test="qualifiedQty != null" >
        qualified_qty = #{qualifiedQty,jdbcType=INTEGER},
      </if>
      <if test="noQualifiedQty != null" >
        no_qualified_qty = #{noQualifiedQty,jdbcType=INTEGER},
      </if>
      <if test="specialQty != null" >
        special_qty = #{specialQty,jdbcType=INTEGER},
      </if>
      <if test="scrapQty != null" >
        scrap_qty = #{scrapQty,jdbcType=INTEGER},
      </if>
      <if test="isSubmitFault != null" >
        is_submit_fault = #{isSubmitFault,jdbcType=CHAR},
      </if>
      <if test="unusualReason != null" >
        unusual_reason = #{unusualReason,jdbcType=VARCHAR},
      </if>
      <if test="unusualPic != null" >
        unusual_pic = #{unusualPic,jdbcType=VARCHAR},
      </if>
      <if test="step != null" >
        step = #{step,jdbcType=INTEGER},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.qm.common.model.QmProcQcSub" >
    update qm_proc_qc_sub
    set pop_qc_id = #{popQcId,jdbcType=INTEGER},
      po_id = #{poId,jdbcType=BIGINT},
      po_no = #{poNo,jdbcType=VARCHAR},
      pop_id = #{popId,jdbcType=BIGINT},
      confirm_no = #{confirmNo,jdbcType=VARCHAR},
      confirm_seq = #{confirmSeq,jdbcType=INTEGER},
      quality_loss = #{qualityLoss,jdbcType=VARCHAR},
      qc_qty = #{qcQty,jdbcType=INTEGER},
      qualified_qty = #{qualifiedQty,jdbcType=INTEGER},
      no_qualified_qty = #{noQualifiedQty,jdbcType=INTEGER},
      special_qty = #{specialQty,jdbcType=INTEGER},
      scrap_qty = #{scrapQty,jdbcType=INTEGER},
      is_submit_fault = #{isSubmitFault,jdbcType=CHAR},
      unusual_reason = #{unusualReason,jdbcType=VARCHAR},
      unusual_pic = #{unusualPic,jdbcType=VARCHAR},
      step = #{step,jdbcType=INTEGER},
      handler_id = #{handlerId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 新增工序质检单子表 -->
  <insert id="addProcQcSub" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.Map">
    <selectKey resultType="int" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() as id
    </selectKey>
    INSERT INTO qm_proc_qc_sub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pop_qc_id != null and pop_qc_id != ''">
        pop_qc_id,
      </if>
      <if test="po_id != null and po_id != ''">
        po_id,
      </if>
      <if test="po_no != null and po_no != ''">
        po_no,
      </if>
      <if test="pop_id != null and pop_id != ''">
        pop_id,
      </if>
      <if test="confirm_no != null and confirm_no != ''">
        confirm_no,
      </if>
      <if test="confirm_seq != null and confirm_seq != ''">
        confirm_seq,
      </if>
      <if test="quality_loss != null and quality_loss != ''">
        quality_loss,
      </if>
      <if test="qc_qty != null and qc_qty != ''">
        qc_qty,
      </if>
      <if test="qualified_qty != null and qualified_qty != ''">
        qualified_qty,
      </if>
      <if test="no_qualified_qty != null and no_qualified_qty != ''">
        no_qualified_qty,
      </if>
      <if test="special_qty != null and special_qty != ''">
        special_qty,
      </if>
      <if test="scrap_qty != null and scrap_qty != ''">
        scrap_qty,
      </if>
      <if test="is_submit_fault != null and is_submit_fault != ''">
        is_submit_fault,
      </if>
      <if test="unusual_reason != null and unusual_reason != ''">
        unusual_reason,
      </if>
      <if test="unusual_pic != null and unusual_pic != ''">
        unusual_pic,
      </if>
      <if test="step != null and step != ''">
        step,
      </if>
      <if test="handler_id != null and handler_id != ''">
        handler_id,
      </if>
      <if test="created_at != null and created_at != ''">
        created_at,
      </if>
      <if test="updated_at != null and updated_at != ''">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pop_qc_id != null and pop_qc_id != ''">
        #{pop_qc_id},
      </if>
      <if test="po_id != null and po_id != ''">
        #{po_id},
      </if>
      <if test="po_no != null and po_no != ''">
        #{po_no},
      </if>
      <if test="pop_id != null and pop_id != ''">
        #{pop_id},
      </if>
      <if test="confirm_no != null and confirm_no != ''">
        #{confirm_no},
      </if>
      <if test="confirm_seq != null and confirm_seq != ''">
        #{confirm_seq},
      </if>
      <if test="quality_loss != null and quality_loss != ''">
        #{quality_loss},
      </if>
      <if test="qc_qty != null and qc_qty != ''">
        #{qc_qty},
      </if>
      <if test="qualified_qty != null and qualified_qty != ''">
        #{qualified_qty},
      </if>
      <if test="no_qualified_qty != null and no_qualified_qty != ''">
        #{no_qualified_qty},
      </if>
      <if test="special_qty != null and special_qty != ''">
        #{special_qty},
      </if>
      <if test="scrap_qty != null and scrap_qty != ''">
        #{scrap_qty},
      </if>
      <if test="is_submit_fault != null and is_submit_fault != ''">
        #{is_submit_fault},
      </if>
      <if test="unusual_reason != null and unusual_reason != ''">
        #{unusual_reason},
      </if>
      <if test="unusual_pic != null and unusual_pic != ''">
        #{unusual_pic},
      </if>
      <if test="step != null and step != ''">
        #{step},
      </if>
      <if test="handler_id != null and handler_id != ''">
        #{handler_id},
      </if>
      <if test="created_at != null and created_at != ''">
        #{created_at},
      </if>
      <if test="updated_at != null and updated_at != ''">
        #{updated_at},
      </if>
    </trim>
  </insert>

  <!-- 修改工序质检单子表 -->
  <update id="updateProcQcSub" parameterType="Map">
    UPDATE qm_proc_qc_sub
    <set>
      <if test="pop_qc_id != null and pop_qc_id != ''">
        pop_qc_id = #{pop_qc_id},
      </if>
      <if test="po_id != null and po_id != ''">
        po_id = #{po_id},
      </if>
      <if test="po_no != null and po_no != ''">
        po_no = #{po_no},
      </if>
      <if test="pop_id != null and pop_id != ''">
        pop_id = #{pop_id},
      </if>
      <if test="confirm_no != null and confirm_no != ''">
        confirm_no = #{confirm_no},
      </if>
      <if test="confirm_seq != null and confirm_seq != ''">
        confirm_seq = #{confirm_seq},
      </if>
      <if test="quality_loss != null and quality_loss != ''">
        quality_loss = #{quality_loss},
      </if>
      <if test="qc_qty != null and qc_qty != ''">
        qc_qty = #{qc_qty},
      </if>
      <if test="qualified_qty != null and qualified_qty != ''">
        qualified_qty = #{qualified_qty},
      </if>
      <if test="no_qualified_qty != null and no_qualified_qty != ''">
        no_qualified_qty = #{no_qualified_qty},
      </if>
      <if test="special_qty != null and special_qty != ''">
        special_qty = #{special_qty},
      </if>
      <if test="scrap_qty != null and scrap_qty != ''">
        scrap_qty = #{scrap_qty},
      </if>
      <if test="is_submit_fault != null and is_submit_fault != ''">
        is_submit_fault = #{is_submit_fault},
      </if>
      <if test="unusual_reason != null and unusual_reason != ''">
        unusual_reason = #{unusual_reason},
      </if>
      <if test="unusual_pic != null and unusual_pic != ''">
        unusual_pic = #{unusual_pic},
      </if>
      <if test="step != null and step != ''">
        step = #{step},
      </if>
      <if test="handler_id != null and handler_id != ''">
        handler_id = #{handler_id},
      </if>
      <if test="created_at != null and created_at != ''">
        created_at = #{created_at},
      </if>
      <if test="updated_at != null and updated_at != ''">
        updated_at = #{updated_at},
      </if>
    </set>
  </update>

  <!-- 删除工序质检单子表 -->
  <update id="deleteProcQcSub" parameterType="Map">
    update qm_proc_qc_sub
    set status = 0, updated_at = #{updated_at}
    where pop_qc_id = #{pop_qc_sub_id}
  </update>
  
  <!-- 根据工序质检单子表id查询质检数量 -->
  <select id="selectQcQtyById" resultType="Map" parameterType="Map">
    select qc_qty from qm_proc_qc_sub where id = #{pop_qc_sub_id} and status = 1
  </select>

  <!-- 根据工序质检单id查询质检数量 -->
  <select id="selectQcQtyByPopQcId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select qc_qty from qm_proc_qc_sub where pop_qc_id = #{pop_qc_id}
  </select>

  <!-- 根据工序质检单id查询已建质检单数量 -->
  <select id="selectQcBillQtyByPopQcId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select ppos.qc_bill_qty
    from qm_proc_qc_sub as qpqs INNER JOIN pm_prod_order_sub as ppos on qpqs.pop_id = ppos.id
    where qpqs.status = 1 and qpqs.pop_qc_id = #{pop_qc_id}
  </select>

  <!-- 工序质料结束后，修改生产定单子表有关质检的信息 -->
  <update id="updatePmProdOrderSubByQcInfo" parameterType="java.lang.Long">
    update pm_prod_order_sub a INNER JOIN qm_proc_qc_sub b on a.id = b.pop_id
	set a.qced_qty = IFNULL(a.qced_qty,0) + ifnull(b.qualified_qty, 0) + ifnull(b.special_qty, 0),
	a.qc_flag = case when ifnull(a.done_qty,0) > IFNULL(a.qced_qty,0) + ifnull(b.qualified_qty, 0) + ifnull(b.special_qty, 0) then 1 else 2 END
	where b.pop_qc_id = #{popQcId}
	and a.qc_flag <![CDATA[ <> ]]> 2
  </update>

</mapper>