<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.qm.common.dao.QmPurchQcMapper" >
  <resultMap id="BaseResultMap" type="com.mt.qm.common.model.QmPurchQc" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="purch_type" property="purchType" jdbcType="CHAR" />
    <result column="sup_name" property="supName" jdbcType="VARCHAR" />
    <result column="sup_company_id" property="supCompanyId" jdbcType="INTEGER" />
    <result column="purch_qc_no" property="purchQcNo" jdbcType="VARCHAR" />
    <result column="qc_date" property="qcDate" jdbcType="TIMESTAMP" />
    <result column="inspector" property="inspector" jdbcType="VARCHAR" />
    <result column="approve_step" property="approveStep" jdbcType="VARCHAR" />
    <result column="approve_sugg" property="approveSugg" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="handler_id" property="handlerId" jdbcType="BIGINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, company_name, purch_type, sup_name, sup_company_id, purch_qc_no, 
    qc_date, inspector, approve_step, approve_sugg, creator_id, handler_id, created_at, 
    updated_at, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from qm_purch_qc
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.mt.qm.common.model.QmPurchQc" >
    insert into qm_purch_qc (id, company_id, company_name, 
      purch_type, sup_name, sup_company_id, 
      purch_qc_no, qc_date, inspector, 
      approve_step, approve_sugg, creator_id, 
      handler_id, created_at, updated_at, 
      status)
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, 
      #{purchType,jdbcType=CHAR}, #{supName,jdbcType=VARCHAR}, #{supCompanyId,jdbcType=INTEGER}, 
      #{purchQcNo,jdbcType=VARCHAR}, #{qcDate,jdbcType=TIMESTAMP}, #{inspector,jdbcType=VARCHAR}, 
      #{approveStep,jdbcType=VARCHAR}, #{approveSugg,jdbcType=VARCHAR}, #{creatorId,jdbcType=BIGINT}, 
      #{handlerId,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.qm.common.model.QmPurchQc" >
    insert into qm_purch_qc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="purchType != null" >
        purch_type,
      </if>
      <if test="supName != null" >
        sup_name,
      </if>
      <if test="supCompanyId != null" >
        sup_company_id,
      </if>
      <if test="purchQcNo != null" >
        purch_qc_no,
      </if>
      <if test="qcDate != null" >
        qc_date,
      </if>
      <if test="inspector != null" >
        inspector,
      </if>
      <if test="approveStep != null" >
        approve_step,
      </if>
      <if test="approveSugg != null" >
        approve_sugg,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="handlerId != null" >
        handler_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="purchType != null" >
        #{purchType,jdbcType=CHAR},
      </if>
      <if test="supName != null" >
        #{supName,jdbcType=VARCHAR},
      </if>
      <if test="supCompanyId != null" >
        #{supCompanyId,jdbcType=INTEGER},
      </if>
      <if test="purchQcNo != null" >
        #{purchQcNo,jdbcType=VARCHAR},
      </if>
      <if test="qcDate != null" >
        #{qcDate,jdbcType=TIMESTAMP},
      </if>
      <if test="inspector != null" >
        #{inspector,jdbcType=VARCHAR},
      </if>
      <if test="approveStep != null" >
        #{approveStep,jdbcType=VARCHAR},
      </if>
      <if test="approveSugg != null" >
        #{approveSugg,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="handlerId != null" >
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.qm.common.model.QmPurchQc" >
    update qm_purch_qc
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="purchType != null" >
        purch_type = #{purchType,jdbcType=CHAR},
      </if>
      <if test="supName != null" >
        sup_name = #{supName,jdbcType=VARCHAR},
      </if>
      <if test="supCompanyId != null" >
        sup_company_id = #{supCompanyId,jdbcType=INTEGER},
      </if>
      <if test="purchQcNo != null" >
        purch_qc_no = #{purchQcNo,jdbcType=VARCHAR},
      </if>
      <if test="qcDate != null" >
        qc_date = #{qcDate,jdbcType=TIMESTAMP},
      </if>
      <if test="inspector != null" >
        inspector = #{inspector,jdbcType=VARCHAR},
      </if>
      <if test="approveStep != null" >
        approve_step = #{approveStep,jdbcType=VARCHAR},
      </if>
      <if test="approveSugg != null" >
        approve_sugg = #{approveSugg,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.qm.common.model.QmPurchQc" >
    update qm_purch_qc
    set company_id = #{companyId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      purch_type = #{purchType,jdbcType=CHAR},
      sup_name = #{supName,jdbcType=VARCHAR},
      sup_company_id = #{supCompanyId,jdbcType=INTEGER},
      purch_qc_no = #{purchQcNo,jdbcType=VARCHAR},
      qc_date = #{qcDate,jdbcType=TIMESTAMP},
      inspector = #{inspector,jdbcType=VARCHAR},
      approve_step = #{approveStep,jdbcType=VARCHAR},
      approve_sugg = #{approveSugg,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=BIGINT},
      handler_id = #{handlerId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--wendy添加-->

  <!--查询来料质检主表-->

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from qm_purch_qc
    where id = #{purch_qc_id,jdbcType=BIGINT}
  </delete>

  <!--查询来料质检详情主表（联查返回采购单号）-->
  <select id="selectIncomingMatCheckMainInfo"  resultType="Map">
    SELECT approve_step, approve_sugg, inspector, qc.id AS purch_qc_id, purch_qc_no
    , DATE_FORMAT(qc_date,'%Y-%m-%d')qc_date, sup_company_id, sup_name,qb.purch_no
    FROM qm_purch_qc qc  INNER  JOIN  qm_purch_qc_sub  qb  ON  qc.id=qb.purch_qc_id
    <where>
      <if test="purch_qc_no!=null and purch_qc_no!=''">
        And qc.purch_qc_no  =#{purch_qc_no}
      </if>
      And  qc.status=1  LIMIT 1
    </where>
  </select>

  <!--查询待质检来料主表-->
  <select id="selectStayCheckPurchInfo"  resultType="Map">
    SELECT  pr.id AS purch_id, pr.purch_no, pr.sup_company_id, pr.sup_name
    FROM pc_purch_order pr
    <where>
      <if test="purch_no!=null and purch_no!=''">
        And pr.purch_no  like CONCAT('%','${purch_no}','%' )
      </if>
      <if test="sup_name!=null and sup_name!=''">
        And pr.sup_name=#{sup_name}
      </if>
        And  pr.status=1
    </where>
  </select>

  <!--查询来料质检列表-->
  <select id="selectIncomingMatCheckList"  resultType="Map"  parameterType="Map">
    SELECT id AS purch_qc_id, purch_qc_no, inspector
    , DATE_FORMAT(qc_date, '%Y-%m-%d') AS qc_date, sup_name
    , purch_type
    FROM qm_purch_qc
    <where>
      <if test="approve_step != null and approve_step.size >0">
        approve_step in
        <foreach collection="approve_step" item="list"  open="(" separator="," close=")">
          #{list}
        </foreach>
      </if>
      <if test="company_id!=null and company_id!=''">
        And  company_id=#{company_id}
      </if>
        And  status=1   limit #{page},#{page_size}
    </where>
  </select>

  <!--记录总条数-->
  <select id="totalCount" parameterType="Map" resultType="java.lang.Integer">
    SELECT COUNT(id)
    FROM qm_purch_qc
    <where>
      <if test="approve_step != null and approve_step.size >0">
        approve_step in
        <foreach collection="approve_step" item="list"  open="(" separator="," close=")">
          #{list}
        </foreach>
      </if>
      <if test="company_id!=null and company_id!=''">
       And company_id=#{company_id}
      </if>
      And  status=1
    </where>
  </select>

  <!--查看审批流程-->
  <select id="selectApprovalProcessRecord" resultType="Map">
    SELECT ais.approve_man_id, ais.approve_sugg, qc.handler_id,ais.approve_start_date,ais.approve_end_date
    FROM approve_record_his ais
    JOIN qm_purch_qc qc
    <where>
      <if test="purch_qc_no!=null and purch_qc_no!=''">
        And qc.purch_qc_no=#{purch_qc_no}
      </if>
      <if test="purch_type!=null and purch_type!=''">
        And qc.purch_type  =#{purch_type}
      </if>
      And  qc.status=1
    </where>
  </select>

  <!--删除来料质检单——逻辑删除-->
  <update id="updateIncomingMatCheck" parameterType="java.lang.Long">
     UPDATE qm_purch_qc
  SET status = 0
  WHERE id = #{purch_qc_id}
  </update>

  <!--查出起草和退回的状态可以删除-->
  <select id="selectApproveStepList" resultType="Map">
     SELECT approve_step, id
  FROM qm_purch_qc
  WHERE id = #{id}
      AND approve_step = 'step10'
  UNION ALL
  SELECT approve_step, id
  FROM qm_purch_qc
  WHERE id = #{id}
      AND approve_step = 'step11'
  </select>

  <!--根据质检主表编号获取信息-->
  <select id="selectIncomingMatCheckById" resultType="Map">
      SELECT id AS purch_qc_id, purch_qc_no
  FROM qm_purch_qc
  WHERE id = #{id}
  </select>

  <!--修改来料质检主表-->
  <update id="updateIncomingMatCheckMainInfo" parameterType="Map" >
    update qm_purch_qc
    <set >
      <if test="company_id != null and company_id!=''" >
        company_id = #{company_id,jdbcType=INTEGER},
      </if>
      <if test="company_name != null and company_name!=''" >
        company_name = #{company_name,jdbcType=VARCHAR},
      </if>
      <if test="purch_type != null and purch_type!=''" >
        purch_type = #{purch_type,jdbcType=CHAR},
      </if>
      <if test="sup_name != null and sup_name!=''" >
        sup_name = #{sup_name,jdbcType=VARCHAR},
      </if>
      <if test="sup_company_id != null and sup_company_id!=''" >
        sup_company_id = #{sup_company_id,jdbcType=INTEGER},
      </if>
      <if test="purch_qc_no != null and purch_qc_no!=''" >
        purch_qc_no = #{purch_qc_no,jdbcType=VARCHAR},
      </if>
      <if test="qc_date != null and qc_date!=''" >
        qc_date = #{qc_date,jdbcType=TIMESTAMP},
      </if>
      <if test="inspector != null and inspector!=''" >
        inspector = #{inspector,jdbcType=VARCHAR},
      </if>
      <if test="approve_step != null and approve_step!=''" >
        approve_step = #{approve_step,jdbcType=VARCHAR},
      </if>
      <if test="approve_sugg != null and approve_sugg!=''" >
        approve_sugg = #{approve_sugg,jdbcType=VARCHAR},
      </if>
      <if test="creator_id != null and creator_id!=''" >
        creator_id = #{creator_id,jdbcType=BIGINT},
      </if>
      <if test="handler_id != null and handler_id!=''" >
        handler_id = #{handler_id,jdbcType=BIGINT},
      </if>
      <if test="created_at != null and created_at!=''" >
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null and updated_at!=''" >
        updated_at = #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null and status!=''" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{purch_qc_id,jdbcType=BIGINT}
  </update>

  <!--新增来料质检主表-->
  <insert id="addIncomingMatCheckMainInfo" parameterType="Map" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  <selectKey resultType="int" order="AFTER" keyProperty="id">
    SELECT LAST_INSERT_ID() as id
  </selectKey>
    insert into qm_purch_qc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="company_id != null and company_id!=''" >
        company_id,
      </if>
      <if test="company_name != null and company_name!=''" >
        company_name,
      </if>
      <if test="purch_type != null and purch_type!=''" >
        purch_type,
      </if>
      <if test="sup_name != null and sup_name!=''" >
        sup_name,
      </if>
      <if test="sup_company_id != null and sup_company_id!=''" >
        sup_company_id,
      </if>
      <if test="purch_qc_no != null and purch_qc_no!=''" >
        purch_qc_no,
      </if>
      <if test="qc_date != null and qc_date!=''" >
        qc_date,
      </if>
      <if test="inspector != null and inspector!=''" >
        inspector,
      </if>
      <if test="approve_step != null and approve_step!=''" >
        approve_step,
      </if>
      <if test="approve_sugg != null and approve_sugg!=''" >
        approve_sugg,
      </if>
      <if test="creator_id != null and creator_id!=''" >
        creator_id,
      </if>
      <if test="handler_id != null and handler_id!=''" >
        handler_id,
      </if>
      <if test="created_at != null and created_at!=''" >
        created_at,
      </if>
      <if test="updated_at != null and updated_at!=''" >
        updated_at,
      </if>
      <if test="status != null and status!=''" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="company_id != null and company_id!=''" >
        #{company_id,jdbcType=INTEGER},
      </if>
      <if test="company_name != null and company_name!=''" >
        #{company_name,jdbcType=VARCHAR},
      </if>
      <if test="purch_type != null and purch_type!=''" >
        #{purch_type,jdbcType=CHAR},
      </if>
      <if test="sup_name != null and sup_name!=''" >
        #{sup_name,jdbcType=VARCHAR},
      </if>
      <if test="sup_company_id != null and sup_company_id!=''" >
        #{sup_company_id,jdbcType=INTEGER},
      </if>
      <if test="purch_qc_no != null and purch_qc_no!=''" >
        #{purch_qc_no,jdbcType=VARCHAR},
      </if>
      <if test="qc_date != null and qc_date!=''" >
        #{qc_date,jdbcType=TIMESTAMP},
      </if>
      <if test="inspector != null and inspector!=''" >
        #{inspector,jdbcType=VARCHAR},
      </if>
      <if test="approve_step != null and approve_step!=''" >
        #{approve_step,jdbcType=VARCHAR},
      </if>
      <if test="approve_sugg != null and approve_sugg!=''" >
        #{approve_sugg,jdbcType=VARCHAR},
      </if>
      <if test="creator_id != null and creator_id!=''" >
        #{creator_id,jdbcType=BIGINT},
      </if>
      <if test="handler_id != null and handler_id!=''" >
        #{handler_id,jdbcType=BIGINT},
      </if>
      <if test="created_at != null and created_at!=''" >
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null and updated_at!=''" >
        #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null and status!=''" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>