<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.qm.common.dao.QmPurchQcSubMapper" >
  <resultMap id="BaseResultMap" type="com.mt.qm.common.model.QmPurchQcSub" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="purch_qc_id" property="purchQcId" jdbcType="BIGINT" />
    <result column="purch_id" property="purchId" jdbcType="BIGINT" />
    <result column="purch_no" property="purchNo" jdbcType="VARCHAR" />
    <result column="purch_sub_id" property="purchSubId" jdbcType="BIGINT" />
    <result column="mat_id" property="matId" jdbcType="BIGINT" />
    <result column="mat_no" property="matNo" jdbcType="VARCHAR" />
    <result column="mat_desc" property="matDesc" jdbcType="VARCHAR" />
    <result column="mat_type_id" property="matTypeId" jdbcType="BIGINT" />
    <result column="mat_type_name" property="matTypeName" jdbcType="VARCHAR" />
    <result column="mat_model" property="matModel" jdbcType="VARCHAR" />
    <result column="qc_qty" property="qcQty" jdbcType="DECIMAL" />
    <result column="qualified_qty" property="qualifiedQty" jdbcType="DECIMAL" />
    <result column="no_qualified_qty" property="noQualifiedQty" jdbcType="DECIMAL" />
    <result column="special_qty" property="specialQty" jdbcType="DECIMAL" />
    <result column="unusual_reason" property="unusualReason" jdbcType="VARCHAR" />
    <result column="step" property="step" jdbcType="INTEGER" />
    <result column="handler_id" property="handlerId" jdbcType="BIGINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, purch_qc_id, purch_id, purch_no, purch_sub_id, mat_id, mat_no, mat_desc, mat_type_id, 
    mat_type_name, mat_model, qc_qty, qualified_qty, no_qualified_qty, special_qty, unusual_reason, 
    step, handler_id, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from qm_purch_qc_sub
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.mt.qm.common.model.QmPurchQcSub" >
    insert into qm_purch_qc_sub (id, purch_qc_id, purch_id, 
      purch_no, purch_sub_id, mat_id, 
      mat_no, mat_desc, mat_type_id, 
      mat_type_name, mat_model, qc_qty, 
      qualified_qty, no_qualified_qty, special_qty, 
      unusual_reason, step, handler_id, 
      created_at, updated_at, status
      )
    values (#{id,jdbcType=BIGINT}, #{purchQcId,jdbcType=BIGINT}, #{purchId,jdbcType=BIGINT}, 
      #{purchNo,jdbcType=VARCHAR}, #{purchSubId,jdbcType=BIGINT}, #{matId,jdbcType=BIGINT}, 
      #{matNo,jdbcType=VARCHAR}, #{matDesc,jdbcType=VARCHAR}, #{matTypeId,jdbcType=BIGINT}, 
      #{matTypeName,jdbcType=VARCHAR}, #{matModel,jdbcType=VARCHAR}, #{qcQty,jdbcType=DECIMAL}, 
      #{qualifiedQty,jdbcType=DECIMAL}, #{noQualifiedQty,jdbcType=DECIMAL}, #{specialQty,jdbcType=DECIMAL}, 
      #{unusualReason,jdbcType=VARCHAR}, #{step,jdbcType=INTEGER}, #{handlerId,jdbcType=BIGINT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.qm.common.model.QmPurchQcSub" >
    insert into qm_purch_qc_sub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchQcId != null" >
        purch_qc_id,
      </if>
      <if test="purchId != null" >
        purch_id,
      </if>
      <if test="purchNo != null" >
        purch_no,
      </if>
      <if test="purchSubId != null" >
        purch_sub_id,
      </if>
      <if test="matId != null" >
        mat_id,
      </if>
      <if test="matNo != null" >
        mat_no,
      </if>
      <if test="matDesc != null" >
        mat_desc,
      </if>
      <if test="matTypeId != null" >
        mat_type_id,
      </if>
      <if test="matTypeName != null" >
        mat_type_name,
      </if>
      <if test="matModel != null" >
        mat_model,
      </if>
      <if test="qcQty != null" >
        qc_qty,
      </if>
      <if test="qualifiedQty != null" >
        qualified_qty,
      </if>
      <if test="noQualifiedQty != null" >
        no_qualified_qty,
      </if>
      <if test="specialQty != null" >
        special_qty,
      </if>
      <if test="unusualReason != null" >
        unusual_reason,
      </if>
      <if test="step != null" >
        step,
      </if>
      <if test="handlerId != null" >
        handler_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="purchQcId != null" >
        #{purchQcId,jdbcType=BIGINT},
      </if>
      <if test="purchId != null" >
        #{purchId,jdbcType=BIGINT},
      </if>
      <if test="purchNo != null" >
        #{purchNo,jdbcType=VARCHAR},
      </if>
      <if test="purchSubId != null" >
        #{purchSubId,jdbcType=BIGINT},
      </if>
      <if test="matId != null" >
        #{matId,jdbcType=BIGINT},
      </if>
      <if test="matNo != null" >
        #{matNo,jdbcType=VARCHAR},
      </if>
      <if test="matDesc != null" >
        #{matDesc,jdbcType=VARCHAR},
      </if>
      <if test="matTypeId != null" >
        #{matTypeId,jdbcType=BIGINT},
      </if>
      <if test="matTypeName != null" >
        #{matTypeName,jdbcType=VARCHAR},
      </if>
      <if test="matModel != null" >
        #{matModel,jdbcType=VARCHAR},
      </if>
      <if test="qcQty != null" >
        #{qcQty,jdbcType=DECIMAL},
      </if>
      <if test="qualifiedQty != null" >
        #{qualifiedQty,jdbcType=DECIMAL},
      </if>
      <if test="noQualifiedQty != null" >
        #{noQualifiedQty,jdbcType=DECIMAL},
      </if>
      <if test="specialQty != null" >
        #{specialQty,jdbcType=DECIMAL},
      </if>
      <if test="unusualReason != null" >
        #{unusualReason,jdbcType=VARCHAR},
      </if>
      <if test="step != null" >
        #{step,jdbcType=INTEGER},
      </if>
      <if test="handlerId != null" >
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.qm.common.model.QmPurchQcSub" >
    update qm_purch_qc_sub
    <set >
      <if test="purchQcId != null" >
        purch_qc_id = #{purchQcId,jdbcType=BIGINT},
      </if>
      <if test="purchId != null" >
        purch_id = #{purchId,jdbcType=BIGINT},
      </if>
      <if test="purchNo != null" >
        purch_no = #{purchNo,jdbcType=VARCHAR},
      </if>
      <if test="purchSubId != null" >
        purch_sub_id = #{purchSubId,jdbcType=BIGINT},
      </if>
      <if test="matId != null" >
        mat_id = #{matId,jdbcType=BIGINT},
      </if>
      <if test="matNo != null" >
        mat_no = #{matNo,jdbcType=VARCHAR},
      </if>
      <if test="matDesc != null" >
        mat_desc = #{matDesc,jdbcType=VARCHAR},
      </if>
      <if test="matTypeId != null" >
        mat_type_id = #{matTypeId,jdbcType=BIGINT},
      </if>
      <if test="matTypeName != null" >
        mat_type_name = #{matTypeName,jdbcType=VARCHAR},
      </if>
      <if test="matModel != null" >
        mat_model = #{matModel,jdbcType=VARCHAR},
      </if>
      <if test="qcQty != null" >
        qc_qty = #{qcQty,jdbcType=DECIMAL},
      </if>
      <if test="qualifiedQty != null" >
        qualified_qty = #{qualifiedQty,jdbcType=DECIMAL},
      </if>
      <if test="noQualifiedQty != null" >
        no_qualified_qty = #{noQualifiedQty,jdbcType=DECIMAL},
      </if>
      <if test="specialQty != null" >
        special_qty = #{specialQty,jdbcType=DECIMAL},
      </if>
      <if test="unusualReason != null" >
        unusual_reason = #{unusualReason,jdbcType=VARCHAR},
      </if>
      <if test="step != null" >
        step = #{step,jdbcType=INTEGER},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.qm.common.model.QmPurchQcSub" >
    update qm_purch_qc_sub
    set purch_qc_id = #{purchQcId,jdbcType=BIGINT},
      purch_id = #{purchId,jdbcType=BIGINT},
      purch_no = #{purchNo,jdbcType=VARCHAR},
      purch_sub_id = #{purchSubId,jdbcType=BIGINT},
      mat_id = #{matId,jdbcType=BIGINT},
      mat_no = #{matNo,jdbcType=VARCHAR},
      mat_desc = #{matDesc,jdbcType=VARCHAR},
      mat_type_id = #{matTypeId,jdbcType=BIGINT},
      mat_type_name = #{matTypeName,jdbcType=VARCHAR},
      mat_model = #{matModel,jdbcType=VARCHAR},
      qc_qty = #{qcQty,jdbcType=DECIMAL},
      qualified_qty = #{qualifiedQty,jdbcType=DECIMAL},
      no_qualified_qty = #{noQualifiedQty,jdbcType=DECIMAL},
      special_qty = #{specialQty,jdbcType=DECIMAL},
      unusual_reason = #{unusualReason,jdbcType=VARCHAR},
      step = #{step,jdbcType=INTEGER},
      handler_id = #{handlerId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <!--wendy添加-->

  <!--查询来料质检详情-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from qm_purch_qc_sub
    where purch_qc_id = #{purch_qc_id,jdbcType=BIGINT}
  </delete>

  <!--查询来料质检详情-->
  <select id="selectIncomingMatCheckDetail"  resultType="Map">
    select  qb.mat_desc,qb.mat_id,qb.mat_model,qb.mat_no,qb.mat_type_id,qb.mat_type_name,
    qb.id as purch_qc_detail_id,qb.no_qualified_qty,qb.qualified_qty,qb.qc_qty,qb.special_qty,
    qb.purch_sub_id,qb.unusual_reason,(pb.quantity-pb.qc_bill_qty) as no_qc_qty
    from  qm_purch_qc   qc
    join  qm_purch_qc_sub qb  on  qb.purch_qc_id=qc.id
    join  pc_purch_order_sub  pb  on  qb.purch_sub_id=pb.id
    <where>
      <if test="purch_qc_no!=null and purch_qc_no!=''">
        and qc.purch_qc_no  =#{purch_qc_no}
      </if>
      <if test="purch_type!=null and purch_type!=''">
        and qc.purch_type  =#{purch_type}
      </if>
      and  qc.status=1
    </where>
  </select>

  <!--查询待质检来料详情-->
  <select id="selectStayCheckPurchDetail"  resultType="Map">
    SELECT pb.is_need_qc AS is_qc, pb.mat_desc, pb.mat_id, pb.mat_model, pb.mat_no
    , pb.mat_type_id, pb.mat_type_name, pb.quantity - pb.qc_bill_qty AS no_qc_qty, pb.id AS purch_sub_id
    , pb.qc_bill_qty, pb.qced_qty AS qc_qty, pb.quantity
    FROM pc_purch_order_sub pb
    JOIN pc_purch_order pr ON pb.purch_id = pr.id
    <where>
      <if test="purch_no!=null and purch_no!=''">
        And pr.purch_no  like CONCAT('%','${purch_no}','%' )
      </if>
      <if test="sup_name!=null and sup_name!=''">
        And pr.sup_name=#{sup_name}
      </if>
      And pb.status=1 And  pb.is_need_qc = 1  And  pb.quantity-pb.qc_bill_qty  &gt;0
    </where>
  </select>


  <!--根据采购Id明细取数量  purch_sub_id采购明细ID-->
  <select id="selectPurchQuantityById" resultType="Map"  parameterType="Map">
    SELECT quantity, qc_bill_qty
    FROM pc_purch_order_sub
   <where>
     <if test="purch_sub_id!=null and purch_sub_id!=''">
       And  id=#{purch_sub_id}
     </if>
    And  status=1
   </where>
  </select>

  <!--删除来料质检详情表-->
  <update id="updateIncomingMatCheckInfo"  parameterType="java.lang.Long">
      UPDATE qm_purch_qc_sub
  SET status = 0
  WHERE purch_qc_id = #{purch_qc_id}
  </update>

  <!--实时查询出质检数量（删除后冲减）-->
  <select id="selectIncomingCheckQtyById" resultType="Map"  parameterType="Map">
    SELECT qc_qty, purch_sub_id, purch_qc_id
    FROM qm_purch_qc_sub
    <where>
      <if test="purch_qc_id!=null and purch_qc_id!=''">
        And   purch_qc_id =#{purch_qc_id}
      </if>
      And  status=1
    </where>
  </select>

  <!--查看送货单质检详情-->
  <select id="selectDeliveryBillCheckDetail"  resultType="Map">
   SELECT  qc.inspector, DATE_FORMAT(qc.qc_date, '%Y-%m-%d') AS qc_date, qc.sup_company_id,py.delivery_no,py.id as delivery_id
			, py.purch_id,py.purch_no, qc.sup_name, qc.purch_type
   FROM  pc_delivery py
		LEFT JOIN   qm_purch_qc_sub qb ON qb.purch_no = py.purch_no
        LEFT JOIN   qm_purch_qc qc ON qc.id = qb.purch_qc_id
   WHERE  py.delivery_no = #{delivery_no}
        AND py.status = 1  limit 1
  </select>
  

  <select id="selectDeliveryPurMatDetail"  resultType="Map">
    SELECT pb.is_need_qc AS is_qc, pr.id AS purch_id, pr.purch_no
    FROM pc_purch_order pr
    JOIN pc_purch_order_sub pb ON pr.id = pb.purch_id
    JOIN pc_delivery_sub pdb ON pdb.purch_sub_id = pb.id
    JOIN pc_delivery py ON py.id = pdb.delivery_id
    <where>
      <if test="delivery_no!=null and delivery_no!=''">
        And  py.delivery_no =#{delivery_no,jdbcType=VARCHAR}
      </if>
      And  pr.status=1
    </where>
  </select>

  <!--通过送货单号筛选待质检采购明细-->
  <select id="selectDeliveryPurDetail" resultType="Map">
    SELECT pb.mat_id, pb.mat_desc, pb.mat_no, pb.mat_model
    , pb.mat_type_id, pb.mat_type_name, pb.quantity, pb.qc_bill_qty, pdb.delivery_qty AS qc_qty
    , pb.id AS purch_sub_id,pdb.id as delivery_sub_id
    FROM pc_delivery py
    JOIN pc_delivery_sub pdb ON py.id = pdb.delivery_id
    JOIN pc_purch_order_sub pb ON pdb.purch_sub_id = pb.id
    <if test="delivery_no!=null and delivery_no!=''">
      And  py.delivery_no =#{delivery_no,jdbcType=VARCHAR}
    </if>
      And  pb.status=1 And  pb.is_need_qc = 1  GROUP BY  py.delivery_no
  </select>

  <!--修改来料质检详情表-->
  <update id="updateIncomingMatCheckDetail" parameterType="Map">
    update qm_purch_qc_sub
    <set >
      <if test="purch_qc_id != null  and purch_qc_id!=''" >
        purch_qc_id = #{purch_qc_id,jdbcType=BIGINT},
      </if>
      <if test="purch_id != null and purch_id!=''" >
        purch_id = #{purch_id,jdbcType=BIGINT},
      </if>
      <if test="purch_no != null and purch_no!=''" >
        purch_no = #{purch_no,jdbcType=VARCHAR},
      </if>
      <if test="purch_sub_id != null and purch_sub_id!=''" >
        purch_sub_id = #{purch_sub_id,jdbcType=BIGINT},
      </if>
      <if test="mat_id != null and mat_id!=''" >
        mat_id = #{mat_id,jdbcType=BIGINT},
      </if>
      <if test="mat_no != null and mat_no!=''" >
        mat_no = #{mat_no,jdbcType=VARCHAR},
      </if>
      <if test="mat_desc != null and mat_desc!=''" >
        mat_desc = #{mat_desc,jdbcType=VARCHAR},
      </if>
      <if test="mat_type_id != null and mat_type_id!=''" >
        mat_type_id = #{mat_type_id,jdbcType=BIGINT},
      </if>
      <if test="mat_type_name != null and mat_type_name!=''" >
        mat_type_name = #{mat_type_name,jdbcType=VARCHAR},
      </if>
      <if test="mat_model != null and mat_model!=''" >
        mat_model = #{mat_model,jdbcType=VARCHAR},
      </if>
      <if test="qc_qty != null and qc_qty!=''" >
        qc_qty = #{qc_qty,jdbcType=DECIMAL},
      </if>
      <if test="qualified_qty != null and qualified_qty!=''" >
        qualified_qty = #{qualified_qty,jdbcType=DECIMAL},
      </if>
      <if test="no_qualified_qty != null and no_qualified_qty!=''" >
        no_qualified_qty = #{no_qualified_qty,jdbcType=DECIMAL},
      </if>
      <if test="special_qty != null and special_qty!=''" >
        special_qty = #{special_qty,jdbcType=DECIMAL},
      </if>
      <if test="unusual_reason != null and unusual_reason!=''" >
        unusual_reason = #{unusual_reason,jdbcType=VARCHAR},
      </if>
      <if test="step != null and step!=''" >
        step = #{step,jdbcType=INTEGER},
      </if>
      <if test="handler_id != null and handler_id!=''" >
        handler_id = #{handler_id,jdbcType=BIGINT},
      </if>
      <if test="created_at != null and created_at!=''" >
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null and updated_at!=''" >
        updated_at = #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null and status!=''" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{purch_qc_detail_id}
  </update>


   <!--新增来料质检详情表-->
  <insert id="addIncomingMatCheckDetail" parameterType="Map" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    <selectKey resultType="int" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() as id
    </selectKey>
    insert into qm_purch_qc_sub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purch_qc_id != null and purch_qc_id!=''" >
        purch_qc_id,
      </if>
      <if test="purch_id != null and purch_id!=''" >
        purch_id,
      </if>
      <if test="purch_no != null and purch_no!=''" >
        purch_no,
      </if>
      <if test="purch_sub_id != null and purch_sub_id!=''" >
        purch_sub_id,
      </if>
      <if test="mat_id != null and mat_id!=''" >
        mat_id,
      </if>
      <if test="mat_no != null and mat_no!=''" >
        mat_no,
      </if>
      <if test="mat_desc != null and mat_desc!=''" >
        mat_desc,
      </if>
      <if test="mat_type_id != null and mat_type_id!=''" >
        mat_type_id,
      </if>
      <if test="mat_type_name != null and mat_type_name!=''" >
        mat_type_name,
      </if>
      <if test="mat_model != null and mat_model!=''" >
        mat_model,
      </if>
      <if test="qc_qty != null and qc_qty!=''" >
        qc_qty,
      </if>
      <if test="qualified_qty != null and qualified_qty!=''" >
        qualified_qty,
      </if>
      <if test="no_qualified_qty != null and no_qualified_qty!=''" >
        no_qualified_qty,
      </if>
      <if test="special_qty != null and special_qty!=''" >
        special_qty,
      </if>
      <if test="unusual_reason != null and unusual_reason!=''" >
        unusual_reason,
      </if>
      <if test="step != null and step!=''" >
        step,
      </if>
      <if test="handler_id != null and handler_id!=''" >
        handler_id,
      </if>
      <if test="created_at != null and created_at!=''" >
        created_at,
      </if>
      <if test="updated_at != null and updated_at!=''" >
        updated_at,
      </if>
      <if test="status != null and status!=''" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purch_qc_id != null and purch_qc_id!=''" >
        #{purch_qc_id,jdbcType=BIGINT},
      </if>
      <if test="purch_id != null and purch_id!=''" >
        #{purch_id,jdbcType=BIGINT},
      </if>
      <if test="purch_no != null and purch_no!=''" >
        #{purch_no,jdbcType=VARCHAR},
      </if>
      <if test="purch_sub_id != null and purch_sub_id!=''" >
        #{purch_sub_id,jdbcType=BIGINT},
      </if>
      <if test="mat_id != null and mat_id!=''" >
        #{mat_id,jdbcType=BIGINT},
      </if>
      <if test="mat_no != null and mat_no!=''" >
        #{mat_no,jdbcType=VARCHAR},
      </if>
      <if test="mat_desc != null and mat_desc!=''" >
        #{mat_desc,jdbcType=VARCHAR},
      </if>
      <if test="mat_type_id != null and mat_type_id!=''" >
        #{mat_type_id,jdbcType=BIGINT},
      </if>
      <if test="mat_type_name != null and mat_type_name!=''" >
        #{mat_type_name,jdbcType=VARCHAR},
      </if>
      <if test="mat_model != null and mat_model!=''" >
        #{mat_model,jdbcType=VARCHAR},
      </if>
      <if test="qc_qty != null and qc_qty!=''" >
        #{qc_qty,jdbcType=DECIMAL},
      </if>
      <if test="qualified_qty != null and qualified_qty!=''" >
        #{qualified_qty,jdbcType=DECIMAL},
      </if>
      <if test="no_qualified_qty != null and no_qualified_qty!=''" >
        #{no_qualified_qty,jdbcType=DECIMAL},
      </if>
      <if test="special_qty != null and special_qty!=''" >
        #{special_qty,jdbcType=DECIMAL},
      </if>
      <if test="unusual_reason != null and unusual_reason!=''" >
        #{unusual_reason,jdbcType=VARCHAR},
      </if>
      <if test="step != null and step!=''" >
        #{step,jdbcType=INTEGER},
      </if>
      <if test="handler_id != null and handler_id!=''" >
        #{handler_id,jdbcType=BIGINT},
      </if>
      <if test="created_at != null and created_at!=''" >
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null and updated_at!=''" >
        #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null and status!=''" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <!-- 质检审批通过后修改采购单子表 -->
  <update id="updatePcPurchOrderSubByQcInfo" parameterType = "java.lang.Long">
    update pc_purch_order_sub a INNER JOIN qm_purch_qc_sub b on a.id = b.purch_sub_id
    set a.qced_qty = IFNULL(a.qced_qty,0) + ifnull(b.qualified_qty, 0) + ifnull(b.special_qty, 0),
    a.qc_flag = case when ifnull(a.quantity,0) > IFNULL(a.qced_qty,0) + ifnull(b.qualified_qty, 0) + ifnull(b.special_qty, 0) then 1 else 2 END
    where  b.purch_qc_id = #{purchQcId}
    and a.qc_flag <![CDATA[ <> ]]> 2
  </update>

</mapper>