<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.bm.common.dao.MatTypeMapper">
  <resultMap id="BaseResultMap" type="com.mt.bm.common.model.MatType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="mat_type" jdbcType="VARCHAR" property="matType" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="mat_no_prefix" jdbcType="VARCHAR" property="matNoPrefix" />
    <result column="procure_style" jdbcType="TINYINT" property="procureStyle" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="bin_no" jdbcType="VARCHAR" property="binNo" />
    <result column="bin_name" jdbcType="VARCHAR" property="binName" />
    <result column="is_qc" jdbcType="VARCHAR" property="isQc" />
    <result column="store_house_id" jdbcType="BIGINT" property="storeHouseId" />
    <result column="store_house_name" jdbcType="VARCHAR" property="storeHouseName" />
    <result column="handler_id" jdbcType="VARCHAR" property="handlerId" />
    <result column="handled_time" jdbcType="TIMESTAMP" property="handledTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, company_name, mat_type, type_name, type_desc, mat_no_prefix, procure_style, 
    unit, bin_no, handler_id, handled_time,is_qc,store_house_id,store_house_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bm_mat_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bm_mat_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.bm.common.model.MatType">
    insert into bm_mat_type (id, company_id, company_name, 
      mat_type, type_name, type_desc, 
      mat_no_prefix, procure_style, unit, 
      bin_no, handler_id, handled_time
      )
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{matType,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{matNoPrefix,jdbcType=VARCHAR}, #{procureStyle,jdbcType=TINYINT}, #{unit,jdbcType=VARCHAR}, 
      #{binNo,jdbcType=VARCHAR}, #{handlerId,jdbcType=VARCHAR}, #{handledTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.bm.common.model.MatType">
    insert into bm_mat_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="matType != null">
        mat_type,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="matNoPrefix != null">
        mat_no_prefix,
      </if>
      <if test="procureStyle != null">
        procure_style,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="binNo != null">
        bin_no,
      </if>
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="handledTime != null">
        handled_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="matType != null">
        #{matType,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="matNoPrefix != null">
        #{matNoPrefix,jdbcType=VARCHAR},
      </if>
      <if test="procureStyle != null">
        #{procureStyle,jdbcType=TINYINT},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="binNo != null">
        #{binNo,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null">
        #{handlerId,jdbcType=VARCHAR},
      </if>
      <if test="handledTime != null">
        #{handledTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.bm.common.model.MatType">
    update bm_mat_type
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="matType != null">
        mat_type = #{matType,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        type_desc = #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="matNoPrefix != null">
        mat_no_prefix = #{matNoPrefix,jdbcType=VARCHAR},
      </if>
      <if test="procureStyle != null">
        procure_style = #{procureStyle,jdbcType=TINYINT},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="binNo != null">
        bin_no = #{binNo,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null">
        handler_id = #{handlerId,jdbcType=VARCHAR},
      </if>
      <if test="handledTime != null">
        handled_time = #{handledTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.bm.common.model.MatType">
    update bm_mat_type
    set company_id = #{companyId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      mat_type = #{matType,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      type_desc = #{typeDesc,jdbcType=VARCHAR},
      mat_no_prefix = #{matNoPrefix,jdbcType=VARCHAR},
      procure_style = #{procureStyle,jdbcType=TINYINT},
      unit = #{unit,jdbcType=VARCHAR},
      bin_no = #{binNo,jdbcType=VARCHAR},
      handler_id = #{handlerId,jdbcType=VARCHAR},
      handled_time = #{handledTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="addIvMatTypeModify" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  <selectKey resultType="int" order="AFTER" keyProperty="id">
    SELECT LAST_INSERT_ID() as id
  </selectKey>
  INSERT INTO  bm_mat_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="company_id != null and company_id != ''">
        company_id,
      </if>
      <if test="company_name != null and company_name != ''">
        company_name,
      </if>
      <if test="mat_type != null and mat_type != ''">
        mat_type,
      </if>
      <if test="type_name != null and type_name != ''">
        type_name,
      </if>
      <if test="mat_no_prefix != null and mat_no_prefix != ''">
        mat_no_prefix,
      </if>
      <if test="procure_style != null and procure_style != ''">
        procure_style,
      </if>
      <if test="unit != null and unit !=''">
        unit,
      </if>
      <if test="bin_no != null and bin_no != ''">
        bin_no,
      </if>
      <if test="uid != null and uid != ''">
        handler_id,
      </if>
      <if test="handled_time != null and handled_time != ''">
        handled_time,
      </if>
      <if test=" is_qc != null and  is_qc != ''">
        is_qc,
      </if>
      <if test=" store_house_id != null and  store_house_id != ''">
        store_house_id,
      </if>
      <if test=" store_house_name != null and  store_house_name != ''">
        store_house_name,
      </if>
      <if test=" bin_name != null and  bin_name != ''">
        bin_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="company_id != null and company_id != ''">
        #{company_id,jdbcType=VARCHAR},
      </if>
      <if test="company_name != null and company_name != ''">
        #{company_name,jdbcType=VARCHAR},
      </if>
      <if test="mat_type != null and mat_type != ''">
        #{mat_type,jdbcType=VARCHAR},
      </if>
      <if test="type_name != null and type_name != ''">
        #{type_name,jdbcType=VARCHAR},
      </if>
      <if test="mat_no_prefix != null and mat_no_prefix != ''">
        #{mat_no_prefix,jdbcType=VARCHAR},
      </if>
      <if test="procure_style != null and procure_style != ''">
        #{procure_style,jdbcType=TINYINT},
      </if>
      <if test="unit != null and unit !=''">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="bin_no != null and bin_no != ''">
        #{bin_no,jdbcType=VARCHAR},
      </if>
      <if test="uid != null and uid != ''">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="handled_time != null and handled_time != ''">
        #{handled_time,jdbcType=TIMESTAMP},
      </if>
      <if test=" is_qc != null and  is_qc != ''">
        #{is_qc},
      </if>
      <if test=" store_house_id != null and  store_house_id != ''">
        #{store_house_id},
      </if>
       <if test=" store_house_name != null and  store_house_name != ''">
        #{store_house_name},
      </if>
       <if test=" bin_name != null and  bin_name != ''">
        #{bin_name},
      </if>
    </trim>
  </insert>

  <update id="updateIvMatTypeModify" parameterType="map">
      update bm_mat_type
      <set>
        <if test="is_qc != null and is_qc != ''">
          is_qc= #{is_qc},
        </if>
         <if test="store_house_id != null and store_house_id != ''">
           store_house_id= #{store_house_id},
        </if>
         <if test="bin_name != null and bin_name != ''">
           bin_name= #{bin_name},
        </if>
         <if test="store_house_name != null and store_house_name != ''">
           store_house_name= #{store_house_name},
        </if>
        <if test="mat_type != null and mat_type != ''">
          mat_type= #{mat_type,jdbcType=VARCHAR},
        </if>
        <if test="type_name != null and type_name != ''">
          type_name= #{type_name,jdbcType=VARCHAR},
        </if>
        <if test="mat_no_prefix != null and mat_no_prefix != ''">
          mat_no_prefix= #{mat_no_prefix,jdbcType=VARCHAR},
        </if>
        <if test="procure_style != null and procure_style != ''">
          procure_style=#{procure_style,jdbcType=TINYINT},
        </if>
        <if test="unit != null and unit !=''">
          unit=#{unit,jdbcType=VARCHAR},
        </if>
        <if test="bin_no != null and bin_no != ''">
          bin_no= #{bin_no,jdbcType=VARCHAR},
        </if>
        <if test="uid != null and uid != ''">
          handler_id= #{uid,jdbcType=VARCHAR},
        </if>
        <if test="handled_time != null and handled_time != ''">
          handled_time= #{handled_time,jdbcType=TIMESTAMP}
        </if>
      </set>
    WHERE  id =#{mat_type_id}
  </update>

  <!--直接物理删除 物料类型-->
  <delete id="delectMatType" parameterType="java.lang.Long">
    DELETE  FROM bm_mat_type
    WHERE  id = #{mat_type_id}
  </delete>

  <select id="selectBMatTypeModify" parameterType="map" resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List"/>
       FROM  bm_mat_type
    WHERE
      id = #{mat_type_id}
  </select>
    
</mapper>