<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.bm.common.dao.MtMatTypeMapper">
  <resultMap id="BaseResultMap" type="com.mt.bm.common.model.MtMatType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mat_type" jdbcType="VARCHAR" property="matType" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="mat_no_prefix" jdbcType="VARCHAR" property="matNoPrefix" />
    <result column="procure_style" jdbcType="TINYINT" property="procureStyle" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="bin_no" jdbcType="VARCHAR" property="binNo" />
    <result column="handler_id" jdbcType="VARCHAR" property="handlerId" />
    <result column="handled_time" jdbcType="TIMESTAMP" property="handledTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mat_type, type_name, type_desc, mat_no_prefix, procure_style, unit, bin_no, handler_id, 
    handled_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bm_mt_mat_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bm_mt_mat_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.bm.common.model.MtMatType">
    insert into bm_mt_mat_type (id, mat_type, type_name, 
      type_desc, mat_no_prefix, procure_style, 
      unit, bin_no, handler_id, 
      handled_time)
    values (#{id,jdbcType=BIGINT}, #{matType,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{typeDesc,jdbcType=VARCHAR}, #{matNoPrefix,jdbcType=VARCHAR}, #{procureStyle,jdbcType=TINYINT}, 
      #{unit,jdbcType=VARCHAR}, #{binNo,jdbcType=VARCHAR}, #{handlerId,jdbcType=VARCHAR}, 
      #{handledTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.bm.common.model.MtMatType">
    insert into bm_mt_mat_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="matType != null">
        mat_type,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="matNoPrefix != null">
        mat_no_prefix,
      </if>
      <if test="procureStyle != null">
        procure_style,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="binNo != null">
        bin_no,
      </if>
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="handledTime != null">
        handled_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="matType != null">
        #{matType,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="matNoPrefix != null">
        #{matNoPrefix,jdbcType=VARCHAR},
      </if>
      <if test="procureStyle != null">
        #{procureStyle,jdbcType=TINYINT},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="binNo != null">
        #{binNo,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null">
        #{handlerId,jdbcType=VARCHAR},
      </if>
      <if test="handledTime != null">
        #{handledTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.bm.common.model.MtMatType">
    update bm_mt_mat_type
    <set>
      <if test="matType != null">
        mat_type = #{matType,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        type_desc = #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="matNoPrefix != null">
        mat_no_prefix = #{matNoPrefix,jdbcType=VARCHAR},
      </if>
      <if test="procureStyle != null">
        procure_style = #{procureStyle,jdbcType=TINYINT},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="binNo != null">
        bin_no = #{binNo,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null">
        handler_id = #{handlerId,jdbcType=VARCHAR},
      </if>
      <if test="handledTime != null">
        handled_time = #{handledTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.bm.common.model.MtMatType">
    update bm_mt_mat_type
    set mat_type = #{matType,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      type_desc = #{typeDesc,jdbcType=VARCHAR},
      mat_no_prefix = #{matNoPrefix,jdbcType=VARCHAR},
      procure_style = #{procureStyle,jdbcType=TINYINT},
      unit = #{unit,jdbcType=VARCHAR},
      bin_no = #{binNo,jdbcType=VARCHAR},
      handler_id = #{handlerId,jdbcType=VARCHAR},
      handled_time = #{handledTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--Alnwick 添加-->

  <select id="selectMtMat" resultType="map" parameterType="list">
    SELECT
    mat_name as mat_desc,mat_id,mat_no,mat_type_id,mat_type_name
    FROM  bm_mat
    WHERE
      <if test='is_include_process_type=="0"'>
            mat_type_id not in (select id from bm_mt_mat_type where mat_type in ('MFG','MSEM','MELC'))   and
      </if>
             company_id =#{company_id}
      <if test="param != null and param.size()>0">
        and  mat_type_id IN
            <foreach collection="param" item="list" open="(" separator="," close=")">
             #{list}
            </foreach>
      </if>
  </select>


  <select id="selectMatIds" parameterType="list" resultType="map">
    SELECT
            mat_type_id
    FROM    bm_mat
    WHERE
             mat_id IN
          <foreach collection="list" item="list" open="(" separator="," close=")">
            #{list}
          </foreach>
  </select>
</mapper>