<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.bm.common.dao.RawnatureMapper">
  <resultMap id="BaseResultMap" type="com.mt.bm.common.model.Rawnature">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="rawnature_type" jdbcType="VARCHAR" property="rawnatureType" />
    <result column="rawnature_name" jdbcType="VARCHAR" property="rawnatureName" />
    <result column="density" jdbcType="DECIMAL" property="density" />
    <result column="density_unit" jdbcType="VARCHAR" property="densityUnit" />
    <result column="procure_price" jdbcType="DECIMAL" property="procurePrice" />
    <result column="first_provider" jdbcType="VARCHAR" property="firstProvider" />
    <result column="is_unused" jdbcType="CHAR" property="isUnused" />
    <result column="handler_id" jdbcType="VARCHAR" property="handlerId" />
    <result column="handled_time" jdbcType="TIMESTAMP" property="handledTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, company_name, rawnature_type, rawnature_name, density, density_unit, 
    procure_price, first_provider, is_unused, handler_id, handled_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bm_rawnature
    where id = #{id}
  </select>
  <select id="selectRawnatureAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bm_rawnature
    WHERE company_id=#{companyId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bm_rawnature
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.bm.common.model.Rawnature">
    insert into bm_rawnature (id, company_id, company_name, 
      rawnature_type, rawnature_name, density, 
      density_unit, procure_price, first_provider, 
      is_unused, handler_id, handled_time
      )
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{rawnatureType,jdbcType=VARCHAR}, #{rawnatureName,jdbcType=VARCHAR}, #{density,jdbcType=DECIMAL}, 
      #{densityUnit,jdbcType=VARCHAR}, #{procurePrice,jdbcType=DECIMAL}, #{firstProvider,jdbcType=VARCHAR}, 
      #{isUnused,jdbcType=CHAR}, #{handlerId,jdbcType=VARCHAR}, #{handledTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.bm.common.model.Rawnature">
    insert into bm_rawnature
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="rawnatureType != null">
        rawnature_type,
      </if>
      <if test="rawnatureName != null">
        rawnature_name,
      </if>
      <if test="density != null">
        density,
      </if>
      <if test="densityUnit != null">
        density_unit,
      </if>
      <if test="procurePrice != null">
        procure_price,
      </if>
      <if test="firstProvider != null">
        first_provider,
      </if>
      <if test="isUnused != null">
        is_unused,
      </if>
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="handledTime != null">
        handled_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="rawnatureType != null">
        #{rawnatureType,jdbcType=VARCHAR},
      </if>
      <if test="rawnatureName != null">
        #{rawnatureName,jdbcType=VARCHAR},
      </if>
      <if test="density != null">
        #{density,jdbcType=DECIMAL},
      </if>
      <if test="densityUnit != null">
        #{densityUnit,jdbcType=VARCHAR},
      </if>
      <if test="procurePrice != null">
        #{procurePrice,jdbcType=DECIMAL},
      </if>
      <if test="firstProvider != null">
        #{firstProvider,jdbcType=VARCHAR},
      </if>
      <if test="isUnused != null">
        #{isUnused,jdbcType=CHAR},
      </if>
      <if test="handlerId != null">
        #{handlerId,jdbcType=VARCHAR},
      </if>
      <if test="handledTime != null">
        #{handledTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.bm.common.model.Rawnature">
    update bm_rawnature
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="rawnatureType != null">
        rawnature_type = #{rawnatureType,jdbcType=VARCHAR},
      </if>
      <if test="rawnatureName != null">
        rawnature_name = #{rawnatureName,jdbcType=VARCHAR},
      </if>
      <if test="density != null">
        density = #{density,jdbcType=DECIMAL},
      </if>
      <if test="densityUnit != null">
        density_unit = #{densityUnit,jdbcType=VARCHAR},
      </if>
      <if test="procurePrice != null">
        procure_price = #{procurePrice,jdbcType=DECIMAL},
      </if>
      <if test="firstProvider != null">
        first_provider = #{firstProvider,jdbcType=VARCHAR},
      </if>
      <if test="isUnused != null">
        is_unused = #{isUnused,jdbcType=CHAR},
      </if>
      <if test="handlerId != null">
        handler_id = #{handlerId,jdbcType=VARCHAR},
      </if>
      <if test="handledTime != null">
        handled_time = #{handledTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.bm.common.model.Rawnature">
    update bm_rawnature
    set company_id = #{companyId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      rawnature_type = #{rawnatureType,jdbcType=VARCHAR},
      rawnature_name = #{rawnatureName,jdbcType=VARCHAR},
      density = #{density,jdbcType=DECIMAL},
      density_unit = #{densityUnit,jdbcType=VARCHAR},
      procure_price = #{procurePrice,jdbcType=DECIMAL},
      first_provider = #{firstProvider,jdbcType=VARCHAR},
      is_unused = #{isUnused,jdbcType=CHAR},
      handler_id = #{handlerId,jdbcType=VARCHAR},
      handled_time = #{handledTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <!--Alnwick 添加  -->

  <select id="selectRawNatureList"  resultType="Map" parameterType="Map">
     SELECT  density,procure_price,rawnature_name as raw_nature ,id as raw_nature_id from bm_rawnature WHERE company_id=#{companyId}
  </select>


</mapper>