<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mt.iv.common.dao.MaterialStorageMapper">


    
    <select id="selectBillSearch" parameterType="map" resultType="map">
       SELECT ${bill_no} as bill_no from  ${table}
            where
                <if test="query.bill_no != null and query.bill_no != ''">
                    ${bill_no}  REGEXP  #{query.bill_no}    and
                </if>
                <if test='trans_direction == "0".toString'>
                    trans_direction = 0 and
                </if>
                <if test='trans_direction == "1".toString'>
                    trans_direction = 1 and
                </if>
                 company_id=#{company_id}  and  status = 1 limit #{page},#{page_size}

    </select>

    <select id="selectBillSearchTotalCount" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT(id)
        from  ${table}
        where
        <if test="query.bill_no != null and query.bill_no != ''">
            ${bill_no}  REGEXP #{query.bill_no}    and
        </if>
        <if test='trans_direction == "0".toString'>
            trans_direction = 0 and
        </if>
        <if test='trans_direction == "1".toString'>
            trans_direction = 1 and
        </if>
        company_id=#{company_id}  and  status = 1
    </select>

    <!--查询入库初始数据  -->

    <select id="selectQueryDataMP" parameterType="map" resultType="map">
         select
                 a.*,b.*
            from
                    (SELECT   ppos.id as detail_id,ppos.mat_desc,ppos.mat_id,ppos.mat_type_id,ppos.mat_type_name,ppos.id as purch_sub_id,
                                  ppos.mat_no,ppos.mat_model,ppos.process_cost,ppos.process_up,ppos.unit,ppos.up,ppos.weight,
                                  ppos.total_price,ppos.purch_id, (ppo.total_qty - ppo.received_qty) as quantity,ppo.company_name
                          from pc_purch_order_sub ppos  LEFT join  pc_purch_order ppo on ppos.purch_id = ppo.id
                          where ppo.purch_no= #{bill_no} and approve_grade2_step in ('step0','step00') or approve_price_step in ('step0','step00') and ppo.status =1 and (ppo.total_qty - ppo.received_qty) >0) a
            LEFT  JOIN
                    (select store_house_id,store_house_name,store_room_id,store_room_name,mat_id as mid FROM iv_store_room) b
            on a.mat_id = b.mid
    </select>

    <select id="selectQueryDataPZ" parameterType="map"  resultType="map">
        SELECT
       a.*,b.store_house_name,b.store_room_name,b.stock_qty
        FROM
        (SELECT id as detail_id,mat_desc,mat_id,mat_type_id,mat_type_name,
                  mat_no,mat_model,unit,voucher_weight as weight,sum(voucher_qty) as quantity ,
                  voucher_price as total_price,store_room_id ,store_house_id
        FROM      voucher
        WHERE      voucher_no = #{bill_no} and trans_direction = 1 or parent_voucher_id =#{detail_id} or id = #{detail_id} ) a
        LEFT JOIN
        (SELECT    isr.id,isr.store_house_name,isr.store_room_name ,isr.stock_qty,isr.mat_id
        FROM      iv_store_room as isr, iv_store_room_conf as isrf
        WHERE     isr.store_room_id = isrf.id) b
            on    a.store_room_id = b.id and a.mat_id = b.mat_id
    </select>

    <!--根据送货单 单号查出送货数量 金额，关联采购单。并判断数量-->
    <select id="selectPurchNo" parameterType="java.lang.String" resultType="map">
        select
        a.*,b.*
        from
        (SELECT pd.total_price,pds.delivery_qty as quantity,
       ppos.id as purch_sub_id,ppos.mat_desc,ppos.mat_id,ppos.mat_type_id,ppos.mat_type_name,ppo.company_name,
        ppos.mat_no,ppos.mat_model,ppos.process_cost,ppos.process_up,ppos.unit,ppos.up,ppos.weight,ppos.purch_id
        from pc_delivery pd ,pc_delivery_sub pds, pc_purch_order_sub ppos ,pc_purch_order ppo
        where pds.delivery_id = pd.id and pd.delivery_no=#{bill_no} and ppos.purch_id = ppo.id and pds.delivery_qty &lt;= (ppo.total_qty - ppo.received_qty)  and ppo.purch_no = pd.purch_no) a
        LEFT  JOIN
        (select store_house_id,store_house_name,store_room_id,store_room_name,mat_id as mid FROM iv_store_room) b
        on a.mat_id = b.mid
    </select>


    <!--根据 部门 查询对应的出入库凭证-->
    <select id="getDepIdVoucherNoList" resultType="map" parameterType="map">
         SELECT b.voucher_no from voucher_dept  a  LEFT JOIN voucher b  on a.voucher_id = b.id WHERE b.status = 1 and b.company_id =#{company_id} and b.is_fully_withdrew =#{query.type}
    </select>

    <select id="getBillNoVoucherList" resultType="map" parameterType="map">
          SELECT b.voucher_no from ${table}  a  LEFT JOIN voucher b  on a.voucher_id = b.id
          WHERE b.status = 1  and b.is_fully_withdrew =#{query.type}
          and b.company_id = #{company_id} and a.${bill} =#{query.bill_no}
    </select>


    <insert id="addDepIdIvStore" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  >
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO  voucher
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="trans_type != null and trans_type != ''" >
                trans_type,
            </if>
            <if test="detail_id != null and detail_id != ''" >
                parent_voucher_id,
            </if>
            <if test="company_id != null and company_id != ''" >
                company_id,
            </if>
            <if test="company_name != null and company_name != ''" >
                company_name,
            </if>
            <if test="voucher_no != null and voucher_no != ''" >
                voucher_no,
            </if>
            <if test="1 == 1" >
                trans_direction,
            </if>
            <if test="mat_id != null and mat_id != ''" >
                mat_id,
            </if>
            <if test="mat_no != null and mat_no != ''" >
                mat_no,
            </if>
            <if test="mat_desc != null and mat_desc !=''" >
                mat_desc,
            </if>
            <if test="mat_type_id != null and mat_type_id !=''" >
                mat_type_id,
            </if>
            <if test="mat_type_name != null and mat_type_name !=''" >
                mat_type_name,
            </if>
            <if test="mat_model != null and mat_model != ''" >
                mat_model,
            </if>
            <if test="store_house_id != null and store_house_id != ''" >
                store_house_id,
            </if>
            <if test="store_room_id != null and store_room_id != ''" >
                store_room_id,
            </if>
            <if test="handle_time != null" >
                trans_date,
            </if>
            <if test="handle_time != null" >
                chalkup_date,
            </if>
            <if test="quantity != null and quantity != ''" >
                voucher_qty,
            </if>
            <if test="total_price != null and total_price != ''" >
                voucher_price,
            </if>
            <if test="voucher_piece_count != null" >
                voucher_piece_count,
            </if>
            <if test="voucher_up != null" >
                voucher_up,
            </if>
            <if test="rawnature_id != null" >
                rawnature_id,
            </if>
            <if test="rawnature_name != null" >
                rawnature_name,
            </if>
            <if test="unit != null and unit != ''" >
                unit,
            </if>
            <if test="indent_no != null" >
                indent_no,
            </if>
            <if test="voucher_head != null" >
                voucher_head,
            </if>
            <if test="uid != null " >
                handler_id,
            </if>
            <if test="handle_time != null" >
                handle_time,
            </if>
            <if test="weight != null and weight != ''" >
                voucher_weight,
            </if>
            <if test="pg_id != null" >
                pg_id,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="handle_time != null" >
                created_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="trans_type != null and trans_type != ''" >
                #{trans_type,jdbcType=INTEGER},
            </if>
            <if test="detail_id != null and detail_id != ''" >
                #{detail_id,jdbcType=INTEGER},
            </if>
            <if test="company_id != null and company_id != ''" >
                #{company_id,jdbcType=INTEGER},
            </if>
            <if test="company_name != null and company_name != ''" >
                #{company_name,jdbcType=VARCHAR},
            </if>
            <if test="voucher_no != null and voucher_no != ''" >
                #{voucher_no,jdbcType=VARCHAR},
            </if>
            <if test="1 == 1" >
                1,
            </if>
            <if test="mat_id != null and mat_id != ''" >
                #{mat_id,jdbcType=BIGINT},
            </if>
            <if test="mat_no != null and mat_no != ''" >
                #{mat_no,jdbcType=VARCHAR},
            </if>
            <if test="mat_desc != null and mat_desc !=''" >
                #{mat_desc,jdbcType=VARCHAR},
            </if>
            <if test="mat_type_id != null and mat_type_id !=''" >
                #{mat_type_id,jdbcType=BIGINT},
            </if>
            <if test="mat_type_name != null and mat_type_name !=''" >
                #{mat_type_name,jdbcType=VARCHAR},
            </if>
            <if test="mat_model != null and mat_model != ''" >
                #{mat_model,jdbcType=VARCHAR},
            </if>
            <if test="store_house_id != null and store_house_id != ''" >
                #{store_house_id,jdbcType=INTEGER},
            </if>
            <if test="store_room_id != null and store_room_id != ''" >
                #{store_room_id,jdbcType=INTEGER},
            </if>
            <if test="handle_time != null" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
            <if test="handle_time != null" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
            <if test="quantity != null and quantity != ''" >
                #{quantity,jdbcType=DECIMAL},
            </if>
            <if test="total_price != null and total_price != ''" >
                #{total_price,jdbcType=DECIMAL},
            </if>
            <if test="voucher_piece_count != null" >
                #{voucher_piece_count,jdbcType=INTEGER},
            </if>
            <if test="voucher_up != null" >
                #{voucher_up,jdbcType=DECIMAL},
            </if>
            <if test="rawnature_id != null" >
                #{rawnature_id,jdbcType=BIGINT},
            </if>
            <if test="rawnature_name != null" >
                #{rawnature_name,jdbcType=VARCHAR},
            </if>
            <if test="unit != null and unit != ''" >
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="indent_no != null" >
                #{indent_no,jdbcType=VARCHAR},
            </if>
            <if test="voucher_head != null" >
                #{voucher_head,jdbcType=VARCHAR},
            </if>
            <if test="uid != null " >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="handle_time != null" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
            <if test="weight != null and weight != ''" >
                #{weight,jdbcType=DECIMAL},
            </if>
            <if test="pg_id != null" >
                #{pg_id,jdbcType=BIGINT},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="handle_time != null" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--部门收货退货-->
    <insert id="addvoucherDept" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  >
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into voucher_dept
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="company_id != null and company_id != ''" >
                company_id,
            </if>
            <if test="company_name != null and company_name != ''" >
                company_name,
            </if>
            <if test="voucher_id != null and voucher_id != ''" >
                voucher_id,
            </if>
            <if test="dep_id != null and dep_id != ''" >
                dep_id,
            </if>
            <if test="dep_name != null and dep_name != ''" >
                dep_name,
            </if>
            <if test="uid != null and uid != ''" >
                handler_id,
            </if>
            <if test="handle_time != null and handle_time != ''" >
                created_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="company_id != null and company_id != ''" >
                #{company_id,jdbcType=INTEGER},
            </if>
            <if test="company_name != null and company_name != ''" >
                #{company_name,jdbcType=VARCHAR},
            </if>
            <if test="voucher_id != null and voucher_id != ''" >
                #{voucher_id,jdbcType=BIGINT},
            </if>
            <if test="dep_id != null and dep_id != ''" >
                #{dep_id,jdbcType=INTEGER},
            </if>
            <if test="dep_name != null and dep_name != ''" >
                #{dep_name,jdbcType=VARCHAR},
            </if>
            <if test="uid != null and uid != ''" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="handle_time != null and handle_time != ''" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <update id="updateQuantityTotalProce" parameterType="map">
      UPDATE  iv_store_room isr , iv_store_house ish ,iv_store iv
        SET    isr.total_price = isr.total_price+${total_price} ,isr.stock_qty = isr.stock_qty+${quantity},
                ish.total_price = ish.total_price+${total_price} ,ish.stock_qty=ish.stock_qty+${quantity},
                iv.total_price=iv.total_price+${total_price},iv.stock_qty=iv.stock_qty+${quantity},
                isr.created_at =#{handle_time} ,ish.created_at  =#{handle_time} ,iv.created_at =#{handle_time}
        WHERE  isr.store_room_id=#{store_room_id} and isr.mat_id = #{mat_id}
			    and ish.store_house_id= #{store_house_id} and ish.mat_id=#{mat_id}
			    and iv.company_id =#{company_id} and iv.mat_id = #{mat_id}
    </update>


    <!--采购收货退货-->
    <insert id="addVoucherPurch"  useGeneratedKeys="true" keyProperty="id" keyColumn="id"  >
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into voucher_purch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="company_id != null and company_id !=''">
                company_id,
            </if>
            <if test="company_name != null and company_name != ''">
                company_name,
            </if>
            <if test="voucher_id != null and voucher_id !=''">
                voucher_id,
            </if>
            <if test="purch_id != null and purch_id != ''">
                purch_id,
            </if>
            <if test="purch_sub_id != null and purch_sub_id != ''">
                purch_sub_id,
            </if>
            <if test="bill_no != null and bill_no != ''">
                purch_no,
            </if>
            <if test="is_stock_in_finished != null and is_stock_in_finished != ''">
                is_stock_in_finished,
            </if>
            <if test="uid != null and uid != '' ">
                handler_id,
            </if>
            <if test="is_check != null and is_check != ''">
                is_check,
            </if>
            <if test="handle_time != null">
                created_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="company_id != null and company_id !=''">
                #{company_id,jdbcType=INTEGER},
            </if>
            <if test="company_name != null and company_name != ''">
                #{company_name,jdbcType=VARCHAR},
            </if>
            <if test="voucher_id != null and voucher_id !=''">
                #{voucher_id,jdbcType=BIGINT},
            </if>
            <if test="purch_id != null and purch_id != ''">
                #{purch_id,jdbcType=BIGINT},
            </if>
            <if test="purch_sub_id != null and purch_sub_id != ''">
                #{purch_sub_id,jdbcType=BIGINT},
            </if>
            <if test="bill_no != null and bill_no != ''">
                #{bill_no,jdbcType=VARCHAR},
            </if>
            <if test="is_stock_in_finished != null and is_stock_in_finished != ''">
                #{is_stock_in_finished,jdbcType=CHAR},
            </if>
            <if test="uid != null and uid != '' ">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="is_check != null and is_check != ''">
                #{is_check,jdbcType=BIT},
            </if>
            <if test="handle_time != null">
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--根据送货单号 查询 采购单号-->
    <select id="selectPcDeliveryPurchNo"  parameterType="java.lang.String"  resultType="java.lang.String">
          SELECT purch_no from pc_delivery where delivery_no = #{bill_no} and status = 1
    </select>

    <!--根据单号 查询 移动类型-->
    <select id="selectTransType" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT trans_type from voucher WHERE voucher_no = #{voucher_no}
    </select>

    <!--采购单已入库数量增加-->
    <update id="updatePurchQuantity" parameterType="map">
        UPDATE  pc_purch_order_sub ppos , pc_purch_order ppo
        SET
              <if test="order_flag != null" >
                ppos.order_flag = #{order_flag,jdbcType=INTEGER},
              </if>
              ppos.received_qty = ppos.received_qty+${quantity} ,ppo.received_qty=ppo.received_qty+${quantity},
              ppo.handler_id=#{uid},ppo.updated_at = #{handle_time}
        where
            <if test='DM != "DM"'>
                ppo.purch_no = #{bill_no} and
            </if>
            <if test='DM == "DM"'>
                ppo.purch_no = (SELECT purch_no from pc_delivery where delivery_no=#{bill_no}) and
            </if>
              ppos.mat_id = #{mat_id}
    </update>

</mapper>