<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mt.iv.common.dao.MaterialOutgoingMapper">
        <select id="selectQueryDataPZ" resultType="map" parameterType="map">
             SELECT
               a.*,b.store_house_name,b.store_room_name,b.stock_qty
            FROM
                (SELECT id as detail_id,mat_desc,mat_id,mat_type_id,mat_type_name,
                  mat_no,mat_model,unit,voucher_weight as weight,voucher_qty as quantity ,
                  voucher_price as total_price,store_room_id ,store_house_id from voucher  WHERE voucher_no = #{bill_no} and  trans_direction = 0 or parent_voucher_id =#{detail_id} or id = #{detail_id} ) a
            LEFT JOIN iv_store_room b  on  a.store_room_id = b.store_room_id and a.store_house_id = b.store_house_id
        </select>

    <select id="selectQueryDataDA" resultType="map" parameterType="map">
        SELECT
               a.*,b.*
        FROM
        (SELECT  DISTINCT  iambs.mat_desc,iambs.mat_id,iambs.mat_type_id,iambs.mat_type_name,
                  iambs.mat_no,iambs.mat_model, iambs.unit,iambs.weight,
                  iamb.total_price, (iambs.quantity-iambs.applied_qty) quantity,
                  iambs.store_house_id,iambs.store_room_id
        from      iv_apply_mat_bill iamb  LEFT  join  iv_apply_mat_bill_sub iambs on iambs.apply_id = iamb.id
        where     iamb.apply_no=#{bill_no} and iamb.status =1 and iamb.approve_step='step0' and (iambs.quantity-iambs.applied_qty)>0
									and (iamb.total_qty-iamb.applied_qty)>0) a
		LEFT JOIN
        (SELECT   isrf.id,isr.store_house_name,isr.store_room_name ,isr.stock_qty ,isr.mat_id as mid from iv_store_room as isr,
                    iv_store_room_conf as isrf where isr.store_room_id = isrf.id and isr.store_house_id=isrf.store_house_id ) b
				on  a.mat_id = b.mid and  a.store_room_id=b.id

    </select>



    <select id="selectQueryDataCO" resultType="map" parameterType="map" >
        select  DISTINCT  a.*,b.*
        FROM
		    (select  isr.mat_desc,isr.mat_id,isr.mat_model,isr.mat_no,isr.mat_type_id,
                isr.mat_type_name,isr.store_house_id,isr.store_house_name,isr.store_room_name,isr.store_room_id,
                isr.stock_qty,isr.unit
                from  iv_store_house ish,iv_store_room isr
                WHERE ish.store_house_id = isr.store_house_id ) a
        RIGHT  JOIN
              (SELECT m.mold_no,pn.count as quantity,pn.price as  total_price,pn.project_id
                FROM project_not_hw pn,mold m,project p
                 WHERE p.project_no=#{bill_no} and p.id = pn.project_id and pn.id = m.project_not_hw_id and p.approve_step='step0' and pn.status=1) b
            on a.mat_no = b.mold_no
    </select>



    <insert id="addOutDepIdIvStore"  useGeneratedKeys="true" keyProperty="id" keyColumn="id"  >
    <selectKey resultType="int" order="AFTER" keyProperty="id">
        SELECT LAST_INSERT_ID() as id
    </selectKey>
        INSERT  INTO voucher
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="trans_type != null and trans_type != ''" >
                trans_type,
            </if>
            <if test="detail_id != null and detail_id != ''" >
                parent_voucher_id,
            </if>
            <if test="company_id != null and company_id != ''" >
                company_id,
            </if>
            <if test="company_name != null and company_name != ''" >
                company_name,
            </if>
            <if test="voucher_no != null and voucher_no != ''" >
                voucher_no,
            </if>
            <if test="1 == 1" >
                trans_direction,
            </if>
            <if test="mat_id != null and mat_id != ''" >
                mat_id,
            </if>
            <if test="mat_no != null and mat_no != ''" >
                mat_no,
            </if>
            <if test="mat_desc != null and mat_desc !=''" >
                mat_desc,
            </if>
            <if test="mat_type_id != null and mat_type_id !=''" >
                mat_type_id,
            </if>
            <if test="mat_type_name != null and mat_type_name !=''" >
                mat_type_name,
            </if>
            <if test="mat_model != null and mat_model != ''" >
                mat_model,
            </if>
            <if test="store_house_id != null and store_house_id != ''" >
                store_house_id,
            </if>
            <if test="store_room_id != null and  store_room_id != ''" >
                store_room_id,
            </if>
            <if test="handle_time != null" >
                trans_date,
            </if>
            <if test="handle_time != null" >
                chalkup_date,
            </if>
            <if test="quantity != null and quantity != ''" >
                voucher_qty,
            </if>
            <if test="total_price != null and total_price != ''" >
                voucher_price,
            </if>
            <if test="voucher_piece_count != null" >
                voucher_piece_count,
            </if>
            <if test="voucher_up != null" >
                voucher_up,
            </if>
            <if test="rawnature_id != null" >
                rawnature_id,
            </if>
            <if test="rawnature_name != null" >
                rawnature_name,
            </if>
            <if test="unit != null and unit != ''" >
                unit,
            </if>
            <if test="indent_no != null" >
                indent_no,
            </if>
            <if test="voucher_head != null" >
                voucher_head,
            </if>
            <if test="uid != null " >
                handler_id,
            </if>
            <if test="handle_time != null" >
                handle_time,
            </if>
            <if test="weight != null and weight != ''" >
                voucher_weight,
            </if>
            <if test="pg_id != null" >
                pg_id,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="handle_time != null" >
                created_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="trans_type != null and trans_type != ''" >
                #{trans_type,jdbcType=INTEGER},
            </if>
            <if test="detail_id != null and detail_id != ''" >
                #{detail_id,jdbcType=INTEGER},
            </if>
            <if test="company_id != null and company_id != ''" >
                #{company_id,jdbcType=INTEGER},
            </if>
            <if test="company_name != null and company_name != ''" >
                #{company_name,jdbcType=VARCHAR},
            </if>
            <if test="voucher_no != null and voucher_no != ''" >
                #{voucher_no,jdbcType=VARCHAR},
            </if>
            <if test="1 == 1" >
                0,
            </if>
            <if test="mat_id != null and mat_id != ''" >
                #{mat_id,jdbcType=BIGINT},
            </if>
            <if test="mat_no != null and mat_no != ''" >
                #{mat_no,jdbcType=VARCHAR},
            </if>
            <if test="mat_desc != null and mat_desc !=''" >
                #{mat_desc,jdbcType=VARCHAR},
            </if>
            <if test="mat_type_id != null and mat_type_id !=''" >
                #{mat_type_id,jdbcType=BIGINT},
            </if>
            <if test="mat_type_name != null and mat_type_name !=''" >
                #{mat_type_name,jdbcType=VARCHAR},
            </if>
            <if test="mat_model != null and mat_model != ''" >
                #{mat_model,jdbcType=VARCHAR},
            </if>
            <if test="store_house_id != null and store_house_id != ''" >
                #{store_house_id,jdbcType=INTEGER},
            </if>
            <if test="store_room_id != null and store_room_id != ''" >
                #{store_room_id,jdbcType=INTEGER},
            </if>
            <if test="handle_time != null" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
            <if test="handle_time != null" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
            <if test="quantity != null and quantity != ''" >
                #{quantity,jdbcType=DECIMAL},
            </if>
            <if test="total_price != null and total_price != ''" >
                #{total_price,jdbcType=DECIMAL},
            </if>
            <if test="voucher_piece_count != null" >
                #{voucher_piece_count,jdbcType=INTEGER},
            </if>
            <if test="voucher_up != null" >
                #{voucher_up,jdbcType=DECIMAL},
            </if>
            <if test="rawnature_id != null" >
                #{rawnature_id,jdbcType=BIGINT},
            </if>
            <if test="rawnature_name != null" >
                #{rawnature_name,jdbcType=VARCHAR},
            </if>
            <if test="unit != null and unit != ''" >
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="indent_no != null" >
                #{indent_no,jdbcType=VARCHAR},
            </if>
            <if test="voucher_head != null" >
                #{voucher_head,jdbcType=VARCHAR},
            </if>
            <if test="uid != null " >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="handle_time != null" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
            <if test="weight != null and weight != ''" >
                #{weight,jdbcType=DECIMAL},
            </if>
            <if test="pg_id != null" >
                #{pg_id,jdbcType=BIGINT},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="handle_time != null" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--部门收货退货-->
    <insert id="addOutVoucherDept" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  >
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into voucher_dept
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="company_id != null and company_id != ''" >
                company_id,
            </if>
            <if test="company_name != null and company_name != ''" >
                company_name,
            </if>
            <if test="voucher_id != null and voucher_id != ''" >
                voucher_id,
            </if>
            <if test="dep_id != null and dep_id != ''" >
                dep_id,
            </if>
            <if test="dep_name != null and dep_name != ''" >
                dep_name,
            </if>
            <if test="uid != null and uid != ''" >
                handler_id,
            </if>
            <if test="handle_time != null and handle_time != ''" >
                created_at,
            </if>
             <if test="apply_id != null and apply_id != ''" >
                 apply_id,
            </if>
             <if test="bill_no != null and bill_no != ''" >
                 apply_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="company_id != null and company_id != ''" >
                #{company_id,jdbcType=INTEGER},
            </if>
            <if test="company_name != null and company_name != ''" >
                #{company_name,jdbcType=VARCHAR},
            </if>
            <if test="voucher_id != null and voucher_id != ''" >
                #{voucher_id,jdbcType=BIGINT},
            </if>
            <if test="dep_id != null and dep_id != ''" >
                #{dep_id,jdbcType=INTEGER},
            </if>
            <if test="dep_name != null and dep_name != ''" >
                #{dep_name,jdbcType=VARCHAR},
            </if>
            <if test="uid != null and uid != ''" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="handle_time != null and handle_time != ''" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
             <if test="apply_id != null and apply_id != ''" >
                #{apply_id},
            </if>
            <if test="bill_no != null and bill_no != ''" >
                #{bill_no,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--根据领料单号查寻出ID-->
    <select id="selectApplyId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT id FROM iv_apply_mat_bill where apply_no = #{bill_no}
    </select>



    <!--根据物料编码 查询物料类型-->
    <select id="selectBomType" parameterType="java.lang.String" resultType="map">
        SELECT DISTINCT a.bom_type FROM bm_bom a LEFT JOIN mold b on a.mold_no =b.mold_no WHERE a.mold_no = #{mat_no}
    </select>


        <!--模号（模具发货出库） 模具领料单-->
    <insert id="addOutVoucherMold" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  >
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into voucher_mold
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="company_id != null and company_id != ''" >
                company_id,
            </if>
            <if test="company_name != null and company_name != ''" >
                company_name,
            </if>
            <if test="voucher_id != null and voucher_id != ''" >
                voucher_id,
            </if>
            <if test="apply_id != null and apply_id != ''" >
                apply_id,
            </if>
            <if test="bill_no != null and bill_no != ''" >
                apply_no,
            </if>
            <if test="uid != null and uid != ''" >
                handler_id,
            </if>
            <if test="handle_time != null and handle_time != ''" >
                created_at,
            </if>
            <if test="mat_no != null and mat_no != ''" >
                mold_no,
            </if>
            <if test="mold_out_type != null and mold_out_type != ''" >
                mold_out_type,
            </if>
            <if test="bom_type != null and bom_type != ''" >
                  bom_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="company_id != null and company_id != ''" >
                #{company_id,jdbcType=INTEGER},
            </if>
            <if test="company_name != null and company_name != ''" >
                #{company_name,jdbcType=VARCHAR},
            </if>
            <if test="voucher_id != null and voucher_id != ''" >
                #{voucher_id,jdbcType=BIGINT},
            </if>
            <if test="apply_id != null and apply_id != ''" >
                #{apply_id},
            </if>
            <if test="bill_no != null and bill_no != ''" >
                #{bill_no,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null and uid != ''" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="handle_time != null and handle_time != ''" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
            <if test="mat_no  != null and mat_no  != ''" >
                #{mat_no ,jdbcType=TIMESTAMP},
            </if>
            <if test="mold_out_type  != null and mold_out_type  != ''" >
                #{mold_out_type ,jdbcType=TIMESTAMP},
            </if>
             <if test="bom_type   != null and bom_type   != ''" >
                #{bom_type  ,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>



    <insert id="addoutVocherSell" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  >
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into  voucher_sell
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="company_id != null and company_id != ''" >
                company_id,
            </if>
            <if test="voucher_id != null and voucher_id != ''" >
                voucher_id,
            </if>
            <if test="project_id != null and project_id != ''" >
                project_id,
            </if>
            <if test="bill_no != null and bill_no != ''" >
                project_no,
            </if>
            <if test="uid != null and uid != ''" >
                handler_id,
            </if>
            <if test="handle_time != null and handle_time != ''" >
                created_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="company_id != null and company_id != ''" >
                #{company_id,jdbcType=INTEGER},
            </if>
            <if test="voucher_id != null and voucher_id != ''" >
                #{voucher_id,jdbcType=BIGINT},
            </if>
            <if test="project_id != null and project_id != ''" >
                #{project_id},
            </if>
            <if test="bill_no != null and bill_no != ''" >
                #{bill_no,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null and uid != ''" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="handle_time != null and handle_time != ''" >
                #{handle_time,jdbcType=TIMESTAMP},
            </if>
        </trim>

    </insert>

    <!--修改领料单 已领料数量-->
    <update id="updateApplyMatBill" parameterType="map">
          UPDATE
                iv_apply_mat_bill iamb ,iv_apply_mat_bill_sub iambs
            SET
                iambs.applied_qty=iambs.applied_qty+${quantity},iamb.applied_qty=iamb.applied_qty+${quantity},
                iambs.apply_uid=#{uid},iambs.updated_at=#{handle_time},iamb.updated_at=#{handle_time}
            WHERE iambs.apply_id=iamb.id and apply_no=#{bill_no}
    </update>

</mapper>