<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.iv.common.dao.VoucherMapper">
  <resultMap id="BaseResultMap" type="com.mt.iv.common.model.Voucher">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="parent_voucher_id" jdbcType="BIGINT" property="parentVoucherId" />
    <result column="is_fully_withdrew" jdbcType="CHAR" property="isFullyWithdrew" />
    <result column="voucher_no" jdbcType="VARCHAR" property="voucherNo" />
    <result column="trans_direction" jdbcType="CHAR" property="transDirection" />
    <result column="trans_id" jdbcType="VARCHAR" property="transId" />
    <result column="trans_type" jdbcType="VARCHAR" property="transType" />
    <result column="mat_id" jdbcType="BIGINT" property="matId" />
    <result column="mat_no" jdbcType="VARCHAR" property="matNo" />
    <result column="mat_desc" jdbcType="VARCHAR" property="matDesc" />
    <result column="mat_type_id" jdbcType="BIGINT" property="matTypeId" />
    <result column="mat_type_name" jdbcType="VARCHAR" property="matTypeName" />
    <result column="mat_model" jdbcType="VARCHAR" property="matModel" />
    <result column="store_house_id" jdbcType="INTEGER" property="storeHouseId" />
    <result column="store_room_id" jdbcType="INTEGER" property="storeRoomId" />
    <result column="trans_date" jdbcType="TIMESTAMP" property="transDate" />
    <result column="chalkup_date" jdbcType="TIMESTAMP" property="chalkupDate" />
    <result column="voucher_qty" jdbcType="DECIMAL" property="voucherQty" />
    <result column="voucher_price" jdbcType="DECIMAL" property="voucherPrice" />
    <result column="voucher_piece_count" jdbcType="INTEGER" property="voucherPieceCount" />
    <result column="voucher_up" jdbcType="DECIMAL" property="voucherUp" />
    <result column="rawnature_id" jdbcType="BIGINT" property="rawnatureId" />
    <result column="rawnature_name" jdbcType="VARCHAR" property="rawnatureName" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="indent_no" jdbcType="VARCHAR" property="indentNo" />
    <result column="voucher_head" jdbcType="VARCHAR" property="voucherHead" />
    <result column="handler_id" jdbcType="BIGINT" property="handlerId" />
    <result column="handle_time" jdbcType="TIMESTAMP" property="handleTime" />
    <result column="voucher_weight" jdbcType="DECIMAL" property="voucherWeight" />
    <result column="pg_id" jdbcType="BIGINT" property="pgId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, company_name, parent_voucher_id, is_fully_withdrew, voucher_no, trans_direction,
    trans_id, trans_type, mat_id, mat_no, mat_desc, mat_type_id, mat_type_name, mat_model,
    store_house_id, store_room_id, trans_date, chalkup_date, voucher_qty, voucher_price,
    voucher_piece_count, voucher_up, rawnature_id, rawnature_name, unit, indent_no, voucher_head,
    handler_id, handle_time, voucher_weight, pg_id, remark, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from voucher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from voucher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.iv.common.model.Voucher">
    insert into voucher (id, company_id, company_name,
    parent_voucher_id, is_fully_withdrew, voucher_no,
    trans_direction, trans_id, trans_type,
    mat_id, mat_no, mat_desc,
    mat_type_id, mat_type_name, mat_model,
    store_house_id, store_room_id, trans_date,
    chalkup_date, voucher_qty, voucher_price,
    voucher_piece_count, voucher_up, rawnature_id,
    rawnature_name, unit, indent_no,
    voucher_head, handler_id, handle_time,
    voucher_weight, pg_id, remark,
    created_at, updated_at, status
    )
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR},
    #{parentVoucherId,jdbcType=BIGINT}, #{isFullyWithdrew,jdbcType=CHAR}, #{voucherNo,jdbcType=VARCHAR},
    #{transDirection,jdbcType=CHAR}, #{transId,jdbcType=VARCHAR}, #{transType,jdbcType=VARCHAR},
    #{matId,jdbcType=BIGINT}, #{matNo,jdbcType=VARCHAR}, #{matDesc,jdbcType=VARCHAR},
    #{matTypeId,jdbcType=BIGINT}, #{matTypeName,jdbcType=VARCHAR}, #{matModel,jdbcType=VARCHAR},
    #{storeHouseId,jdbcType=INTEGER}, #{storeRoomId,jdbcType=INTEGER}, #{transDate,jdbcType=TIMESTAMP},
    #{chalkupDate,jdbcType=TIMESTAMP}, #{voucherQty,jdbcType=DECIMAL}, #{voucherPrice,jdbcType=DECIMAL},
    #{voucherPieceCount,jdbcType=INTEGER}, #{voucherUp,jdbcType=DECIMAL}, #{rawnatureId,jdbcType=BIGINT},
    #{rawnatureName,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{indentNo,jdbcType=VARCHAR},
    #{voucherHead,jdbcType=VARCHAR}, #{handlerId,jdbcType=BIGINT}, #{handleTime,jdbcType=TIMESTAMP},
    #{voucherWeight,jdbcType=DECIMAL}, #{pgId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR},
    #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.iv.common.model.Voucher">
    insert into voucher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="parentVoucherId != null">
        parent_voucher_id,
      </if>
      <if test="isFullyWithdrew != null">
        is_fully_withdrew,
      </if>
      <if test="voucherNo != null">
        voucher_no,
      </if>
      <if test="transDirection != null">
        trans_direction,
      </if>
      <if test="transId != null">
        trans_id,
      </if>
      <if test="transType != null">
        trans_type,
      </if>
      <if test="matId != null">
        mat_id,
      </if>
      <if test="matNo != null">
        mat_no,
      </if>
      <if test="matDesc != null">
        mat_desc,
      </if>
      <if test="matTypeId != null">
        mat_type_id,
      </if>
      <if test="matTypeName != null">
        mat_type_name,
      </if>
      <if test="matModel != null">
        mat_model,
      </if>
      <if test="storeHouseId != null">
        store_house_id,
      </if>
      <if test="storeRoomId != null">
        store_room_id,
      </if>
      <if test="transDate != null">
        trans_date,
      </if>
      <if test="chalkupDate != null">
        chalkup_date,
      </if>
      <if test="voucherQty != null">
        voucher_qty,
      </if>
      <if test="voucherPrice != null">
        voucher_price,
      </if>
      <if test="voucherPieceCount != null">
        voucher_piece_count,
      </if>
      <if test="voucherUp != null">
        voucher_up,
      </if>
      <if test="rawnatureId != null">
        rawnature_id,
      </if>
      <if test="rawnatureName != null">
        rawnature_name,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="indentNo != null">
        indent_no,
      </if>
      <if test="voucherHead != null">
        voucher_head,
      </if>
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="handleTime != null">
        handle_time,
      </if>
      <if test="voucherWeight != null">
        voucher_weight,
      </if>
      <if test="pgId != null">
        pg_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="parentVoucherId != null">
        #{parentVoucherId,jdbcType=BIGINT},
      </if>
      <if test="isFullyWithdrew != null">
        #{isFullyWithdrew,jdbcType=CHAR},
      </if>
      <if test="voucherNo != null">
        #{voucherNo,jdbcType=VARCHAR},
      </if>
      <if test="transDirection != null">
        #{transDirection,jdbcType=CHAR},
      </if>
      <if test="transId != null">
        #{transId,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="matId != null">
        #{matId,jdbcType=BIGINT},
      </if>
      <if test="matNo != null">
        #{matNo,jdbcType=VARCHAR},
      </if>
      <if test="matDesc != null">
        #{matDesc,jdbcType=VARCHAR},
      </if>
      <if test="matTypeId != null">
        #{matTypeId,jdbcType=BIGINT},
      </if>
      <if test="matTypeName != null">
        #{matTypeName,jdbcType=VARCHAR},
      </if>
      <if test="matModel != null">
        #{matModel,jdbcType=VARCHAR},
      </if>
      <if test="storeHouseId != null">
        #{storeHouseId,jdbcType=INTEGER},
      </if>
      <if test="storeRoomId != null">
        #{storeRoomId,jdbcType=INTEGER},
      </if>
      <if test="transDate != null">
        #{transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chalkupDate != null">
        #{chalkupDate,jdbcType=TIMESTAMP},
      </if>
      <if test="voucherQty != null">
        #{voucherQty,jdbcType=DECIMAL},
      </if>
      <if test="voucherPrice != null">
        #{voucherPrice,jdbcType=DECIMAL},
      </if>
      <if test="voucherPieceCount != null">
        #{voucherPieceCount,jdbcType=INTEGER},
      </if>
      <if test="voucherUp != null">
        #{voucherUp,jdbcType=DECIMAL},
      </if>
      <if test="rawnatureId != null">
        #{rawnatureId,jdbcType=BIGINT},
      </if>
      <if test="rawnatureName != null">
        #{rawnatureName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="indentNo != null">
        #{indentNo,jdbcType=VARCHAR},
      </if>
      <if test="voucherHead != null">
        #{voucherHead,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null">
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="handleTime != null">
        #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="voucherWeight != null">
        #{voucherWeight,jdbcType=DECIMAL},
      </if>
      <if test="pgId != null">
        #{pgId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.iv.common.model.Voucher">
    update voucher
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="parentVoucherId != null">
        parent_voucher_id = #{parentVoucherId,jdbcType=BIGINT},
      </if>
      <if test="isFullyWithdrew != null">
        is_fully_withdrew = #{isFullyWithdrew,jdbcType=CHAR},
      </if>
      <if test="voucherNo != null">
        voucher_no = #{voucherNo,jdbcType=VARCHAR},
      </if>
      <if test="transDirection != null">
        trans_direction = #{transDirection,jdbcType=CHAR},
      </if>
      <if test="transId != null">
        trans_id = #{transId,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        trans_type = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="matId != null">
        mat_id = #{matId,jdbcType=BIGINT},
      </if>
      <if test="matNo != null">
        mat_no = #{matNo,jdbcType=VARCHAR},
      </if>
      <if test="matDesc != null">
        mat_desc = #{matDesc,jdbcType=VARCHAR},
      </if>
      <if test="matTypeId != null">
        mat_type_id = #{matTypeId,jdbcType=BIGINT},
      </if>
      <if test="matTypeName != null">
        mat_type_name = #{matTypeName,jdbcType=VARCHAR},
      </if>
      <if test="matModel != null">
        mat_model = #{matModel,jdbcType=VARCHAR},
      </if>
      <if test="storeHouseId != null">
        store_house_id = #{storeHouseId,jdbcType=INTEGER},
      </if>
      <if test="storeRoomId != null">
        store_room_id = #{storeRoomId,jdbcType=INTEGER},
      </if>
      <if test="transDate != null">
        trans_date = #{transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chalkupDate != null">
        chalkup_date = #{chalkupDate,jdbcType=TIMESTAMP},
      </if>
      <if test="voucherQty != null">
        voucher_qty = #{voucherQty,jdbcType=DECIMAL},
      </if>
      <if test="voucherPrice != null">
        voucher_price = #{voucherPrice,jdbcType=DECIMAL},
      </if>
      <if test="voucherPieceCount != null">
        voucher_piece_count = #{voucherPieceCount,jdbcType=INTEGER},
      </if>
      <if test="voucherUp != null">
        voucher_up = #{voucherUp,jdbcType=DECIMAL},
      </if>
      <if test="rawnatureId != null">
        rawnature_id = #{rawnatureId,jdbcType=BIGINT},
      </if>
      <if test="rawnatureName != null">
        rawnature_name = #{rawnatureName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="indentNo != null">
        indent_no = #{indentNo,jdbcType=VARCHAR},
      </if>
      <if test="voucherHead != null">
        voucher_head = #{voucherHead,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null">
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="handleTime != null">
        handle_time = #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="voucherWeight != null">
        voucher_weight = #{voucherWeight,jdbcType=DECIMAL},
      </if>
      <if test="pgId != null">
        pg_id = #{pgId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.iv.common.model.Voucher">
    update voucher
    set company_id = #{companyId,jdbcType=INTEGER},
    company_name = #{companyName,jdbcType=VARCHAR},
    parent_voucher_id = #{parentVoucherId,jdbcType=BIGINT},
    is_fully_withdrew = #{isFullyWithdrew,jdbcType=CHAR},
    voucher_no = #{voucherNo,jdbcType=VARCHAR},
    trans_direction = #{transDirection,jdbcType=CHAR},
    trans_id = #{transId,jdbcType=VARCHAR},
    trans_type = #{transType,jdbcType=VARCHAR},
    mat_id = #{matId,jdbcType=BIGINT},
    mat_no = #{matNo,jdbcType=VARCHAR},
    mat_desc = #{matDesc,jdbcType=VARCHAR},
    mat_type_id = #{matTypeId,jdbcType=BIGINT},
    mat_type_name = #{matTypeName,jdbcType=VARCHAR},
    mat_model = #{matModel,jdbcType=VARCHAR},
    store_house_id = #{storeHouseId,jdbcType=INTEGER},
    store_room_id = #{storeRoomId,jdbcType=INTEGER},
    trans_date = #{transDate,jdbcType=TIMESTAMP},
    chalkup_date = #{chalkupDate,jdbcType=TIMESTAMP},
    voucher_qty = #{voucherQty,jdbcType=DECIMAL},
    voucher_price = #{voucherPrice,jdbcType=DECIMAL},
    voucher_piece_count = #{voucherPieceCount,jdbcType=INTEGER},
    voucher_up = #{voucherUp,jdbcType=DECIMAL},
    rawnature_id = #{rawnatureId,jdbcType=BIGINT},
    rawnature_name = #{rawnatureName,jdbcType=VARCHAR},
    unit = #{unit,jdbcType=VARCHAR},
    indent_no = #{indentNo,jdbcType=VARCHAR},
    voucher_head = #{voucherHead,jdbcType=VARCHAR},
    handler_id = #{handlerId,jdbcType=BIGINT},
    handle_time = #{handleTime,jdbcType=TIMESTAMP},
    voucher_weight = #{voucherWeight,jdbcType=DECIMAL},
    pg_id = #{pgId,jdbcType=BIGINT},
    remark = #{remark,jdbcType=VARCHAR},
    created_at = #{createdAt,jdbcType=TIMESTAMP},
    updated_at = #{updatedAt,jdbcType=TIMESTAMP},
    status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>



  <!-- wendy添加-->

  <insert id="addVoucher" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  <selectKey resultType="int" order="AFTER" keyProperty="id">
    SELECT LAST_INSERT_ID() as id
  </selectKey>

    insert into voucher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="company_id != null  and company_id !=''" >
        company_id,
      </if>
      <if test="company_name != null and company_name !=''" >
        company_name,
      </if>
      <if test="parent_voucher_id != null and parent_voucher_id !=''"  >
        parent_voucher_id,
      </if>
      <if test="is_fully_withdrew != null and is_fully_withdrew !=''" >
        is_fully_withdrew,
      </if>
      <if test="voucher_no != null and voucher_no !=''" >
        voucher_no,
      </if>
      <if test="trans_direction != null and trans_direction !=''" >
        trans_direction,
      </if>
      <if test="trans_id != null and trans_id !=''" >
        trans_id,
      </if>
      <if test="trans_type != null and trans_type !=''" >
        trans_type,
      </if>
      <if test="mat_id != null and company_id !=''" >
        mat_id,
      </if>
      <if test="mat_no != null and mat_no !=''" >
        mat_no,
      </if>
      <if test="mat_desc != null and mat_desc !=''" >
        mat_desc,
      </if>
      <if test="mat_type_id != null and mat_type_id !=''" >
        mat_type_id,
      </if>
      <if test="mat_type_name != null and mat_type_name !=''" >
        mat_type_name,
      </if>
      <if test="mat_model != null and mat_model !=''" >
        mat_model,
      </if>
      <if test="store_house_id != null and store_house_id !=''" >
        store_house_id,
      </if>
      <if test="store_room_id != null and store_room_id !=''" >
        store_room_id,
      </if>
      <if test="trans_date != null and trans_date !=''" >
        trans_date,
      </if>
      <if test="chalkup_date != null and chalkup_date !=''" >
        chalkup_date,
      </if>
      <if test="voucher_qty != null and voucher_qty !=''" >
        voucher_qty,
      </if>
      <if test="voucher_price != null and voucher_price !=''" >
        voucher_price,
      </if>
      <if test="voucher_piece_count != null and voucher_piece_count !=''" >
        voucher_piece_count,
      </if>
      <if test="voucher_up != null and voucher_up !=''" >
        voucher_up,
      </if>
      <if test="rawnature_id != null and rawnature_id !=''" >
        rawnature_id,
      </if>
      <if test="rawnature_name != null and rawnature_name !=''" >
        rawnature_name,
      </if>
      <if test="unit != null and unit !=''" >
        unit,
      </if>
      <if test="indent_no != null and indent_no !=''" >
        indent_no,
      </if>
      <if test="voucher_head != null and voucher_head !=''" >
        voucher_head,
      </if>
      <if test="handler_id != null and handler_id !=''" >
        handler_id,
      </if>
      <if test="handle_time != null and handle_time !=''" >
        handle_time,
      </if>
      <if test="voucher_weight != null and voucher_weight !=''" >
        voucher_weight,
      </if>
      <if test="pg_id != null and pg_id !=''" >
        pg_id,
      </if>
      <if test="remark != null and remark !=''" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="company_id != null  and company_id !=''" >
        #{company_id,jdbcType=INTEGER},
      </if>
      <if test="company_name != null and company_name !=''" >
        #{company_name,jdbcType=VARCHAR},
      </if>
      <if test="parent_voucher_id != null and parent_voucher_id !=''"  >
        #{parent_voucher_id,jdbcType=BIGINT},
      </if>
      <if test="is_fully_withdrew != null and is_fully_withdrew !=''" >
        #{is_fully_withdrew,jdbcType=CHAR},
      </if>
      <if test="voucher_no != null and voucher_no !=''" >
        #{voucher_no,jdbcType=VARCHAR},
      </if>
      <if test="trans_direction != null and trans_direction !=''" >
        #{trans_direction,jdbcType=CHAR},
      </if>
      <if test="trans_id != null and trans_id !=''" >
        #{trans_id,jdbcType=VARCHAR},
      </if>
      <if test="trans_type != null and trans_type !=''" >
        #{trans_type,jdbcType=VARCHAR},
      </if>
      <if test="mat_id != null and mat_id !=''" >
        #{mat_id,jdbcType=BIGINT},
      </if>
      <if test="mat_no != null and mat_no !=''" >
        #{mat_no,jdbcType=VARCHAR},
      </if>
      <if test="mat_desc != null and mat_desc !=''" >
        #{mat_desc,jdbcType=VARCHAR},
      </if>
      <if test="mat_type_id != null and mat_type_id !=''" >
        #{mat_type_id,jdbcType=BIGINT},
      </if>
      <if test="mat_type_name != null and mat_type_name !=''" >
        #{mat_type_name,jdbcType=VARCHAR},
      </if>
      <if test="mat_model != null and mat_model !=''" >
        #{mat_model,jdbcType=VARCHAR},
      </if>
      <if test="store_house_id != null and store_house_id !=''" >
        #{store_house_id,jdbcType=INTEGER},
      </if>
      <if test="store_room_id != null and store_room_id !=''" >
        #{store_room_id,jdbcType=INTEGER},
      </if>
      <if test="trans_date != null and trans_date !=''" >
        #{trans_date,jdbcType=TIMESTAMP},
      </if>
      <if test="chalkup_date != null and chalkup_date !=''" >
        #{chalkup_date,jdbcType=TIMESTAMP},
      </if>
      <if test="voucher_qty != null and voucher_qty !=''" >
        #{voucher_qty,jdbcType=DECIMAL},
      </if>
      <if test="voucher_price != null and voucher_price !=''" >
        #{voucher_price,jdbcType=DECIMAL},
      </if>
      <if test="voucher_piece_count != null and voucher_piece_count!=''" >
        #{voucher_piece_count,jdbcType=INTEGER},
      </if>
      <if test="voucher_up != null and voucher_up !=''" >
        #{voucher_up,jdbcType=DECIMAL},
      </if>
      <if test="rawnature_id != null and rawnature_id !=''" >
        #{rawnature_id,jdbcType=BIGINT},
      </if>
      <if test="rawnature_name != null and rawnature_name !=''" >
        #{rawnature_name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null and unit !=''" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="indent_no != null and indent_no !=''" >
        #{indent_no,jdbcType=VARCHAR},
      </if>
      <if test="voucher_head != null and voucher_head !=''" >
        #{voucher_head,jdbcType=VARCHAR},
      </if>
      <if test="handler_id != null and handler_id !=''" >
        #{handler_id,jdbcType=BIGINT},
      </if>
      <if test="handle_time != null and handle_time !=''" >
        #{handle_time,jdbcType=TIMESTAMP},
      </if>
      <if test="voucher_weight != null and voucher_weight !=''" >
        #{voucher_weight,jdbcType=DECIMAL},
      </if>
      <if test="pg_id != null and pg_id !=''" >
        #{pg_id,jdbcType=BIGINT},
      </if>
      <if test="remark != null and remark !=''" >
        #{remark,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>

  <!-- 查询出库凭证列表 -->
  <select id="selectOutVoucherList" resultType="map" parameterType="map">
    select distinct d.dict_name as trans_type, DATE_FORMAT(trans_date,'%Y-%m-%d')trans_date, v.voucher_no, v.voucher_weight
    from voucher as v RIGHT JOIN dictionary as d on v.trans_type = d.dict_code
    where d.dict_type = 'OUT_STORE_TYPE'
  <if test="company_id == null and company_id == ''">
    and v.voucher_no = REGEXP #{voucher_no}
  </if>
  <if test="company_id != null and company_id != ''">
    and v.company_id = #{company_id}
  </if>
    and v.status = 1 limit #{page},#{page_size}
</select>

  <!-- 查询入库凭证列表 -->
  <select id="selectInVoucherList" resultType="map" parameterType="map">
    select distinct d.dict_name as trans_type, DATE_FORMAT(trans_date,'%Y-%m-%d')trans_date, v.voucher_no, v.voucher_weight
    from voucher as v RIGHT JOIN dictionary as d on v.trans_type = d.dict_code
    where d.dict_type = 'IN_STORE_TYPE'
    <if test="company_id == null and company_id == ''">
      and v.voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and v.company_id = #{company_id}
    </if>
    and v.status = 1 limit #{page},#{page_size}
  </select>

  <!-- 查询出库凭证总条数 -->
  <select id="selectOutVoucherCount" resultType="java.lang.Integer" parameterType="map">
    select count(id) from voucher
    where EXISTS (select dict_code from dictionary where dict_type = 'OUT_STORE_TYPE' and voucher.trans_type = dict_code)
    and status = 1
    <if test="company_id == null and company_id == ''">
      and voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and company_id = #{company_id}
    </if>
  </select>

  <!-- 查询出库凭证物料数量 -->
  <select id="selectOutVoucherMatSum" resultType="map" parameterType="map">
    select IFNULL(sum(voucher_qty),0) as mat_sum
    from voucher
    where EXISTS (select dict_code from dictionary where dict_type = 'OUT_STORE_TYPE' and voucher.trans_type = dict_code)
    and status = 1
    <if test="company_id == null and company_id == ''">
      and voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and company_id = #{company_id}
    </if>
  </select>

  <!-- 查询入库凭证物料数量 -->
  <select id="selectInVoucherMatSum" resultType="map" parameterType="map">
    select IFNULL(sum(voucher_qty),0) as mat_sum
    from voucher
    where  EXISTS (select dict_code from dictionary where dict_type = 'IN_STORE_TYPE' and voucher.trans_type = dict_code)
    and status = 1
    <if test="company_id == null and company_id == ''">
      and voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and company_id = #{company_id}
    </if>
  </select>

  <!-- 查询入库凭证总条数 -->
  <select id="selectInVoucherCount" resultType="java.lang.Integer" parameterType="map">
    select count(id) from voucher
    where EXISTS (select dict_code from dictionary where dict_type = 'IN_STORE_TYPE'and voucher.trans_type = dict_code)
    and status = 1
    <if test="company_id == null and company_id == ''">
      and voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and company_id = #{company_id}
    </if>
  </select>

  <!-- 查询盘点单据列表 -->
  <select id="selectVoucherCheckList" resultType="map" parameterType="map">
    select distinct d.dict_name as trans_type, DATE_FORMAT(trans_date,'%Y-%m-%d')trans_date, v.voucher_no, v.voucher_weight
    from voucher as v RIGHT JOIN dictionary as d on v.trans_type = d.dict_code
    where (d.dict_code = 'MC_IN' or d.dict_code = 'MC_OUT')
    <if test="company_id == null and company_id == ''">
      and v.voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and v.company_id = #{company_id}
    </if>
    and v.status = 1 limit #{page},#{page_size}
  </select>
  
  <!-- 查询盘点单据总条数 -->
  <select id="selectVoucherCheckCount" resultType="java.lang.Integer" parameterType="map">
    select count(id) from voucher
    where EXISTS (select dict_code from dictionary where dict_code = 'MC_IN' or dict_code = 'MC_OUT' and voucher.trans_type = dict_code)
    and status = 1
    <if test="company_id == null and company_id == ''">
      and voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and company_id = #{company_id}
    </if>
  </select>

  <!-- 查询盘点单据物料数量 -->
  <select id="selectVoucherCheckMatSum" resultType="map" parameterType="map">
    select IFNULL(sum(voucher_qty),0) as mat_sum
    from voucher
    where EXISTS (select dict_code from dictionary where dict_code = 'MC_IN' or dict_code = 'MC_OUT' and voucher.trans_type = dict_code)
    and status = 1
    <if test="company_id == null and company_id == ''">
      and voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and company_id = #{company_id}
    </if>
  </select>

  <!-- 查询调拨单据列表 -->
  <select id="selectVoucherSwitchList" resultType="map" parameterType="map">
    select distinct d.dict_name as trans_type, DATE_FORMAT(trans_date,'%Y-%m-%d')trans_date, v.voucher_no, v.voucher_weight
    from voucher as v RIGHT JOIN dictionary as d on v.trans_type = d.dict_code
    where (d.dict_code = 'AT_IN' or d.dict_code = 'AT_OUT')
    <if test="company_id == null and company_id == ''">
      and v.voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and v.company_id = #{company_id}
    </if>
    and v.status = 1 limit #{page},#{page_size}
  </select>

  <!-- 查询调拨单据总条数 -->
  <select id="selectVoucherSwitchCount" resultType="java.lang.Integer" parameterType="map">
    select count(id) from voucher
    where EXISTS (select dict_code from dictionary where dict_code = 'AT_IN' or dict_code = 'AT_OUT' and voucher.trans_type = dict_code)
    and status = 1
    <if test="company_id == null and company_id == ''">
      and voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and company_id = #{company_id}
    </if>
  </select>

  <!-- 查询调拨单据物料数量 -->
  <select id="selectVoucherSwitchMatSum" resultType="map" parameterType="map">
    select IFNULL(sum(voucher_qty),0) as mat_sum
    from voucher
    where EXISTS (select dict_code from dictionary where dict_code = 'AT_IN' or dict_code = 'AT_OUT' and voucher.trans_type = dict_code)
    and status = 1
    <if test="company_id == null and company_id == ''">
      and voucher_no = REGEXP #{voucher_no}
    </if>
    <if test="company_id != null and company_id != ''">
      and company_id = #{company_id}
    </if>
  </select>

  <!-- 查询管理凭证详情关联公司字典表 -->
  <select id="selectVoucherList" resultType="map" parameterType="map">
    select distinct d.dict_name as trans_type, v.handler_id, v.indent_no, DATE_FORMAT(chalkup_date,'%Y-%m-%d')chalkup_date, DATE_FORMAT(trans_date,'%Y-%m-%d')trans_date, v.voucher_no as voucher
    from voucher as v RIGHT JOIN dictionary as d on v.trans_type = d.dict_code
    where v.voucher_no = #{voucher_no} and v.status = 1
  </select>

  <!-- 查询管理凭证详情 -->
  <select id="selectVoucherDetail" resultType="map" parameterType="map">
    select id as detail_id, voucher_weight, mat_desc, mat_id, mat_model, mat_no, mat_type_id, mat_type_name,
    store_house_id, store_room_id, voucher_price, voucher_qty, voucher_up from voucher
    where voucher_no = #{voucher_no} and status = 1
  </select>

  <!-- 根据凭证号查询物料数量 -->
  <select id="selectMatSumByVoucher" resultType="map" parameterType="java.lang.String">
    select IFNULL(sum(voucher_qty),0) as mat_sum
    from voucher
    where EXISTS (select dict_code from dictionary where dict_type = 'IN_STORE_TYPE' or dict_type = 'OUT_STORE_TYPE' and voucher.trans_type = dict_code)
    and voucher_no = #{voucher_no} and status = 1
  </select>

  <!-- 查询凭证单中某物料信息 -->
  <select id="selectVoucherListByDetailId" resultType="map" parameterType="map">
    select distinct d.dict_name as trans_type, v.indent_no, DATE_FORMAT(chalkup_date,'%Y-%m-%d')chalkup_date, DATE_FORMAT(trans_date,'%Y-%m-%d')trans_date, v.voucher_no as voucher
    from voucher as v RIGHT JOIN dictionary as d on v.trans_type = d.dict_code
    where v.id = #{detail_id} and v.status = 1
  </select>

  <!-- 根据凭证子表id查询凭证单中某物料信息 -->
  <select id="selectVoucherDetailByDetailId" resultType="map" parameterType="map">
    select id as detail_id, mat_desc, mat_id, mat_model, mat_no, mat_type_name,
    store_house_id, store_room_id, voucher_price, voucher_qty, voucher_up from voucher
    where id = #{detail_id} and status = 1
  </select>
  
  <!-- 根据操作人id获取操作人名字 -->
  <select id="selectWorkNameById" resultType="map" parameterType="map">
    select work_name from user_company where id = #{handler_id} and company_id = #{company_id}
  </select>

  <!-- 根据凭证id查询移动类型 -->
  <select id="selectTransTypeByVoucher" resultType="map" parameterType="map">
    select trans_type from voucher where id = #{detail_id} and status = 1
  </select>

  <!-- 根据凭证id查询收讫质检 -->
  <select id="selectVoucherPurch"  resultType="map" parameterType="map">
    select is_stock_in_finished, is_check from voucher_purch
    where voucher_id = #{detail_id} and status = 1
  </select>

</mapper>