<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.iv.common.dao.VoucherCheckMapper" >
  <resultMap id="BaseResultMap" type="com.mt.iv.common.model.VoucherCheck" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="voucher_id" property="voucherId" jdbcType="BIGINT" />
    <result column="check_bill_id" property="checkBillId" jdbcType="INTEGER" />
    <result column="check_bill_sub_id" property="checkBillSubId" jdbcType="BIGINT" />
    <result column="check_bill_sub_spec_id" property="checkBillSubSpecId" jdbcType="BIGINT" />
    <result column="handler_id" property="handlerId" jdbcType="BIGINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, company_name, voucher_id, check_bill_id, check_bill_sub_id, check_bill_sub_spec_id, 
    handler_id, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from voucher_check
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from voucher_check
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.iv.common.model.VoucherCheck" >
    insert into voucher_check (id, company_id, company_name, 
      voucher_id, check_bill_id, check_bill_sub_id, 
      check_bill_sub_spec_id, handler_id, created_at, 
      updated_at, status)
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, 
      #{voucherId,jdbcType=BIGINT}, #{checkBillId,jdbcType=INTEGER}, #{checkBillSubId,jdbcType=BIGINT}, 
      #{checkBillSubSpecId,jdbcType=BIGINT}, #{handlerId,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.iv.common.model.VoucherCheck" >
    insert into voucher_check
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="voucherId != null" >
        voucher_id,
      </if>
      <if test="checkBillId != null" >
        check_bill_id,
      </if>
      <if test="checkBillSubId != null" >
        check_bill_sub_id,
      </if>
      <if test="checkBillSubSpecId != null" >
        check_bill_sub_spec_id,
      </if>
      <if test="handlerId != null" >
        handler_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="voucherId != null" >
        #{voucherId,jdbcType=BIGINT},
      </if>
      <if test="checkBillId != null" >
        #{checkBillId,jdbcType=INTEGER},
      </if>
      <if test="checkBillSubId != null" >
        #{checkBillSubId,jdbcType=BIGINT},
      </if>
      <if test="checkBillSubSpecId != null" >
        #{checkBillSubSpecId,jdbcType=BIGINT},
      </if>
      <if test="handlerId != null" >
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.iv.common.model.VoucherCheck" >
    update voucher_check
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="voucherId != null" >
        voucher_id = #{voucherId,jdbcType=BIGINT},
      </if>
      <if test="checkBillId != null" >
        check_bill_id = #{checkBillId,jdbcType=INTEGER},
      </if>
      <if test="checkBillSubId != null" >
        check_bill_sub_id = #{checkBillSubId,jdbcType=BIGINT},
      </if>
      <if test="checkBillSubSpecId != null" >
        check_bill_sub_spec_id = #{checkBillSubSpecId,jdbcType=BIGINT},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.iv.common.model.VoucherCheck" >
    update voucher_check
    set company_id = #{companyId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      voucher_id = #{voucherId,jdbcType=BIGINT},
      check_bill_id = #{checkBillId,jdbcType=INTEGER},
      check_bill_sub_id = #{checkBillSubId,jdbcType=BIGINT},
      check_bill_sub_spec_id = #{checkBillSubSpecId,jdbcType=BIGINT},
      handler_id = #{handlerId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- wendy添加-->
  <insert id="addVoucherCheck" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    <selectKey resultType="int" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() as id
    </selectKey>
    insert into voucher_check
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="company_id != null" >
        company_id,
      </if>
      <if test="company_name != null" >
        company_name,
      </if>
      <if test="id != null" >
        voucher_id,
      </if>
      <if test="check_bill_id != null" >
        check_bill_id,
      </if>
      <if test="check_bill_sub_id != null" >
        check_bill_sub_id,
      </if>
      <if test="check_bill_sub_spec_id != null" >
        check_bill_sub_spec_id,
      </if>
      <if test="handler_id != null" >
        handler_id,
      </if>
      <if test="created_at != null" >
        created_at,
      </if>
      <if test="updated_at != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="company_id != null" >
        #{company_id,jdbcType=INTEGER},
      </if>
      <if test="company_name != null" >
        #{company_name,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="check_bill_id != null" >
        #{check_bill_id,jdbcType=INTEGER},
      </if>
      <if test="check_bill_sub_id != null" >
        #{check_bill_sub_id,jdbcType=BIGINT},
      </if>
      <if test="check_bill_sub_spec_id != null" >
        #{check_bill_sub_spec_id,jdbcType=BIGINT},
      </if>
      <if test="handler_id != null" >
        #{handler_id,jdbcType=BIGINT},
      </if>
      <if test="created_at != null" >
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null" >
        #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

</mapper>