<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.pm.common.dao.PmCalendarSubMapper" >
  <resultMap id="BaseResultMap" type="com.mt.pm.common.model.PmCalendarSub" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="calendar_id" property="calendarId" jdbcType="BIGINT" />
    <result column="the_date" property="theDate" jdbcType="TIMESTAMP" />
    <result column="shift_id" property="shiftId" jdbcType="INTEGER" />
    <result column="handler_id" property="handlerId" jdbcType="BIGINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, calendar_id, the_date, shift_id, handler_id, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from pm_calendar_sub
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pm_calendar_sub
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.pm.common.model.PmCalendarSub" >
    insert into pm_calendar_sub (id, calendar_id, the_date,
    shift_id, handler_id, created_at,
    updated_at, status)
    values (#{id,jdbcType=BIGINT}, #{calendarId,jdbcType=BIGINT}, #{theDate,jdbcType=TIMESTAMP},
    #{shiftId,jdbcType=INTEGER}, #{handlerId,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP},
    #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.pm.common.model.PmCalendarSub" >
    insert into pm_calendar_sub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="calendarId != null" >
        calendar_id,
      </if>
      <if test="theDate != null" >
        the_date,
      </if>
      <if test="shiftId != null" >
        shift_id,
      </if>
      <if test="handlerId != null" >
        handler_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="calendarId != null" >
        #{calendarId,jdbcType=BIGINT},
      </if>
      <if test="theDate != null" >
        #{theDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shiftId != null" >
        #{shiftId,jdbcType=INTEGER},
      </if>
      <if test="handlerId != null" >
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.pm.common.model.PmCalendarSub" >
    update pm_calendar_sub
    <set >
      <if test="calendarId != null" >
        calendar_id = #{calendarId,jdbcType=BIGINT},
      </if>
      <if test="theDate != null" >
        the_date = #{theDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shiftId != null" >
        shift_id = #{shiftId,jdbcType=INTEGER},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.pm.common.model.PmCalendarSub" >
    update pm_calendar_sub
    set calendar_id = #{calendarId,jdbcType=BIGINT},
      the_date = #{theDate,jdbcType=TIMESTAMP},
      shift_id = #{shiftId,jdbcType=INTEGER},
      handler_id = #{handlerId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 删除 -->
  <update id="deletePmCalendarSub" parameterType="com.mt.pm.common.pojo.PmCalendarPojo">
    update pm_calendar_sub
    set status = 0, updated_at = #{updatedAt}
    where calendar_id = #{calendarId} and status = 1
  </update>

  <!-- 添加 -->
  <insert id="addPmCalendarSub" parameterType="com.mt.pm.common.model.PmCalendarSub" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() as id
    </selectKey>
    insert into pm_calendar_sub
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shiftId != null and shiftId != ''" >
        shift_id,
      </if>
      <if test="theDate != null and theDate !=''">
        the_date,
      </if>
      <if test="calendarId != null and calendarId !=''">
        calendar_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shiftId != null and shiftId != ''" >
        #{shiftId},
      </if>
      <if test="theDate != null and theDate !=''">
        #{theDate},
      </if>
      <if test="calendarId != null and calendarId !=''">
        #{calendarId},
      </if>
    </trim>
  </insert>

  <!-- 根据日期查询班次id -->
  <select id="selectShiftIdByTheDate" parameterType="java.lang.String" resultType="map">
    select DISTINCT shift_id from pm_calendar_sub where the_date = #{the_date} and shift_id is not NULL and status = 1
  </select>

  <!-- 根据日期和日历id查询班次id -->
  <select id="selectShiftIdByTheDateAndCalendarId" parameterType="com.mt.pm.common.model.PmCalendarSub" resultType="map">
    select shift_id from pm_calendar_sub where the_date = #{theDate} and status = 1 and calendar_id = #{calendarId}
  </select>

  <!-- 根据日历id查询日期 -->
  <select id="selectTheDateByCalendarId" parameterType="map" resultType="map">
    select DATE_FORMAT(the_date,'%Y-%m-%d %H:%i:%s')the_date from pm_calendar_sub
    where calendar_id = #{calendar_id} and status = 1
    <if test="start_date != null and start_date != ''">
      <![CDATA[  and the_date >= #{start_date}]]>
    </if>
    <if test="end_date != null and end_date != ''">
      <![CDATA[ and the_date <= #{end_date} ]]>
    </if>
  </select>

  <!-- 根据班次id和日期删除日历子表 -->
  <update id="deletePmCalendarSubByShiftId" parameterType="map">
    update pm_calendar_sub
    set status = 0, updated_at = #{updated_at}
    where shift_id = #{shift_id} and the_date = #{the_date} and status = 1
  </update>

  <!-- 根据班次日历id查询日期 -->
  <select id="selectTheDateByShiftId" parameterType="com.mt.pm.common.model.PmCalendarSub" resultType="map">
    select the_date from pm_calendar_sub where shift_id = #{shiftId} and calendar_id = #{calendarId} and status = 1
  </select>
</mapper>