<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.pm.common.dao.PmCalendarMapper" >
  <resultMap id="BaseResultMap" type="com.mt.pm.common.model.PmCalendar" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="calendar_name" property="calendarName" jdbcType="VARCHAR" />
    <result column="handler_id" property="handlerId" jdbcType="BIGINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, company_name, calendar_name, handler_id, created_at, updated_at, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from pm_calendar
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pm_calendar
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.pm.common.model.PmCalendar" >
    insert into pm_calendar (id, company_id, company_name, 
      calendar_name, handler_id, created_at, 
      updated_at, status)
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, 
      #{calendarName,jdbcType=VARCHAR}, #{handlerId,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.pm.common.model.PmCalendar" >
    insert into pm_calendar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="calendarName != null" >
        calendar_name,
      </if>
      <if test="handlerId != null" >
        handler_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="calendarName != null" >
        #{calendarName,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null" >
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.pm.common.model.PmCalendar" >
    update pm_calendar
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="calendarName != null" >
        calendar_name = #{calendarName,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.pm.common.model.PmCalendar" >
    update pm_calendar
    set company_id = #{companyId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      calendar_name = #{calendarName,jdbcType=VARCHAR},
      handler_id = #{handlerId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询日历列表总条数 -->
  <select id="selectTotalCount" parameterType="com.mt.pm.common.pojo.PmCalendarPojo" resultType="java.lang.Integer">
    select count(id)
    from pm_calendar
    where status = 1
    and company_id = #{companyId}
    and (#{query.calendar_name} is null or #{query.calendar_name} = '' or calendar_name LIKE "%"#{query.calendar_name}"%")
  </select>

  <!-- 查询日历列表  -->
  <select id="selectPmCalendarList" parameterType="com.mt.pm.common.pojo.PmCalendarPojo" resultType="map">
    select id as calendar_id,calendar_name
    from pm_calendar
    where status = 1
    and company_id = #{companyId}
    and (#{query.calendar_name} is null or #{query.calendar_name} = '' or calendar_name LIKE "%"#{query.calendar_name}"%")
    limit #{page},#{pageSize}
  </select>

  <!-- 查询日历详情 -->
  <select id="selectPmCalendarDetail" parameterType="map" resultType="map">
    select distinct pc.id as calendar_id, pc.calendar_name
    from pm_calendar as pc INNER JOIN pm_calendar_sub as pcs on pc.id = pcs.calendar_id
    where pc.id = #{calendar_id} and pc.status = 1 and pcs.status = 1
    <if test="start_date != null and start_date != ''">
      and pcs.the_date <![CDATA[>=]]> #{start_date}
    </if>
    <if test="end_date != null and end_date != ''">
      and pcs.the_date <![CDATA[<=]]> #{end_date}
    </if>
  </select>

  <!-- 添加 -->
  <insert id="addPmCalendar" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.mt.pm.common.model.PmCalendar">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() as id
    </selectKey>
    INSERT INTO pm_calendar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null and companyId !='' " >
        company_id,
      </if>
      <if test="companyName != null and companyName !=''">
        company_name,
      </if>
      <if test="calendarName != null and calendarName !=''" >
        calendar_name,
      </if>
      <if test="handlerId !=null and handlerId !=''">
        handler_id,
      </if>
      <if test="createdAt !=null and createdAt !=''">
        created_at,
      </if>
      <if test="updatedAt !=null and updatedAt !=''">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null and companyId !='' " >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null and companyName !=''">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="calendarName != null and calendarName !=''" >
        #{calendarName,jdbcType=VARCHAR},
      </if>
      <if test="handlerId !=null and handlerId !=''">
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt !=null and createdAt !=''">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt !=null and updatedAt !=''">
        #{updatedAt,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>

  <!-- 删除日历状态 -->
  <update id="deletePmCalendar" parameterType="com.mt.pm.common.pojo.PmCalendarPojo">
    update pm_calendar
    SET status = 0, updated_at = #{updateAt}
    where id = #{calendarId}
  </update>

  <!-- 根据日历id查询日历id和日历名字 -->
  <select id="selectPmCalendarById" resultType="map" parameterType="java.lang.Long">
    select distinct id as calendar_id, calendar_name
    from pm_calendar
    where id = #{calendarId} and status = 1
  </select>

  <!-- 新增修改成功之后返回日历id和日历名字 -->
  <select id="selectPmCalendarDetailById" resultType="com.mt.pm.common.pojo.PmCalendarPojo" parameterType="map">
    select distinct id as calendar_id, calendar_name from pm_calendar
    where id = #{query.calendarId} and status = 1
  </select>

</mapper>