<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.pm.common.dao.PmPgDeviceMapper">
  <resultMap id="BaseResultMap" type="com.mt.pm.common.model.PmPgDevice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_no" jdbcType="VARCHAR" property="deviceNo" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="pg_id" jdbcType="BIGINT" property="pgId" />
    <result column="device_model" jdbcType="VARCHAR" property="deviceModel" />
    <result column="device_brand" jdbcType="VARCHAR" property="deviceBrand" />
    <result column="device_addr" jdbcType="VARCHAR" property="deviceAddr" />
    <result column="prod_date" jdbcType="TIMESTAMP" property="prodDate" />
    <result column="work_life" jdbcType="DECIMAL" property="workLife" />
    <result column="is_share" jdbcType="CHAR" property="isShare" />
    <result column="labour_ratio" jdbcType="DECIMAL" property="labourRatio" />
    <result column="device_pic" jdbcType="VARCHAR" property="devicePic" />
    <result column="is_auto_pause" jdbcType="TINYINT" property="isAutoPause" />
    <result column="is_auto_prod" jdbcType="CHAR" property="isAutoProd" />
    <result column="device_status" jdbcType="CHAR" property="deviceStatus" />
    <result column="last_start_time" jdbcType="TIMESTAMP" property="lastStartTime" />
    <result column="last_end_time" jdbcType="TIMESTAMP" property="lastEndTime" />
    <result column="last_maintain_reason" jdbcType="VARCHAR" property="lastMaintainReason" />
    <result column="cycle" jdbcType="INTEGER" property="cycle" />
    <result column="accessory" jdbcType="VARCHAR" property="accessory" />
    <result column="manager_id" jdbcType="BIGINT" property="managerId" />
    <result column="manager_name" jdbcType="VARCHAR" property="managerName" />
    <result column="last_pop_id" jdbcType="BIGINT" property="lastPopId" />
    <result column="handler_id" jdbcType="BIGINT" property="handlerId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_no, device_name, pg_id, device_model, device_brand, device_addr, prod_date,
    work_life, is_share, labour_ratio, device_pic, is_auto_pause, is_auto_prod, device_status,
    last_start_time, last_end_time, last_maintain_reason, cycle, accessory, manager_id,
    manager_name, last_pop_id, handler_id, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pm_pg_device
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pm_pg_device
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.pm.common.model.PmPgDevice">
    insert into pm_pg_device (id, device_no, device_name,
    pg_id, device_model, device_brand,
    device_addr, prod_date, work_life,
    is_share, labour_ratio, device_pic,
    is_auto_pause, is_auto_prod, device_status,
    last_start_time, last_end_time, last_maintain_reason,
    cycle, accessory, manager_id,
    manager_name, last_pop_id, handler_id,
    created_at, updated_at, status
    )
    values (#{id,jdbcType=BIGINT}, #{deviceNo,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR},
    #{pgId,jdbcType=BIGINT}, #{deviceModel,jdbcType=VARCHAR}, #{deviceBrand,jdbcType=VARCHAR},
    #{deviceAddr,jdbcType=VARCHAR}, #{prodDate,jdbcType=TIMESTAMP}, #{workLife,jdbcType=DECIMAL},
    #{isShare,jdbcType=CHAR}, #{labourRatio,jdbcType=DECIMAL}, #{devicePic,jdbcType=VARCHAR},
    #{isAutoPause,jdbcType=TINYINT}, #{isAutoProd,jdbcType=CHAR}, #{deviceStatus,jdbcType=CHAR},
    #{lastStartTime,jdbcType=TIMESTAMP}, #{lastEndTime,jdbcType=TIMESTAMP}, #{lastMaintainReason,jdbcType=VARCHAR},
    #{cycle,jdbcType=INTEGER}, #{accessory,jdbcType=VARCHAR}, #{managerId,jdbcType=BIGINT},
    #{managerName,jdbcType=VARCHAR}, #{lastPopId,jdbcType=BIGINT}, #{handlerId,jdbcType=BIGINT},
    #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.pm.common.model.PmPgDevice">
    insert into pm_pg_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceNo != null">
        device_no,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="pgId != null">
        pg_id,
      </if>
      <if test="deviceModel != null">
        device_model,
      </if>
      <if test="deviceBrand != null">
        device_brand,
      </if>
      <if test="deviceAddr != null">
        device_addr,
      </if>
      <if test="prodDate != null">
        prod_date,
      </if>
      <if test="workLife != null">
        work_life,
      </if>
      <if test="isShare != null">
        is_share,
      </if>
      <if test="labourRatio != null">
        labour_ratio,
      </if>
      <if test="devicePic != null">
        device_pic,
      </if>
      <if test="isAutoPause != null">
        is_auto_pause,
      </if>
      <if test="isAutoProd != null">
        is_auto_prod,
      </if>
      <if test="deviceStatus != null">
        device_status,
      </if>
      <if test="lastStartTime != null">
        last_start_time,
      </if>
      <if test="lastEndTime != null">
        last_end_time,
      </if>
      <if test="lastMaintainReason != null">
        last_maintain_reason,
      </if>
      <if test="cycle != null">
        cycle,
      </if>
      <if test="accessory != null">
        accessory,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="managerName != null">
        manager_name,
      </if>
      <if test="lastPopId != null">
        last_pop_id,
      </if>
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceNo != null">
        #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="pgId != null">
        #{pgId,jdbcType=BIGINT},
      </if>
      <if test="deviceModel != null">
        #{deviceModel,jdbcType=VARCHAR},
      </if>
      <if test="deviceBrand != null">
        #{deviceBrand,jdbcType=VARCHAR},
      </if>
      <if test="deviceAddr != null">
        #{deviceAddr,jdbcType=VARCHAR},
      </if>
      <if test="prodDate != null">
        #{prodDate,jdbcType=TIMESTAMP},
      </if>
      <if test="workLife != null">
        #{workLife,jdbcType=DECIMAL},
      </if>
      <if test="isShare != null">
        #{isShare,jdbcType=CHAR},
      </if>
      <if test="labourRatio != null">
        #{labourRatio,jdbcType=DECIMAL},
      </if>
      <if test="devicePic != null">
        #{devicePic,jdbcType=VARCHAR},
      </if>
      <if test="isAutoPause != null">
        #{isAutoPause,jdbcType=TINYINT},
      </if>
      <if test="isAutoProd != null">
        #{isAutoProd,jdbcType=CHAR},
      </if>
      <if test="deviceStatus != null">
        #{deviceStatus,jdbcType=CHAR},
      </if>
      <if test="lastStartTime != null">
        #{lastStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEndTime != null">
        #{lastEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastMaintainReason != null">
        #{lastMaintainReason,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        #{cycle,jdbcType=INTEGER},
      </if>
      <if test="accessory != null">
        #{accessory,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=BIGINT},
      </if>
      <if test="managerName != null">
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="lastPopId != null">
        #{lastPopId,jdbcType=BIGINT},
      </if>
      <if test="handlerId != null">
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.pm.common.model.PmPgDevice">
    update pm_pg_device
    <set>
      <if test="deviceNo != null">
        device_no = #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="pgId != null">
        pg_id = #{pgId,jdbcType=BIGINT},
      </if>
      <if test="deviceModel != null">
        device_model = #{deviceModel,jdbcType=VARCHAR},
      </if>
      <if test="deviceBrand != null">
        device_brand = #{deviceBrand,jdbcType=VARCHAR},
      </if>
      <if test="deviceAddr != null">
        device_addr = #{deviceAddr,jdbcType=VARCHAR},
      </if>
      <if test="prodDate != null">
        prod_date = #{prodDate,jdbcType=TIMESTAMP},
      </if>
      <if test="workLife != null">
        work_life = #{workLife,jdbcType=DECIMAL},
      </if>
      <if test="isShare != null">
        is_share = #{isShare,jdbcType=CHAR},
      </if>
      <if test="labourRatio != null">
        labour_ratio = #{labourRatio,jdbcType=DECIMAL},
      </if>
      <if test="devicePic != null">
        device_pic = #{devicePic,jdbcType=VARCHAR},
      </if>
      <if test="isAutoPause != null">
        is_auto_pause = #{isAutoPause,jdbcType=TINYINT},
      </if>
      <if test="isAutoProd != null">
        is_auto_prod = #{isAutoProd,jdbcType=CHAR},
      </if>
      <if test="deviceStatus != null">
        device_status = #{deviceStatus,jdbcType=CHAR},
      </if>
      <if test="lastStartTime != null">
        last_start_time = #{lastStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEndTime != null">
        last_end_time = #{lastEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastMaintainReason != null">
        last_maintain_reason = #{lastMaintainReason,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        cycle = #{cycle,jdbcType=INTEGER},
      </if>
      <if test="accessory != null">
        accessory = #{accessory,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=BIGINT},
      </if>
      <if test="managerName != null">
        manager_name = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="lastPopId != null">
        last_pop_id = #{lastPopId,jdbcType=BIGINT},
      </if>
      <if test="handlerId != null">
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.pm.common.model.PmPgDevice">
    update pm_pg_device
    set device_no = #{deviceNo,jdbcType=VARCHAR},
    device_name = #{deviceName,jdbcType=VARCHAR},
    pg_id = #{pgId,jdbcType=BIGINT},
    device_model = #{deviceModel,jdbcType=VARCHAR},
    device_brand = #{deviceBrand,jdbcType=VARCHAR},
    device_addr = #{deviceAddr,jdbcType=VARCHAR},
    prod_date = #{prodDate,jdbcType=TIMESTAMP},
    work_life = #{workLife,jdbcType=DECIMAL},
    is_share = #{isShare,jdbcType=CHAR},
    labour_ratio = #{labourRatio,jdbcType=DECIMAL},
    device_pic = #{devicePic,jdbcType=VARCHAR},
    is_auto_pause = #{isAutoPause,jdbcType=TINYINT},
    is_auto_prod = #{isAutoProd,jdbcType=CHAR},
    device_status = #{deviceStatus,jdbcType=CHAR},
    last_start_time = #{lastStartTime,jdbcType=TIMESTAMP},
    last_end_time = #{lastEndTime,jdbcType=TIMESTAMP},
    last_maintain_reason = #{lastMaintainReason,jdbcType=VARCHAR},
    cycle = #{cycle,jdbcType=INTEGER},
    accessory = #{accessory,jdbcType=VARCHAR},
    manager_id = #{managerId,jdbcType=BIGINT},
    manager_name = #{managerName,jdbcType=VARCHAR},
    last_pop_id = #{lastPopId,jdbcType=BIGINT},
    handler_id = #{handlerId,jdbcType=BIGINT},
    created_at = #{createdAt,jdbcType=TIMESTAMP},
    updated_at = #{updatedAt,jdbcType=TIMESTAMP},
    status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <!--wendy添加-->
  <select id="selectProductionDeviceDetail"  resultType="map"  parameterType="java.lang.Long">
      SELECT device_addr, device_brand, id AS device_id, device_model, device_name
      , device_no, DATE_FORMAT(prod_date, '%Y-%m-%d') AS prod_date, work_life
  FROM pm_pg_device
  WHERE pg_id = #{pg_id}
      AND status = 1
  </select>


  <select id="selectDeviceList"  resultType="map"  parameterType="map">
    SELECT pd.device_addr, pd.device_brand, pd.id AS device_id, pd.device_model, pd.device_name
    , pd.device_no, pd.device_pic, pd.device_status, pd.pg_id, pd.work_life
    , DATE_FORMAT(prod_date, '%Y-%m-%d') AS prod_date
    FROM pm_pg_device pd
    <where>
      <if test="device_name != null and device_name != ''">
        And  pd.device_name=#{device_name}
      </if>
      <if test="pg_id != null and pg_id != ''">
        And  pd.pg_id=#{pg_id}
      </if>
      And  pd.device_status  IN(0,1,2,3)  Limit #{page},#{page_size}
    </where>
  </select>


  <select id="totalCount"  resultType="java.lang.Integer"  parameterType="map">
    SELECT COUNT(pd.id)
    FROM pm_pg_device pd
    <where>
      <if test="device_name != null and device_name != ''">
        And  pd.device_name=#{device_name}
      </if>
      <if test="pg_id != null and pg_id != ''">
        And pd.pg_id=#{pg_id}
      </if>
      And  pd.status=1
    </where>
  </select>


  <select id="selectDeviceDetail" parameterType="map" resultType="map">
    SELECT pe.device_addr, pe.device_brand, pe.device_name, pe.device_model, pe.device_no
    , pe.device_pic, pe.id AS device_id, pe.is_auto_pause, pe.is_auto_prod, pe.labour_ratio
    , pe.last_maintain_reason, pe.pg_id, pg.pg_name, pe.device_status
    , DATE_FORMAT(pe.prod_date, '%Y-%m-%d') AS prod_date, pe.work_life
    , pe.is_share, pe.manager_id, pe.manager_name
    FROM pm_pg_device pe
    JOIN pm_pg pg ON pe.pg_id = pg.pg_id
    <where>
      <if test="device_id != null and device_id != ''">
        And  pe.id=#{device_id}
      </if>
      And  pe.status=1
    </where>
  </select>

  <select id="selectDeviceDetails" parameterType="map" resultType="map">
    SELECT last_end_time, last_start_time
    FROM pm_pg_device pe
    <where>
      <if test="device_id != null and device_id != ''">
        And  pe.id=#{device_id}
      </if>
      and  pe.status=1
    </where>
  </select>


  <select id="selectDeviceMaintainRecordCount"  resultType="java.lang.Integer"  parameterType="map">
    SELECT COUNT(*)
    FROM pm_device_maintain
    <where>
      <if test="device_id != null and device_id != ''">
        And  device_id=#{device_id}  And  status=1
      </if>
    </where>
  </select>

  <select id="selectDeviceMaintainRecord" parameterType="map" resultType="map">
    SELECT cycle, device_id, device_name
    , DATE_FORMAT(end_date, '%Y-%m-%d') AS end_date, length
    , maintain_no, DATE_FORMAT(next_end_date, '%Y-%m-%d') AS next_end_date
    , DATE_FORMAT(next_start_date, '%Y-%m-%d') AS next_start_date
    , DATE_FORMAT(start_date, '%Y-%m-%d') AS start_date
    FROM pm_device_maintain
    <where>
      <if test="device_id != null and device_id != ''">
        And  device_id=#{device_id}
      </if>
      And  status=1
    </where>
   limit  #{page},#{page_size}
  </select>


  <select id="selectDeviceCheckAllocate" parameterType="map" resultType="map">
    SELECT check_uid, check_uid_name, COUNT(*) AS check_device_count
    FROM pm_pg_device
    <where>
      <if test="check_uid != null and check_uid != ''">
        check_uid=#{check_uid}  and  status=1  group  by  check_uid,check_uid_name
      </if>
    </where>
  </select>


  <select id="selectDeviceCheckList" parameterType="map" resultType="map">
    SELECT pk.id AS check_id, pe.device_addr, pe.device_brand, pe.device_model, pk.device_id
    , pk.is_checked, pe.device_name, pe.device_no, pe.device_status, pe.pg_id
    , DATE_FORMAT(pk.plan_check_date, '%Y-%m-%d') AS plan_check_date
    , DATE_FORMAT(pe.prod_date, '%Y-%m-%d') AS prod_date
    , DATE_FORMAT(pk.real_check_date, '%Y-%m-%d') AS real_check_date, remark
    , pe.work_life
    FROM pm_device_check pk
    INNER JOIN pm_pg_device pe ON pk.device_id = pe.id
    INNER JOIN pm_device_check_allocate pme ON pe.id = pme.device_id
    <where>
      <if test="device_id != null and device_id != ''">
        And pk.device_id=#{device_id}
      </if>
      And  pk.status=1
    </where>
  </select>


  <update id="updateDevice" parameterType="java.lang.Long">
      UPDATE pm_pg_device
      SET device_status = 5
      WHERE id = #{device_id}
  </update>


  <select id="selectDeviceInfo"  resultType="map"  parameterType="java.lang.Long">
      SELECT id AS device_id, device_name
      FROM pm_pg_device
      WHERE id = #{device_id}
             AND `status` = 1
  </select>


  <insert id="addDeviceInfo" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  <selectKey resultType="int" order="AFTER" keyProperty="id">
    SELECT LAST_INSERT_ID() as id
  </selectKey>
    insert into pm_pg_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="device_no != null and device_no!=''" >
        device_no,
      </if>
      <if test="device_name != null and device_name!=''" >
        device_name,
      </if>
      <if test="pg_id != null and pg_id!=''" >
        pg_id,
      </if>
      <if test="device_model != null and device_model!=''" >
        device_model,
      </if>
      <if test="device_brand != null and device_brand!=''" >
        device_brand,
      </if>
      <if test="device_addr != null and device_addr!=''" >
        device_addr,
      </if>
      <if test="prod_date != null and prod_date!=''" >
        prod_date,
      </if>
      <if test="work_life != null and work_life!=''" >
        work_life,
      </if>
      <if test="is_share != null and is_share!=''" >
        is_share,
      </if>
      <if test="labour_ratio != null and labour_ratio!=''" >
        labour_ratio,
      </if>
      <if test="device_pic != null and device_pic!=''" >
        device_pic,
      </if>
      <if test="is_auto_pause != null and is_auto_pause!=''" >
        is_auto_pause,
      </if>
      <if test="is_auto_prod != null and is_auto_prod!=''" >
        is_auto_prod,
      </if>
      <if test="device_status != null and device_status!=''" >
        device_status,
      </if>
      <if test="manager_id != null and manager_id!=''">
        manager_id,
      </if>
      <if test="manager_name != null and manager_name!=''">
        manager_name,
      </if>
      <if test="last_maintain_reason != null and last_maintain_reason!=''" >
        last_maintain_reason,
      </if>
      <if test="handler_id != null and handler_id!=''" >
        handler_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="device_no != null and device_no!=''" >
        #{device_no,jdbcType=VARCHAR},
      </if>
      <if test="device_name != null and device_name!=''" >
        #{device_name,jdbcType=VARCHAR},
      </if>
      <if test="pg_id != null and pg_id!=''" >
        #{pg_id,jdbcType=BIGINT},
      </if>
      <if test="device_model != null and device_model!=''" >
        #{device_model,jdbcType=VARCHAR},
      </if>
      <if test="device_brand != null and device_brand!=''" >
        #{device_brand,jdbcType=VARCHAR},
      </if>
      <if test="device_addr != null and device_addr!=''" >
        #{device_addr,jdbcType=VARCHAR},
      </if>
      <if test="prod_date != null and prod_date!=''" >
        #{prod_date,jdbcType=TIMESTAMP},
      </if>
      <if test="work_life != null and work_life!=''" >
        #{work_life,jdbcType=DECIMAL},
      </if>
      <if test="is_share != null and is_share!=''" >
        #{is_share,jdbcType=CHAR},
      </if>
      <if test="labour_ratio != null and labour_ratio!=''" >
        #{labour_ratio,jdbcType=DECIMAL},
      </if>
      <if test="device_pic != null and device_pic!=''" >
        #{device_pic,jdbcType=VARCHAR},
      </if>
      <if test="is_auto_pause != null and is_auto_pause!=''" >
        #{is_auto_pause,jdbcType=TINYINT},
      </if>
      <if test="is_auto_prod != null and is_auto_prod!=''" >
        #{is_auto_prod,jdbcType=CHAR},
      </if>
      <if test="device_status != null and device_status!=''" >
        #{device_status,jdbcType=CHAR},
      </if>
      <if test="manager_id != null and manager_id!=''">
       #{manager_id,jdbcType=BIGINT},
      </if>
      <if test="manager_name != null and manager_name!=''">
        #{manager_name,jdbcType=VARCHAR},
      </if>
      <if test="last_maintain_reason != null and last_maintain_reason!=''" >
        #{last_maintain_reason,jdbcType=VARCHAR},
      </if>
      <if test="handler_id != null and handler_id!=''" >
        #{handler_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateDeviceInfo" parameterType="com.mt.pm.common.model.PmPgDevice" >
    update pm_pg_device
    <set >
      <if test="device_no != null and device_no!=''" >
        device_no = #{device_no,jdbcType=VARCHAR},
      </if>
      <if test="device_name != null and device_name!=''" >
        device_name = #{device_name,jdbcType=VARCHAR},
      </if>
      <if test="pg_id != null and pg_id!=''" >
        pg_id = #{pg_id,jdbcType=BIGINT},
      </if>
      <if test="device_model != null and device_model!=''" >
        device_model = #{device_model,jdbcType=VARCHAR},
      </if>
      <if test="device_brand != null and device_brand!=''" >
        device_brand = #{device_brand,jdbcType=VARCHAR},
      </if>
      <if test="device_addr != null and device_addr!=''" >
        device_addr = #{device_addr,jdbcType=VARCHAR},
      </if>
      <if test="prod_date != null and prod_date!=''" >
        prod_date = #{prod_date,jdbcType=TIMESTAMP},
      </if>
      <if test="work_life != null and work_life!=''" >
        work_life = #{work_life,jdbcType=DECIMAL},
      </if>
      <if test="is_share != null and is_share!=''" >
        is_share = #{is_share,jdbcType=CHAR},
      </if>
      <if test="labour_ratio != null and labour_ratio!=''" >
        labour_ratio = #{labour_ratio,jdbcType=DECIMAL},
      </if>
      <if test="device_pic != null and device_pic!=''" >
        device_pic = #{device_pic,jdbcType=VARCHAR},
      </if>
      <if test="is_auto_pause != null and is_auto_pause!=''" >
        is_auto_pause = #{is_auto_pause,jdbcType=TINYINT},
      </if>
      <if test="is_auto_prod != null and is_auto_prod!=''" >
        is_auto_prod = #{is_auto_prod,jdbcType=CHAR},
      </if>
      <if test="device_status != null and device_status!=''" >
        device_status = #{device_status,jdbcType=CHAR},
      </if>
      <if test="manager_id != null and manager_id!=''">
        manager_id = #{manager_id,jdbcType=BIGINT},
      </if>
      <if test="manager_name != null and manager_name!=''">
        manager_name = #{manager_name,jdbcType=VARCHAR},
      </if>

        last_maintain_reason = #{last_maintain_reason,jdbcType=VARCHAR},

      <if test="handler_id != null and handler_id!=''" >
        handler_id = #{handler_id,jdbcType=BIGINT},
      </if>

        last_end_time = #{last_end_time,jdbcType=TIMESTAMP},

      <if test="last_start_time != null and last_start_time!=''" >
        last_start_time = #{last_start_time,jdbcType=TIMESTAMP},
      </if>

      <if test="created_at != null and created_at!=''" >
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null and updated_at!=''" >
        updated_at = #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null and status!=''" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{device_id,jdbcType=BIGINT}
  </update>


  <select id="selectValidByPgIdAndDeviceId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from pm_pg_device
    where status = 1
    and IFNULL(device_status, '0')<![CDATA[ <> ]]> '5'
    and pg_id = #{pgId}
    and (#{deviceId} is null or #{deviceId} = id)
  </select>
</mapper>