<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.pm.common.dao.PmProcPgMapper">
  <resultMap id="BaseResultMap" type="com.mt.pm.common.model.PmProcPg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="proc_id" jdbcType="BIGINT" property="procId" />
    <result column="pg_id" jdbcType="BIGINT" property="pgId" />
    <result column="is_default" jdbcType="CHAR" property="isDefault" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, proc_id, pg_id, is_default, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_proc_pg
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pm_proc_pg
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.pm.common.model.PmProcPg">
    insert into pm_proc_pg (id, proc_id, pg_id,
      is_default, created_at, updated_at, 
      status)
    values (#{id,jdbcType=BIGINT}, #{procId,jdbcType=BIGINT}, #{pgId,jdbcType=BIGINT},
      #{isDefault,jdbcType=CHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.pm.common.model.PmProcPg">
    insert into pm_proc_pg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="procId != null">
        proc_id,
      </if>
      <if test="pgId != null">
        pg_id,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="procId != null">
        #{procId,jdbcType=BIGINT},
      </if>
      <if test="pgId != null">
        #{pgId,jdbcType=BIGINT},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.pm.common.model.PmProcPg">
    update pm_proc_pg
    <set>
      <if test="procId != null">
        proc_id = #{procId,jdbcType=BIGINT},
      </if>
      <if test="pgId != null">
        pg_id = #{pgId,jdbcType=BIGINT},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.pm.common.model.PmProcPg">
    update pm_proc_pg
    set proc_id = #{procId,jdbcType=BIGINT},
      pg_id = #{pgId,jdbcType=BIGINT},
      is_default = #{isDefault,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByProcId"  parameterType="java.lang.Long" resultType="Map">
    select
    pm_proc_pg.id, proc_id, pm_proc_pg.pg_id,pg_name, is_default
    from pm_proc_pg left JOIN  pm_pg
    on pm_pg.pg_id=pm_proc_pg.pg_id
    WHERE proc_id = #{proc_id}
    and pm_proc_pg.status = '1'
    order by id
  </select>

  <delete id="deleteByProcId" parameterType="java.lang.Long">
    delete from pm_proc_pg
    where proc_id = #{proc_id,jdbcType=BIGINT}
  </delete>

</mapper>