<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.pm.common.dao.PmProdReqMapper" >
  <resultMap id="BaseResultMap" type="com.mt.pm.common.model.PmProdReq" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="req_type" property="reqType" jdbcType="CHAR" />
    <result column="mold_no" property="moldNo" jdbcType="VARCHAR" />
    <result column="bom_id" jdbcType="BIGINT" property="bomId" />
    <result column="bom_type" property="bomType" jdbcType="CHAR" />
    <result column="mat_id" property="matId" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="mat_no" property="matNo" jdbcType="VARCHAR" />
    <result column="mat_name" property="matName" jdbcType="VARCHAR" />
    <result column="mat_type_id" property="matTypeId" jdbcType="BIGINT" />
    <result column="mat_type_name" property="matTypeName" jdbcType="VARCHAR" />
    <result column="rawnature_id" jdbcType="BIGINT" property="rawnatureId" />
    <result column="rawnature_name" jdbcType="VARCHAR" property="rawnatureName" />
    <result column="mat_model" property="matModel" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="node_pos" property="nodePos" jdbcType="INTEGER" />
    <result column="req_qty" property="reqQty" jdbcType="INTEGER" />
    <result column="undeal_qty" property="undealQty" jdbcType="INTEGER" />
    <result column="first_try_date" property="firstTryDate" jdbcType="TIMESTAMP" />
    <result column="is_finished" property="isFinished" jdbcType="CHAR" />
    <result column="pri" property="pri" jdbcType="CHAR" />
    <result column="is_core" property="isCore" jdbcType="CHAR" />
    <result column="plan_date" property="planDate" jdbcType="TIMESTAMP" />
    <result column="req_state" property="reqState" jdbcType="CHAR" />
    <result column="sub_mat_rcv_date" property="subMatRcvDate" jdbcType="TIMESTAMP" />
    <result column="handler_id" property="handlerId" jdbcType="BIGINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, company_name, req_type, mold_no,bom_id, bom_type, mat_id, version, mat_no,
    mat_name, mat_type_id, mat_type_name, mat_model, rawnature_id,
    rawnature_name, unit, unit_name, node_pos, req_qty,
    undeal_qty, first_try_date, is_finished, pri, is_core, plan_date, req_state, sub_mat_rcv_date,
    handler_id, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pm_prod_req
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pm_prod_req
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.pm.common.model.PmProdReq" >
    insert into pm_prod_req (id, company_id, company_name, 
      req_type, mold_no,bom_id, bom_type,
      mat_id, version, mat_no, 
      mat_name, mat_type_id, mat_type_name,
      rawnature_id, rawnature_name,
      mat_model, unit, unit_name, 
      node_pos, req_qty, undeal_qty, 
      first_try_date, is_finished, pri,
      is_core, plan_date, req_state, 
      sub_mat_rcv_date, handler_id, created_at, 
      updated_at, status)
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, 
      #{reqType,jdbcType=CHAR}, #{moldNo,jdbcType=VARCHAR},#{bomId,jdbcType=BIGINT},  #{bomType,jdbcType=CHAR},
      #{matId,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{matNo,jdbcType=VARCHAR}, 
      #{matName,jdbcType=VARCHAR}, #{matTypeId,jdbcType=BIGINT}, #{matTypeName,jdbcType=VARCHAR},
      #{rawnatureId,jdbcType=BIGINT}, #{rawnatureName,jdbcType=VARCHAR},
      #{matModel,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, 
      #{nodePos,jdbcType=INTEGER}, #{reqQty,jdbcType=INTEGER}, #{undealQty,jdbcType=INTEGER}, 
      #{firstTryDate,jdbcType=TIMESTAMP}, #{isFinished,jdbcType=CHAR}, #{pri,jdbcType=CHAR},
      #{isCore,jdbcType=CHAR}, #{planDate,jdbcType=TIMESTAMP}, #{reqState,jdbcType=CHAR}, 
      #{subMatRcvDate,jdbcType=TIMESTAMP}, #{handlerId,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.pm.common.model.PmProdReq" >
    insert into pm_prod_req
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="reqType != null" >
        req_type,
      </if>
      <if test="moldNo != null" >
        mold_no,
      </if>
      <if test="bomId != null" >
        bom_id,
      </if>
      <if test="bomType != null" >
        bom_type,
      </if>
      <if test="matId != null" >
        mat_id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="matNo != null" >
        mat_no,
      </if>
      <if test="matName != null" >
        mat_name,
      </if>
      <if test="matTypeId != null" >
        mat_type_id,
      </if>
      <if test="matTypeName != null" >
        mat_type_name,
      </if>
      <if test="matModel != null" >
        mat_model,
      </if>
      <if test="rawnatureId != null">
        rawnature_id,
      </if>
      <if test="rawnatureName != null">
        rawnature_name,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="unitName != null" >
        unit_name,
      </if>
      <if test="nodePos != null" >
        node_pos,
      </if>
      <if test="reqQty != null" >
        req_qty,
      </if>
      <if test="undealQty != null" >
        undeal_qty,
      </if>
      <if test="firstTryDate != null" >
        first_try_date,
      </if>
      <if test="isFinished != null" >
        is_finished,
      </if>
      <if test="pri != null" >
        pri,
      </if>
      <if test="isCore != null" >
        is_core,
      </if>
      <if test="planDate != null" >
        plan_date,
      </if>
      <if test="reqState != null" >
        req_state,
      </if>
      <if test="subMatRcvDate != null" >
        sub_mat_rcv_date,
      </if>
      <if test="handlerId != null" >
        handler_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="reqType != null" >
        #{reqType,jdbcType=CHAR},
      </if>
      <if test="moldNo != null" >
        #{moldNo,jdbcType=VARCHAR},
      </if>
      <if test="bomId != null" >
        #{bomId,jdbcType=BIGINT},
      </if>
      <if test="bomType != null" >
        #{bomType,jdbcType=CHAR},
      </if>
      <if test="matId != null" >
        #{matId,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="matNo != null" >
        #{matNo,jdbcType=VARCHAR},
      </if>
      <if test="matName != null" >
        #{matName,jdbcType=VARCHAR},
      </if>
      <if test="matTypeId != null" >
        #{matTypeId,jdbcType=BIGINT},
      </if>
      <if test="matTypeName != null" >
        #{matTypeName,jdbcType=VARCHAR},
      </if>
      <if test="matModel != null" >
        #{matModel,jdbcType=VARCHAR},
      </if>
      <if test="rawnatureId != null">
        #{RawnatureId,jdbcType=BIGINT},
      </if>
      <if test="rawnatureName != null">
        #{RawnatureName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="nodePos != null" >
        #{nodePos,jdbcType=INTEGER},
      </if>
      <if test="reqQty != null" >
        #{reqQty,jdbcType=INTEGER},
      </if>
      <if test="undealQty != null" >
        #{undealQty,jdbcType=INTEGER},
      </if>
      <if test="firstTryDate != null" >
        #{firstTryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isFinished != null" >
        #{isFinished,jdbcType=CHAR},
      </if>
      <if test="pri != null" >
        #{pri,jdbcType=CHAR},
      </if>
      <if test="isCore != null" >
        #{isCore,jdbcType=CHAR},
      </if>
      <if test="planDate != null" >
        #{planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reqState != null" >
        #{reqState,jdbcType=CHAR},
      </if>
      <if test="subMatRcvDate != null" >
        #{subMatRcvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handlerId != null" >
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.pm.common.model.PmProdReq" >
    update pm_prod_req
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="reqType != null" >
        req_type = #{reqType,jdbcType=CHAR},
      </if>
      <if test="moldNo != null" >
        mold_no = #{moldNo,jdbcType=VARCHAR},
      </if>
      <if test="bomId != null" >
        bom_id = #{bomId,jdbcType=BIGINT},
      </if>
      <if test="bomType != null" >
        bom_type = #{bomType,jdbcType=CHAR},
      </if>
      <if test="matId != null" >
        mat_id = #{matId,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="matNo != null" >
        mat_no = #{matNo,jdbcType=VARCHAR},
      </if>
      <if test="matName != null" >
        mat_name = #{matName,jdbcType=VARCHAR},
      </if>
      <if test="matTypeId != null" >
        mat_type_id = #{matTypeId,jdbcType=BIGINT},
      </if>
      <if test="matTypeName != null" >
        mat_type_name = #{matTypeName,jdbcType=VARCHAR},
      </if>
      <if test="matModel != null" >
        mat_model = #{matModel,jdbcType=VARCHAR},
      </if>
      <if test="rawnatureId != null">
        rawnature_id = #{rawnatureId,jdbcType=BIGINT},
      </if>
      <if test="rawnatureName != null">
        rawnature_name = #{rawnatureName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="nodePos != null" >
        node_pos = #{nodePos,jdbcType=INTEGER},
      </if>
      <if test="reqQty != null" >
        req_qty = #{reqQty,jdbcType=INTEGER},
      </if>
      <if test="undealQty != null" >
        undeal_qty = #{undealQty,jdbcType=INTEGER},
      </if>
      <if test="firstTryDate != null" >
        first_try_date = #{firstTryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isFinished != null" >
        is_finished = #{isFinished,jdbcType=CHAR},
      </if>
      <if test="pri != null" >
        pri = #{pri,jdbcType=CHAR},
      </if>
      <if test="isCore != null" >
        is_core = #{isCore,jdbcType=CHAR},
      </if>
      <if test="planDate != null" >
        plan_date = #{planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reqState != null" >
        req_state = #{reqState,jdbcType=CHAR},
      </if>
      <if test="subMatRcvDate != null" >
        sub_mat_rcv_date = #{subMatRcvDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handlerId != null" >
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.pm.common.model.PmProdReq" >
    update pm_prod_req
    set company_id = #{companyId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      req_type = #{reqType,jdbcType=CHAR},
      mold_no = #{moldNo,jdbcType=VARCHAR},
      bom_id = #{bomId,jdbcType=BIGINT},
      bom_type = #{bomType,jdbcType=CHAR},
      mat_id = #{matId,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      mat_no = #{matNo,jdbcType=VARCHAR},
      mat_name = #{matName,jdbcType=VARCHAR},
      mat_type_id = #{matTypeId,jdbcType=BIGINT},
      mat_type_name = #{matTypeName,jdbcType=VARCHAR},
      mat_model = #{matModel,jdbcType=VARCHAR},
      rawnature_id = #{rawnatureId,jdbcType=BIGINT},
      rawnature_name = #{rawnatureName,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      node_pos = #{nodePos,jdbcType=INTEGER},
      req_qty = #{reqQty,jdbcType=INTEGER},
      undeal_qty = #{undealQty,jdbcType=INTEGER},
      first_try_date = #{firstTryDate,jdbcType=TIMESTAMP},
      is_finished = #{isFinished,jdbcType=CHAR},
      pri = #{pri,jdbcType=CHAR},
      is_core = #{isCore,jdbcType=CHAR},
      plan_date = #{planDate,jdbcType=TIMESTAMP},
      req_state = #{reqState,jdbcType=CHAR},
      sub_mat_rcv_date = #{subMatRcvDate,jdbcType=TIMESTAMP},
      handler_id = #{handlerId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <!--wendy-->
  <select id="selectMouldMatterDemand"  resultType="Map"  parameterType="Map">
    SELECT bne.mat_id, bne.mat_no, bne.node_id, bm.mold_no, sum(bne.total_qty) as total_qty
    , bne.unit_no AS unit
    FROM   bm_bom_node bne
    JOIN   bm_bom bm  ON bne.bom_id = bm.bom_id
    <where>
      <if  test="query.mold_no!=null  and  query.mold_no!=''">
        And bm.mold_no=#{query.mold_no}
      </if>
      <if  test="query.bom_type!=null  and  query.bom_type!=''">
        And bm.bom_type=#{query.bom_type}
      </if>
    And  bm.app_flag='step0'  group  by mat_id
    </where>
  </select>




  <select id="selectTotalStockQty"  resultType="Map"  parameterType="Map">
    SELECT stock_qty AS total_stock_qty
    FROM iv_store
    <where>
      mat_id=#{mat_id} and
      company_id=#{company_id}      and  status=1
    </where>
  </select>






  <select id="selectMatReqBycondition" parameterType="Map" resultType="Map">
    select
    pm_prod_req.id as req_id, pm_prod_req.company_id, req_type, pm_prod_req.mold_no,bom_id, mat_id, mat_no,
    mat_name, mat_type_id, mat_type_name, mat_model, rawnature_id, rawnature_name, node_pos, req_qty,
    undeal_qty, is_finished, pri,
    mold_type as prod_type,
    cst_prod_name,
    cst_company_id,
    cst_name
    from pm_prod_req left JOIN mold on mold.mold_no=pm_prod_req.mold_no and mold.company_id=pm_prod_req.company_id
    WHERE undeal_qty>0
    <if test="company_id != null and company_id !=''">
      and pm_prod_req.company_id = #{company_id}
    </if>
    <if test="mat_no != null and mat_no !=''">
      and mat_no LIKE  CONCAT('%','${mat_no}','%' )
    </if>
    <if test="mold_no != null and mold_no !=''">
      and mold_no LIKE  CONCAT('%','${mold_no}','%' )
    </if>
    limit #{page}, #{page_size}
  </select>

  <select id="selectMatReqByconditionCount" resultType="java.lang.Integer" parameterType="Map">
    SELECT count(1)
    from pm_prod_req left JOIN mold on mold.mold_no=pm_prod_req.mold_no and mold.company_id=pm_prod_req.company_id
    WHERE undeal_qty>0
    <if test="company_id != null and company_id !=''">
      and pm_prod_req.company_id = #{company_id}
    </if>
    <if test="mat_no != null and mat_no !=''">
      and mat_no LIKE  CONCAT('%','${mat_no}','%' )
    </if>
    <if test="mold_no != null and mold_no !=''">
      and mold_no LIKE  CONCAT('%','${mold_no}','%' )
    </if>
  </select>



  <select id="selectBomReqBycondition" parameterType="Map" resultType="Map">
    select
    pm_prod_req.company_id,  pm_prod_req.mold_no,pm_prod_req.bom_id,node_id,
    cst_prod_name,cst_company_id,cst_name
    from pm_prod_req
    left JOIN bm_bom on bm_bom.mold_no=pm_prod_req.mold_no and bm_bom.company_id=pm_prod_req.company_id
    LEFT JOIN bm_bom_node on bm_bom_node.bom_id=bm_bom.bom_id
    left JOIN mold on mold.mold_no=bm_bom.mold_no and mold.company_id=bm_bom.company_id
    WHERE  pm_prod_req.req_type='1'and  pm_prod_req.undeal_qty>0 and path='0'
    <if test="company_id != null and company_id !=''">
      and pm_prod_req.company_id = #{company_id}
    </if>
    <if test="mold_no != null and mold_no !=''">
      and pm_prod_req.mold_no LIKE  CONCAT('%','${mold_no}','%' )
    </if>
    order by pm_prod_req.mold_no
    limit #{page}, #{page_size}
  </select>

  <select id="selectBomReqByconditionCount" resultType="java.lang.Integer" parameterType="Map">
    SELECT count(1)
    from pm_prod_req
    left JOIN bm_bom on bm_bom.mold_no=pm_prod_req.mold_no and bm_bom.company_id=pm_prod_req.company_id
    LEFT JOIN bm_bom_node on bm_bom_node.bom_id=bm_bom.bom_id
    left JOIN mold on mold.mold_no=bm_bom.mold_no and mold.company_id=bm_bom.company_id
    WHERE  pm_prod_req.req_type='1'and  pm_prod_req.undeal_qty>0 and path='0'
    <if test="company_id != null and company_id !=''">
      and pm_prod_req.company_id = #{company_id}
    </if>
    <if test="mold_no != null and mold_no !=''">
      and pm_prod_req.mold_no LIKE  CONCAT('%','${mold_no}','%' )
    </if>
  </select>

  <select id="selectNodeReqByNodeId" parameterType="Map" resultType="Map">
    select node_id,pm_prod_req.id as req_id,pm_prod_req.bom_id,pm_prod_req.mat_id,pm_prod_req.mat_model,pm_prod_req.mat_name,pm_prod_req.mat_no,
    pm_prod_req.mat_type_id,pm_prod_req.mat_type_name,pm_prod_req.mold_no,pm_prod_req.node_pos,pm_prod_req.undeal_qty,
    pm_prod_req.rawnature_id, pm_prod_req.rawnature_name
    from bm_bom_node LEFT JOIN pm_prod_req on bm_bom_node.mat_id=pm_prod_req.mat_id and bm_bom_node.node_pos=pm_prod_req.node_pos
    and bm_bom_node.bom_id=pm_prod_req.bom_id
    where bm_bom_node.is_unused !=1
    <if test="company_id != null and company_id !=''">
      and company_id = #{company_id}
    </if>
    <if test="bom_id != null and bom_id !=''">
      and bm_bom_node.bom_id = #{bom_id}
    </if>
    <if test="node_id != null and node_id != ''">
      and parent_path=(select path from bm_bom_node where  node_id=#{node_id,jdbcType=BIGINT})
    </if>
    <if test="bom_type!= '电极'">
      and mat_type !=  '电极'
    </if>
    <if test="bom_type == '电极'">
      and mat_type =  '电极'
    </if>
    order by  length(path) ,path
  </select>

  <select id="selectNodeReqByNodeId0" parameterType="Map" resultType="Map">
    select node_id,pm_prod_req.id as req_id,pm_prod_req.bom_id,pm_prod_req.mat_id,pm_prod_req.mat_model,pm_prod_req.mat_name,pm_prod_req.mat_no,
    pm_prod_req.mat_type_id,pm_prod_req.mat_type_name,pm_prod_req.mold_no,pm_prod_req.node_pos,pm_prod_req.undeal_qty,
    pm_prod_req.rawnature_id, pm_prod_req.rawnature_name
    from bm_bom_node LEFT JOIN pm_prod_req on bm_bom_node.mat_id=pm_prod_req.mat_id and bm_bom_node.node_pos=pm_prod_req.node_pos
    and bm_bom_node.bom_id=pm_prod_req.bom_id
    where bm_bom_node.is_unused !=1 and path='0'
    <if test="company_id != null and company_id !=''">
      and company_id = #{company_id}
    </if>
    <if test="bom_id != null and bom_id !=''">
      and bm_bom_node.bom_id = #{bom_id}
    </if>
    <if test="node_id != null and node_id != ''">
      and node_id=#{node_id,jdbcType=BIGINT}
    </if>
  </select>

  <select id="selectENodeReqByNodeId" parameterType="Map" resultType="Map">
    SELECT node_id,pm_prod_req.id as req_id,pm_prod_req.bom_id,pm_prod_req.mat_id,pm_prod_req.mat_model,pm_prod_req.mat_name,pm_prod_req.mat_no,
    pm_prod_req.mat_type_id,pm_prod_req.mat_type_name,pm_prod_req.mold_no,pm_prod_req.node_pos,pm_prod_req.undeal_qty,
    pm_prod_req.rawnature_id, pm_prod_req.rawnature_name
    from
    (select node_id,'1' as is_purchase,bm_bom_node.mat_id,mat_no,mat_type,total_qty,vw2.path
    from bm_bom_node LEFT JOIN (SELECT path,mat_id from bm_bom_node where bm_bom_node.is_unused !=1 and bom_id = #{bom_id,jdbcType=BIGINT} AND parent_path='0' and bm_bom_node.mat_type = '半成品' )vw2
    ON bm_bom_node.mat_id=vw2.mat_id
    where bm_bom_node.is_unused !=1
    and bm_bom_node.bom_id = #{bom_id,jdbcType=BIGINT}
    AND parent_path='0'
    and bm_bom_node.mat_type = '电极') as vwE
    LEFT JOIN pm_prod_req on vwE.mat_id=pm_prod_req.mat_id
    ORDER BY  length(path) ,path
  </select>

  <select id="selectNodeReqInfo" parameterType="Map" resultType="Map">
    select node_id,pm_prod_req.id as req_id,pm_prod_req.bom_id,pm_prod_req.mat_id,pm_prod_req.mat_model,pm_prod_req.mat_name,pm_prod_req.mat_no,
    pm_prod_req.mat_type_id,pm_prod_req.mat_type_name,pm_prod_req.mold_no,pm_prod_req.node_pos,pm_prod_req.undeal_qty,
    pm_prod_req.rawnature_id, pm_prod_req.rawnature_name
    from bm_bom_node RIGHT JOIN pm_prod_req on bm_bom_node.mat_id=pm_prod_req.mat_id and bm_bom_node.node_pos=pm_prod_req.node_pos
    where 1=1
    <if test="company_id != null and company_id !=''">
    and company_id = #{company_id}
    </if>
    <if test="mold_no != null">
      and mold_no = #{mold_no}
    </if>
    <if test="node_id != null">
      and node_id = #{node_id}
    </if>
  </select>



  <select id="selectReqBycondition" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pm_prod_req
    WHERE status = '1'
      and company_id = #{company_id}
      and mold_no = #{mold_no}
      and bom_id = #{bom_id}
      and mat_id = #{mat_id}
      and node_pos = #{node_pos}
    ORDER by id DESC
    limit 1
  </select>


</mapper>