<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.pm.common.dao.PmRoutingTmplMapper">
  <resultMap id="BaseResultMap" type="com.mt.pm.common.model.PmRoutingTmpl">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="tmpl_type_id" jdbcType="BIGINT" property="tmplTypeId" />
    <result column="tmpl_type_name" jdbcType="VARCHAR" property="tmplTypeName" />
    <result column="tmpl_name" jdbcType="VARCHAR" property="tmplName" />
    <result column="tmpl_desc" jdbcType="VARCHAR" property="tmplDesc" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="last_handler_id" jdbcType="BIGINT" property="lastHandlerId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="status" jdbcType="CHAR" property="status" />
    <association property="subList" column="id" select="com.mt.pm.common.dao.PmRoutingTmplSubMapper.selectByTmplId"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, company_name,tmpl_type_id, tmpl_type_name, tmpl_name, tmpl_desc, remark, last_handler_id,
    created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_routing_tmpl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pm_routing_tmpl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.pm.common.model.PmRoutingTmpl">
    insert into pm_routing_tmpl (id,company_id, company_name, tmpl_type_id, tmpl_type_name,
      tmpl_name, tmpl_desc, remark, 
      last_handler_id, created_at, updated_at, 
      status)
    values (#{id,jdbcType=BIGINT},  #{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR},
      #{tmplTypeId,jdbcType=BIGINT}, #{tmplTypeName,jdbcType=VARCHAR},
      #{tmplName,jdbcType=VARCHAR}, #{tmplDesc,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{lastHandlerId,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR})
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.mt.pm.common.model.PmRoutingTmpl">
    insert into pm_routing_tmpl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="tmplTypeId != null">
        tmpl_type_id,
      </if>
      <if test="tmplTypeName != null">
        tmpl_type_name,
      </if>
      <if test="tmplName != null">
        tmpl_name,
      </if>
      <if test="tmplDesc != null">
        tmpl_desc,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="lastHandlerId != null">
        last_handler_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tmplTypeId != null">
        #{tmplTypeId,jdbcType=BIGINT},
      </if>
      <if test="tmplTypeName != null">
        #{tmplTypeName,jdbcType=VARCHAR},
      </if>
      <if test="tmplName != null">
        #{tmplName,jdbcType=VARCHAR},
      </if>
      <if test="tmplDesc != null">
        #{tmplDesc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="lastHandlerId != null">
        #{lastHandlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.pm.common.model.PmRoutingTmpl">
    update pm_routing_tmpl
    <set>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="tmplTypeId != null">
        tmpl_type_id = #{tmplTypeId,jdbcType=BIGINT},
      </if>
      <if test="tmplTypeName != null">
        tmpl_type_name = #{tmplTypeName,jdbcType=VARCHAR},
      </if>
      <if test="tmplName != null">
        tmpl_name = #{tmplName,jdbcType=VARCHAR},
      </if>
      <if test="tmplDesc != null">
        tmpl_desc = #{tmplDesc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="lastHandlerId != null">
        last_handler_id = #{lastHandlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.pm.common.model.PmRoutingTmpl">
    update pm_routing_tmpl
    set  company_id = #{companyId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      tmpl_type_id = #{tmplTypeId,jdbcType=BIGINT},
      tmpl_type_name = #{tmplTypeName,jdbcType=VARCHAR},
      tmpl_name = #{tmplName,jdbcType=VARCHAR},
      tmpl_desc = #{tmplDesc,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      last_handler_id = #{lastHandlerId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectRoutingTmplBycondition" parameterType="Map" resultType="Map">
    select
    <include refid="Base_Column_List" />
    from pm_routing_tmpl WHERE 1=1
    <if test="company_id != null and company_id !=''">
      and company_id = #{company_id}
    </if>
    <if test="tmpl_type_id != null and tmpl_type_id !=''">
      and tmpl_type_id = #{tmpl_type_id}
    </if>
    <if test="tmpl_name != null and tmpl_name !=''">
      and tmpl_name LIKE  CONCAT('%','${tmpl_name}','%' )
    </if>
    <if test="tmpl_type_name != null and tmpl_type_name !=''">
      and tmpl_type_name LIKE  CONCAT('%','${tmpl_type_name}','%' )
    </if>
    <if test="status != null and status !=''">
      and status = #{status}
    </if>
    limit #{page}, #{page_size}
  </select>

  <select id="selectRoutingTmplByconditionCount" resultType="java.lang.Integer" parameterType="Map">
    SELECT count(1)
    from pm_routing_tmpl WHERE 1=1
    <if test="company_id != null and company_id !=''">
      and company_id = #{company_id}
    </if>
    <if test="tmpl_type_id != null and tmpl_type_id !=''">
      and tmpl_type_id = #{tmpl_type_id}
    </if>
    <if test="tmpl_name != null and tmpl_name !=''">
      and tmpl_name LIKE  CONCAT('%','${tmpl_name}','%' )
    </if>
    <if test="tmpl_type_name != null and tmpl_type_name !=''">
      and tmpl_type_name LIKE  CONCAT('%','${tmpl_type_name}','%' )
    </if>
    <if test="status != null and status !=''">
      and status = #{status}
    </if>
  </select>

</mapper>