<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.cms.common.dao.CityMapper">
  <resultMap id="BaseResultMap" type="com.mt.cms.common.model.City">
    <id column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="country_id" jdbcType="SMALLINT" property="countryId" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    city_id, name, name_en, city_code, province_id, country_id, is_active, created_at,
    updated_at, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mt.cms.common.model.City">
    insert into city (city_id, name, name_en,
    city_code, province_id, country_id,
    is_active, created_at, updated_at,
    status)
    values (#{cityId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR},
    #{cityCode,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER}, #{countryId,jdbcType=SMALLINT},
    #{isActive,jdbcType=BIT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP},
    #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.cms.common.model.City">
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        city_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nameEn != null">
        name_en,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="countryId != null">
        country_id,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="countryId != null">
        #{countryId,jdbcType=SMALLINT},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.cms.common.model.City">
    update city
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="countryId != null">
        country_id = #{countryId,jdbcType=SMALLINT},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.cms.common.model.City">
    update city
    set name = #{name,jdbcType=VARCHAR},
    name_en = #{nameEn,jdbcType=VARCHAR},
    city_code = #{cityCode,jdbcType=VARCHAR},
    province_id = #{provinceId,jdbcType=INTEGER},
    country_id = #{countryId,jdbcType=SMALLINT},
    is_active = #{isActive,jdbcType=BIT},
    created_at = #{createdAt,jdbcType=TIMESTAMP},
    updated_at = #{updatedAt,jdbcType=TIMESTAMP},
    status = #{status,jdbcType=TINYINT}
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
</mapper>