<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.cms.common.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.mt.cms.common.model.Department">
    <id column="dep_id" jdbcType="INTEGER" property="depId" />
    <result column="dep_code" jdbcType="VARCHAR" property="depCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
    <result column="upper" jdbcType="VARCHAR" property="upper" />
    <result column="upper_en" jdbcType="VARCHAR" property="upperEn" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="manager_name" jdbcType="VARCHAR" property="managerName" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="upper_id" jdbcType="INTEGER" property="upperId" />
    <result column="all_upper_ids" jdbcType="VARCHAR" property="allUpperIds" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="handler_id" jdbcType="BIGINT" property="handlerId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_default" jdbcType="CHAR" property="isDefault" />
  </resultMap>
  <sql id="Base_Column_List">
    dep_id, dep_code, name, name_en, upper, upper_en, comment, manager, manager_name,
    company_id, upper_id, all_upper_ids, is_active, handler_id, created_at, updated_at,
    status, is_default
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from department
    where dep_id = #{depId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where dep_id = #{depId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mt.cms.common.model.Department">
    insert into department (dep_id, dep_code, name,
    name_en, upper, upper_en,
    comment, manager, manager_name,
    company_id, upper_id, all_upper_ids,
    is_active, handler_id, created_at,
    updated_at, status, is_default
    )
    values (#{depId,jdbcType=INTEGER}, #{depCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
    #{nameEn,jdbcType=VARCHAR}, #{upper,jdbcType=VARCHAR}, #{upperEn,jdbcType=VARCHAR},
    #{comment,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{managerName,jdbcType=VARCHAR},
    #{companyId,jdbcType=INTEGER}, #{upperId,jdbcType=INTEGER}, #{allUpperIds,jdbcType=VARCHAR},
    #{isActive,jdbcType=BIT}, #{handlerId,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP},
    #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{isDefault,jdbcType=CHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.cms.common.model.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="depId != null">
        dep_id,
      </if>
      <if test="depCode != null">
        dep_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nameEn != null">
        name_en,
      </if>
      <if test="upper != null">
        upper,
      </if>
      <if test="upperEn != null">
        upper_en,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="manager != null">
        manager,
      </if>
      <if test="managerName != null">
        manager_name,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="upperId != null">
        upper_id,
      </if>
      <if test="allUpperIds != null">
        all_upper_ids,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="depId != null">
        #{depId,jdbcType=INTEGER},
      </if>
      <if test="depCode != null">
        #{depCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="upper != null">
        #{upper,jdbcType=VARCHAR},
      </if>
      <if test="upperEn != null">
        #{upperEn,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null">
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="upperId != null">
        #{upperId,jdbcType=INTEGER},
      </if>
      <if test="allUpperIds != null">
        #{allUpperIds,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="handlerId != null">
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.cms.common.model.Department">
    update department
    <set>
      <if test="depCode != null">
        dep_code = #{depCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="upper != null">
        upper = #{upper,jdbcType=VARCHAR},
      </if>
      <if test="upperEn != null">
        upper_en = #{upperEn,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null">
        manager_name = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="upperId != null">
        upper_id = #{upperId,jdbcType=INTEGER},
      </if>
      <if test="allUpperIds != null">
        all_upper_ids = #{allUpperIds,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="handlerId != null">
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=CHAR},
      </if>
    </set>
    where dep_id = #{depId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.cms.common.model.Department">
    update department
    set dep_code = #{depCode,jdbcType=VARCHAR},
    name = #{name,jdbcType=VARCHAR},
    name_en = #{nameEn,jdbcType=VARCHAR},
    upper = #{upper,jdbcType=VARCHAR},
    upper_en = #{upperEn,jdbcType=VARCHAR},
    comment = #{comment,jdbcType=VARCHAR},
    manager = #{manager,jdbcType=VARCHAR},
    manager_name = #{managerName,jdbcType=VARCHAR},
    company_id = #{companyId,jdbcType=INTEGER},
    upper_id = #{upperId,jdbcType=INTEGER},
    all_upper_ids = #{allUpperIds,jdbcType=VARCHAR},
    is_active = #{isActive,jdbcType=BIT},
    handler_id = #{handlerId,jdbcType=BIGINT},
    created_at = #{createdAt,jdbcType=TIMESTAMP},
    updated_at = #{updatedAt,jdbcType=TIMESTAMP},
    status = #{status,jdbcType=TINYINT},
    is_default = #{isDefault,jdbcType=CHAR}
    where dep_id = #{depId,jdbcType=INTEGER}
  </update>


  <!--  Added by fhk on 2017.9.15  -->

  <select id="selectByDepName"  resultMap="BaseResultMap">
    select dep_id, dep_code, name, name_en, upper, upper_en, comment, manager, company_id,
    upper_id, all_upper_ids, is_active, created_at, updated_at, status
    from department
    where company_id = #{companyId, jdbcType=INTEGER}
    and name = #{depName,jdbcType=VARCHAR}
    limit 1
  </select>

  <insert id="insertDepartment" parameterType="com.mt.cms.common.model.Department">
    insert into department (dep_id, dep_code, name,
    name_en, upper, upper_en,
    comment, manager,manager_name,company_id,
    upper_id, all_upper_ids )
    values (#{depId,jdbcType=INTEGER}, #{depCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
    #{nameEn,jdbcType=VARCHAR}, #{upper,jdbcType=VARCHAR}, #{upperEn,jdbcType=VARCHAR},
    #{comment,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{managerName,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER},
    #{upperId,jdbcType=INTEGER}, #{allUpperIds,jdbcType=VARCHAR}
    )
  </insert>

  <select id="getMaxDepId"  resultType="java.lang.Integer">
    select max(dep_id)
    from department
  </select>


  <select id="selectByUpperDepId"  resultMap="BaseResultMap">
    SELECT * FROM department
    where company_id = #{companyId,jdbcType=INTEGER}
    and (
    ( #{depId,jdbcType=INTEGER} is null or #{depId,jdbcType=INTEGER} = 0 )
    and (upper_id is null or upper_id = '')
    or
    upper_id = #{depId,jdbcType=INTEGER}
    )
  </select>

  <select id="getAllUserCountByDepId" resultType="java.lang.Integer">
    SELECT count(*) FROM user_company a
    INNER JOIN department b on a.dep_id = b.dep_id
    where a.company_id = #{companyId,jdbcType=INTEGER}
    and  (
      cast(a.dep_id as char) = #{depId,jdbcType=VARCHAR} or LOCATE ( "|" + #{depId,jdbcType=VARCHAR} + "|", "|"+b.all_upper_ids + "|") > 0
      )
  </select>


  <delete id="deleteBatch" parameterType="map">
    delete from department
    WHERE  dep_id IN
    <foreach  item="depIds" collection="depIds" open="(" separator="," close=")">
      #{depIds}
    </foreach>
  </delete>

  <!--wendy添加-->
  <update id="updateDepartment" parameterType="map">
    update department
    <set>
      <if test="dep_code != null  and dep_code!=''">
        dep_code = #{dep_code,jdbcType=VARCHAR},
      </if>
      <if test="name != null  and name!=''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="name_en != null  and name_en!=''">
        name_en = #{name_en,jdbcType=VARCHAR},
      </if>
      <if test="upper != null  and upper!=''">
        upper = #{upper,jdbcType=VARCHAR},
      </if>
      <if test="upper_en != null  and upper_en!=''">
        upper_en = #{upper_en,jdbcType=VARCHAR},
      </if>
      <if test="comment != null  and comment!=''">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="manager != null  and manager!=''">
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="manager_name != null  and manager_name!=''">
        manager_name = #{manager_name,jdbcType=VARCHAR},
      </if>
      <if test="upper_id != null  and upper_id!=''">
        upper_id = #{upper_id,jdbcType=INTEGER},
      </if>
      <if test="all_upper_ids != null  and all_upper_ids!=''">
        all_upper_ids = #{all_upper_ids,jdbcType=VARCHAR},
      </if>
      <if test="is_active != null  and is_active!=''">
        is_active = #{is_active,jdbcType=BIT},
      </if>
      <if test="created_at != null  and created_at!=''">
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null  and updated_at!=''">
        updated_at = #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null  and status!=''">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where dep_id = #{pg_id,jdbcType=INTEGER}
  </update>


  <insert id="addDepartment" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    <selectKey resultType="int" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() as id
    </selectKey>
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pg_id != null">
        dep_id,
      </if>
      <if test="dep_code != null">
        dep_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="name_en != null">
        name_en,
      </if>
      <if test="upper != null">
        upper,
      </if>
      <if test="upper_en != null">
        upper_en,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="manager != null">
        manager,
      </if>
      <if test="manager_name != null">
        manager_name,
      </if>
      <if test="company_id != null">
        company_id,
      </if>
      <if test="upper_id != null">
        upper_id,
      </if>
      <if test="all_upper_ids != null">
        all_upper_ids,
      </if>
      <if test="is_active != null">
        is_active,
      </if>
      <if test="created_at != null">
        created_at,
      </if>
      <if test="updated_at != null">
        updated_at,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pg_id != null">
        #{pg_id,jdbcType=INTEGER},
      </if>
      <if test="dep_code != null">
        #{dep_code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="name_en != null">
        #{name_en,jdbcType=VARCHAR},
      </if>
      <if test="upper != null">
        #{upper,jdbcType=VARCHAR},
      </if>
      <if test="upper_en != null">
        #{upper_en,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="manager_name != null">
        #{manager_name,jdbcType=VARCHAR},
      </if>
      <if test="company_id != null">
        #{company_id,jdbcType=INTEGER},
      </if>
      <if test="upper_id != null">
        #{upper_id,jdbcType=INTEGER},
      </if>
      <if test="all_upper_ids != null">
        #{all_upper_ids,jdbcType=VARCHAR},
      </if>
      <if test="is_active != null">
        #{is_active,jdbcType=BIT},
      </if>
      <if test="created_at != null">
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="updated_at != null">
        #{updated_at,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <select id="selectByDepCode"  resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List" />
      from department
      where company_id = #{companyId}
      and dep_code = #{depCode}
  </select>


  <select id="selectValidUserCompanyByDepIdAndUid" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from department
    where status = 1
    and is_active = 1
    and company_id = #{companyId}
    and (#{depId} is null or #{depId} = dep_id)
    ORDER by name
  </select>

  <select id="selectByDepCodeIdAndDepCode" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from department
    where status = 1
    and is_active = 1
    and company_id = #{companyId}
    and (#{depId} is null or #{depId} = 0 or #{depId} = dep_id)
    and (#{depCode} is null or #{depCode} = '' or #{depCode} = dep_code)
  </select>
</mapper>