<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.cms.common.dao.ProvinceMapper">
  <resultMap id="BaseResultMap" type="com.mt.cms.common.model.Province">
    <id column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="country_id" jdbcType="INTEGER" property="countryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="digit_code" jdbcType="CHAR" property="digitCode" />
    <result column="english_code" jdbcType="CHAR" property="englishCode" />
    <result column="region_id" jdbcType="INTEGER" property="regionId" />
    <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
    <result column="tax_name" jdbcType="VARCHAR" property="taxName" />
    <result column="tax_rate1" jdbcType="DECIMAL" property="taxRate1" />
    <result column="tax_rate2" jdbcType="DECIMAL" property="taxRate2" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    province_id, country_id, name, digit_code, english_code, region_id, name_en, tax_name,
    tax_rate1, tax_rate2, is_active, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from province
    where province_id = #{provinceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from province
    where province_id = #{provinceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mt.cms.common.model.Province">
    insert into province (province_id, country_id, name,
    digit_code, english_code, region_id,
    name_en, tax_name, tax_rate1,
    tax_rate2, is_active, created_at,
    updated_at, status)
    values (#{provinceId,jdbcType=INTEGER}, #{countryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
    #{digitCode,jdbcType=CHAR}, #{englishCode,jdbcType=CHAR}, #{regionId,jdbcType=INTEGER},
    #{nameEn,jdbcType=VARCHAR}, #{taxName,jdbcType=VARCHAR}, #{taxRate1,jdbcType=DECIMAL},
    #{taxRate2,jdbcType=DECIMAL}, #{isActive,jdbcType=BIT}, #{createdAt,jdbcType=TIMESTAMP},
    #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.cms.common.model.Province">
    insert into province
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="countryId != null">
        country_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="digitCode != null">
        digit_code,
      </if>
      <if test="englishCode != null">
        english_code,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="nameEn != null">
        name_en,
      </if>
      <if test="taxName != null">
        tax_name,
      </if>
      <if test="taxRate1 != null">
        tax_rate1,
      </if>
      <if test="taxRate2 != null">
        tax_rate2,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="countryId != null">
        #{countryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="digitCode != null">
        #{digitCode,jdbcType=CHAR},
      </if>
      <if test="englishCode != null">
        #{englishCode,jdbcType=CHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="taxName != null">
        #{taxName,jdbcType=VARCHAR},
      </if>
      <if test="taxRate1 != null">
        #{taxRate1,jdbcType=DECIMAL},
      </if>
      <if test="taxRate2 != null">
        #{taxRate2,jdbcType=DECIMAL},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.cms.common.model.Province">
    update province
    <set>
      <if test="countryId != null">
        country_id = #{countryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="digitCode != null">
        digit_code = #{digitCode,jdbcType=CHAR},
      </if>
      <if test="englishCode != null">
        english_code = #{englishCode,jdbcType=CHAR},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="taxName != null">
        tax_name = #{taxName,jdbcType=VARCHAR},
      </if>
      <if test="taxRate1 != null">
        tax_rate1 = #{taxRate1,jdbcType=DECIMAL},
      </if>
      <if test="taxRate2 != null">
        tax_rate2 = #{taxRate2,jdbcType=DECIMAL},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where province_id = #{provinceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.cms.common.model.Province">
    update province
    set country_id = #{countryId,jdbcType=INTEGER},
    name = #{name,jdbcType=VARCHAR},
    digit_code = #{digitCode,jdbcType=CHAR},
    english_code = #{englishCode,jdbcType=CHAR},
    region_id = #{regionId,jdbcType=INTEGER},
    name_en = #{nameEn,jdbcType=VARCHAR},
    tax_name = #{taxName,jdbcType=VARCHAR},
    tax_rate1 = #{taxRate1,jdbcType=DECIMAL},
    tax_rate2 = #{taxRate2,jdbcType=DECIMAL},
    is_active = #{isActive,jdbcType=BIT},
    created_at = #{createdAt,jdbcType=TIMESTAMP},
    updated_at = #{updatedAt,jdbcType=TIMESTAMP},
    status = #{status,jdbcType=TINYINT}
    where province_id = #{provinceId,jdbcType=INTEGER}
  </update>
</mapper>