<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.cms.common.dao.SupplierMapper">
    <resultMap id="BaseResultMap" type="com.mt.cms.common.model.Supplier">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="sup_company_id" jdbcType="BIGINT" property="supCompanyId" />
        <result column="company_id" jdbcType="BIGINT" property="companyId" />
        <result column="contact_man" jdbcType="VARCHAR" property="contactMan" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="wechat" jdbcType="VARCHAR" property="wechat" />
        <result column="weibo" jdbcType="VARCHAR" property="weibo" />
        <result column="supply_type" jdbcType="VARCHAR" property="supplyType" />
        <result column="tax_type" jdbcType="VARCHAR" property="taxType" />
        <result column="is_tax" jdbcType="BIT" property="isTax" />
        <result column="tax_ratio" jdbcType="DECIMAL" property="taxRatio" />
        <result column="currency" jdbcType="VARCHAR" property="currency" />
        <result column="credit_class" jdbcType="VARCHAR" property="creditClass" />
        <result column="credit_mark" jdbcType="VARCHAR" property="creditMark" />
        <result column="credit_sum" jdbcType="DECIMAL" property="creditSum" />
        <result column="credit_time" jdbcType="INTEGER" property="creditTime" />
        <result column="treat_times" jdbcType="INTEGER" property="treatTimes" />
        <result column="checkout_type" jdbcType="CHAR" property="checkoutType" />
        <result column="quality_level" jdbcType="INTEGER" property="qualityLevel" />
        <result column="is_active" jdbcType="BIT" property="isActive" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="sup_company_name" jdbcType="VARCHAR" property="supCompanyName" />
        <result column="sup_company_address" jdbcType="VARCHAR" property="supCompanyAddress" />
        <result column="supply_type_code" jdbcType="INTEGER" property="supplyTypeCode" />
        <result column="tax_type_code" jdbcType="INTEGER" property="taxTypeCode" />
        <result column="quality_level_code" jdbcType="INTEGER" property="qualityLevelCode" />
        <result column="invite_status" jdbcType="TINYINT" property="inviteStatus" />
    </resultMap>
    <sql id="Base_Column_List">
        id, sup_company_id, company_id, contact_man, phone, email, wechat, weibo, supply_type,
        tax_type, is_tax, tax_ratio, currency, credit_class, credit_mark, credit_sum, credit_time,
        treat_times, checkout_type, quality_level, is_active, created_at, updated_at, status,
        sup_company_name, sup_company_address, supply_type_code, tax_type_code, quality_level_code,
        invite_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from supplier
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from supplier
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.mt.cms.common.model.Supplier">
        insert into supplier (id, sup_company_id, company_id,
        contact_man, phone, email,
        wechat, weibo, supply_type,
        tax_type, is_tax, tax_ratio,
        currency, credit_class, credit_mark,
        credit_sum, credit_time, treat_times,
        checkout_type, quality_level, is_active,
        created_at, updated_at, status,
        sup_company_name, sup_company_address, supply_type_code,
        tax_type_code, quality_level_code, invite_status
        )
        values (#{id,jdbcType=BIGINT}, #{supCompanyId,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT},
        #{contactMan,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{wechat,jdbcType=VARCHAR}, #{weibo,jdbcType=VARCHAR}, #{supplyType,jdbcType=VARCHAR},
        #{taxType,jdbcType=VARCHAR}, #{isTax,jdbcType=BIT}, #{taxRatio,jdbcType=DECIMAL},
        #{currency,jdbcType=VARCHAR}, #{creditClass,jdbcType=VARCHAR}, #{creditMark,jdbcType=VARCHAR},
        #{creditSum,jdbcType=DECIMAL}, #{creditTime,jdbcType=INTEGER}, #{treatTimes,jdbcType=INTEGER},
        #{checkoutType,jdbcType=CHAR}, #{qualityLevel,jdbcType=INTEGER}, #{isActive,jdbcType=BIT},
        #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT},
        #{supCompanyName,jdbcType=VARCHAR}, #{supCompanyAddress,jdbcType=VARCHAR}, #{supplyTypeCode,jdbcType=INTEGER},
        #{taxTypeCode,jdbcType=INTEGER}, #{qualityLevelCode,jdbcType=INTEGER}, #{inviteStatus,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.mt.cms.common.model.Supplier">
        insert into supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="supCompanyId != null">
                sup_company_id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="contactMan != null">
                contact_man,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="wechat != null">
                wechat,
            </if>
            <if test="weibo != null">
                weibo,
            </if>
            <if test="supplyType != null">
                supply_type,
            </if>
            <if test="taxType != null">
                tax_type,
            </if>
            <if test="isTax != null">
                is_tax,
            </if>
            <if test="taxRatio != null">
                tax_ratio,
            </if>
            <if test="currency != null">
                currency,
            </if>
            <if test="creditClass != null">
                credit_class,
            </if>
            <if test="creditMark != null">
                credit_mark,
            </if>
            <if test="creditSum != null">
                credit_sum,
            </if>
            <if test="creditTime != null">
                credit_time,
            </if>
            <if test="treatTimes != null">
                treat_times,
            </if>
            <if test="checkoutType != null">
                checkout_type,
            </if>
            <if test="qualityLevel != null">
                quality_level,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="supCompanyName != null">
                sup_company_name,
            </if>
            <if test="supCompanyAddress != null">
                sup_company_address,
            </if>
            <if test="supplyTypeCode != null">
                supply_type_code,
            </if>
            <if test="taxTypeCode != null">
                tax_type_code,
            </if>
            <if test="qualityLevelCode != null">
                quality_level_code,
            </if>
            <if test="inviteStatus != null">
                invite_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="supCompanyId != null">
                #{supCompanyId,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="contactMan != null">
                #{contactMan,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="weibo != null">
                #{weibo,jdbcType=VARCHAR},
            </if>
            <if test="supplyType != null">
                #{supplyType,jdbcType=VARCHAR},
            </if>
            <if test="taxType != null">
                #{taxType,jdbcType=VARCHAR},
            </if>
            <if test="isTax != null">
                #{isTax,jdbcType=BIT},
            </if>
            <if test="taxRatio != null">
                #{taxRatio,jdbcType=DECIMAL},
            </if>
            <if test="currency != null">
                #{currency,jdbcType=VARCHAR},
            </if>
            <if test="creditClass != null">
                #{creditClass,jdbcType=VARCHAR},
            </if>
            <if test="creditMark != null">
                #{creditMark,jdbcType=VARCHAR},
            </if>
            <if test="creditSum != null">
                #{creditSum,jdbcType=DECIMAL},
            </if>
            <if test="creditTime != null">
                #{creditTime,jdbcType=INTEGER},
            </if>
            <if test="treatTimes != null">
                #{treatTimes,jdbcType=INTEGER},
            </if>
            <if test="checkoutType != null">
                #{checkoutType,jdbcType=CHAR},
            </if>
            <if test="qualityLevel != null">
                #{qualityLevel,jdbcType=INTEGER},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=BIT},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="supCompanyName != null">
                #{supCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="supCompanyAddress != null">
                #{supCompanyAddress,jdbcType=VARCHAR},
            </if>
            <if test="supplyTypeCode != null">
                #{supplyTypeCode,jdbcType=INTEGER},
            </if>
            <if test="taxTypeCode != null">
                #{taxTypeCode,jdbcType=INTEGER},
            </if>
            <if test="qualityLevelCode != null">
                #{qualityLevelCode,jdbcType=INTEGER},
            </if>
            <if test="inviteStatus != null">
                #{inviteStatus,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mt.cms.common.model.Supplier">
        update supplier
        <set>
            <if test="supCompanyId != null">
                sup_company_id = #{supCompanyId,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="contactMan != null">
                contact_man = #{contactMan,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="weibo != null">
                weibo = #{weibo,jdbcType=VARCHAR},
            </if>
            <if test="supplyType != null">
                supply_type = #{supplyType,jdbcType=VARCHAR},
            </if>
            <if test="taxType != null">
                tax_type = #{taxType,jdbcType=VARCHAR},
            </if>
            <if test="isTax != null">
                is_tax = #{isTax,jdbcType=BIT},
            </if>
            <if test="taxRatio != null">
                tax_ratio = #{taxRatio,jdbcType=DECIMAL},
            </if>
            <if test="currency != null">
                currency = #{currency,jdbcType=VARCHAR},
            </if>
            <if test="creditClass != null">
                credit_class = #{creditClass,jdbcType=VARCHAR},
            </if>
            <if test="creditMark != null">
                credit_mark = #{creditMark,jdbcType=VARCHAR},
            </if>
            <if test="creditSum != null">
                credit_sum = #{creditSum,jdbcType=DECIMAL},
            </if>
            <if test="creditTime != null">
                credit_time = #{creditTime,jdbcType=INTEGER},
            </if>
            <if test="treatTimes != null">
                treat_times = #{treatTimes,jdbcType=INTEGER},
            </if>
            <if test="checkoutType != null">
                checkout_type = #{checkoutType,jdbcType=CHAR},
            </if>
            <if test="qualityLevel != null">
                quality_level = #{qualityLevel,jdbcType=INTEGER},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=BIT},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="supCompanyName != null">
                sup_company_name = #{supCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="supCompanyAddress != null">
                sup_company_address = #{supCompanyAddress,jdbcType=VARCHAR},
            </if>
            <if test="supplyTypeCode != null">
                supply_type_code = #{supplyTypeCode,jdbcType=INTEGER},
            </if>
            <if test="taxTypeCode != null">
                tax_type_code = #{taxTypeCode,jdbcType=INTEGER},
            </if>
            <if test="qualityLevelCode != null">
                quality_level_code = #{qualityLevelCode,jdbcType=INTEGER},
            </if>
            <if test="inviteStatus != null">
                invite_status = #{inviteStatus,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mt.cms.common.model.Supplier">
        update supplier
        set sup_company_id = #{supCompanyId,jdbcType=BIGINT},
        company_id = #{companyId,jdbcType=BIGINT},
        contact_man = #{contactMan,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        wechat = #{wechat,jdbcType=VARCHAR},
        weibo = #{weibo,jdbcType=VARCHAR},
        supply_type = #{supplyType,jdbcType=VARCHAR},
        tax_type = #{taxType,jdbcType=VARCHAR},
        is_tax = #{isTax,jdbcType=BIT},
        tax_ratio = #{taxRatio,jdbcType=DECIMAL},
        currency = #{currency,jdbcType=VARCHAR},
        credit_class = #{creditClass,jdbcType=VARCHAR},
        credit_mark = #{creditMark,jdbcType=VARCHAR},
        credit_sum = #{creditSum,jdbcType=DECIMAL},
        credit_time = #{creditTime,jdbcType=INTEGER},
        treat_times = #{treatTimes,jdbcType=INTEGER},
        checkout_type = #{checkoutType,jdbcType=CHAR},
        quality_level = #{qualityLevel,jdbcType=INTEGER},
        is_active = #{isActive,jdbcType=BIT},
        created_at = #{createdAt,jdbcType=TIMESTAMP},
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
        status = #{status,jdbcType=TINYINT},
        sup_company_name = #{supCompanyName,jdbcType=VARCHAR},
        sup_company_address = #{supCompanyAddress,jdbcType=VARCHAR},
        supply_type_code = #{supplyTypeCode,jdbcType=INTEGER},
        tax_type_code = #{taxTypeCode,jdbcType=INTEGER},
        quality_level_code = #{qualityLevelCode,jdbcType=INTEGER},
        invite_status = #{inviteStatus,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <!-- ****************自定义************ -->
    <select id="selectsupplierId" resultType="map">
        select
        sup_company_id,sup_company_name,credit_class,quality_level
        from supplier
        where company_id = #{companyId,jdbcType=INTEGER} and is_active=1  limit #{page},#{page_size}
    </select>

    <select id="totalCountIsActive" resultType="java.lang.Integer">
        select count(1)
        from supplier
        WHERE
                company_id = #{companyId} and  is_active = 1
    </select>

    <select id="getSupplier" parameterType="map" resultType="map">
        select
        company_id,contact_man,credit_class,email,is_tax,phone,quality_level,quality_level_code,sup_company_address,
        sup_company_id,sup_company_name,supply_type,supply_type_code,tax_ratio,tax_type,tax_type_code
        from supplier
        where sup_company_id = #{supCompanyId} and company_id = #{companyId}
    </select>





    <update id="updateSupplier" parameterType="com.mt.cms.common.model.Supplier">
        update supplier
        <set>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="contactMan != null">
                contact_man = #{contactMan,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="weibo != null">
                weibo = #{weibo,jdbcType=VARCHAR},
            </if>
            <if test="supplyType != null">
                supply_type = #{supplyType,jdbcType=VARCHAR},
            </if>
            <if test="taxType != null">
                tax_type = #{taxType,jdbcType=VARCHAR},
            </if>
            <if test="isTax != null">
                is_tax = #{isTax,jdbcType=BIT},
            </if>
            <if test="taxRatio != null">
                tax_ratio = #{taxRatio,jdbcType=DECIMAL},
            </if>
            <if test="currency != null">
                currency = #{currency,jdbcType=VARCHAR},
            </if>
            <if test="creditClass != null">
                credit_class = #{creditClass,jdbcType=VARCHAR},
            </if>
            <if test="creditMark != null">
                credit_mark = #{creditMark,jdbcType=VARCHAR},
            </if>
            <if test="creditSum != null">
                credit_sum = #{creditSum,jdbcType=DECIMAL},
            </if>
            <if test="creditTime != null">
                credit_time = #{creditTime,jdbcType=INTEGER},
            </if>
            <if test="treatTimes != null">
                treat_times = #{treatTimes,jdbcType=INTEGER},
            </if>
            <if test="checkoutType != null">
                checkout_type = #{checkoutType,jdbcType=CHAR},
            </if>
            <if test="qualityLevel != null">
                quality_level = #{qualityLevel,jdbcType=INTEGER},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=BIT},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="supCompanyName != null">
                sup_company_name = #{supCompanyName,jdbcType=VARCHAR},
            </if>
            <if test="supCompanyAddress != null">
                sup_company_address = #{supCompanyAddress,jdbcType=VARCHAR},
            </if>
            <if test="supplyTypeCode != null">
                supply_type_code = #{supplyTypeCode,jdbcType=INTEGER},
            </if>
            <if test="taxTypeCode != null">
                tax_type_code = #{taxTypeCode,jdbcType=INTEGER},
            </if>
            <if test="qualityLevelCode != null">
                quality_level_code = #{qualityLevelCode,jdbcType=INTEGER},
            </if>
        </set>
        where sup_company_id = #{supCompanyId,jdbcType=BIGINT}
    </update>

    <update id="deleteSupplier" parameterType="java.util.List">
        UPDATE  supplier  set is_active = 0 WHERE  sup_company_id IN
        <foreach collection="list" item="list"  open="(" separator="," close=")" >
            #{list}
        </foreach>
    </update>


    <select id="searchSupName" resultType="map">
    select sup_company_name,sup_company_address,sup_company_id
    from supplier
    where company_id = #{companyId} and locate(#{cst_company_name},sup_company_name)>0 LIMIT #{page},#{page_size}
  </select>

    <select id="totalCount" resultType="java.lang.Integer">
    select count(1)
    from supplier
        <where>
            <if test=" companyId != null ">
                company_id = #{companyId}
            </if>
            <if test=" cst_company_name != null">
                and locate(#{cst_company_name},sup_company_name)>0
            </if>
        </where>
  </select>

    <select id="getMaxSupplierId" resultType="java.lang.Integer">
    select
    max(supCompanyId)
    from supplier
 </select>

    <select id="selectSupplier" resultType="map">
        select
       sup_company_id, company_id, contact_man, phone,supply_type,
    tax_type, is_tax, tax_ratio, credit_class,
     quality_level, sup_company_name, sup_company_address, supply_type_code,
     tax_type_code, quality_level_code
        from supplier
        WHERE sup_company_id = #{supCompanyId}
    </select>

    <select id="selectByCompanyIdAndSupplierId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from supplier
        where company_id = #{companyId}
        and sup_company_id = #{supCompanyId}
    </select>

    <select id="seletComapyId"  resultType="long">
        select sup_company_id FROM supplier  where company_id = #{companyId}
    </select>

    <select id="selectSupName" parameterType="map" resultType="map">
        SELECT
              sup_company_id,sup_company_name as sup_name,phone as connect_phone,
              email as connect_email,contact_man as connect_man
          from supplier
          where
                <if test="sup_name !=null and sup_name != ''">
                    sup_company_name REGEXP #{sup_name}   and
                </if>
                    company_id = #{companyId}  and   status=1
    </select>

    <select id="getMatBySupplier" parameterType="list" resultType="java.lang.Integer">
        SELECT
              mat_type_id
        FROM supplier_ware
        WHERE
              status = 1 and  sup_id IN
                <foreach collection="list" item="list" open="(" separator="," close=")">
                    #{list}
                </foreach>
    </select>

    <select id="selectSupplierList" resultType="java.util.Map" parameterType="java.util.List">
        SELECT
                  distinct  sup_id as sup_company_id,sup_name
         FROM     supplier_ware
         WHERE    mat_type_id  IN
                    <foreach collection="list" item="item" open="(" separator="," close=")">
                        #{item.mat_type_id}
                    </foreach>
                    and status = 1
    </select>

    <select id="selectSupplierMat" parameterType="map" resultType="map">
        SELECT
                    distinct  email as connect_email,contact_man,phone as connect_phone,contact_man
                    FROM     supplier
        WHERE
                    sup_company_id = #{sup_company_id} and status = 1

    </select>

</mapper>