<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.upms.common.dao.SysUseMessageMapper" >
  <resultMap id="BaseResultMap" type="com.mt.upms.common.model.SysUseMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="send_uid" property="sendUid" jdbcType="INTEGER" />
    <result column="recever_uid" property="receverUid" jdbcType="INTEGER" />
    <result column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="remove_uid" property="removeUid" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="deparment_id" property="deparmentId" jdbcType="INTEGER" />
    <result column="send_status" property="sendStatus" jdbcType="TINYINT" />
    <result column="receve_status" property="receveStatus" jdbcType="TINYINT" />
    <result column="read_status" property="readStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, send_uid, recever_uid, message_id, remove_uid, company_id, deparment_id, send_status, 
    receve_status, read_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_use_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_use_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mt.upms.common.model.SysUseMessage" >
    insert into sys_use_message (id, send_uid, recever_uid, 
      message_id, remove_uid, company_id, 
      deparment_id, send_status, receve_status, 
      read_status)
    values (#{id,jdbcType=INTEGER}, #{sendUid,jdbcType=INTEGER}, #{receverUid,jdbcType=INTEGER}, 
      #{messageId,jdbcType=INTEGER}, #{removeUid,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{deparmentId,jdbcType=INTEGER}, #{sendStatus,jdbcType=TINYINT}, #{receveStatus,jdbcType=TINYINT}, 
      #{readStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.upms.common.model.SysUseMessage" >
    insert into sys_use_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sendUid != null" >
        send_uid,
      </if>
      <if test="receverUid != null" >
        recever_uid,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="removeUid != null" >
        remove_uid,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="deparmentId != null" >
        deparment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sendUid != null" >
        #{sendUid,jdbcType=INTEGER},
      </if>
      <if test="receverUid != null" >
        #{receverUid,jdbcType=INTEGER},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="removeUid != null" >
        #{removeUid,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="deparmentId != null" >
        #{deparmentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.upms.common.model.SysUseMessage" >
    update sys_use_message
    <set >
      <if test="sendUid != null" >
        send_uid = #{sendUid,jdbcType=INTEGER},
      </if>
      <if test="receverUid != null" >
        recever_uid = #{receverUid,jdbcType=INTEGER},
      </if>
      <if test="messageId != null" >
        message_id = #{messageId,jdbcType=INTEGER},
      </if>
      <if test="removeUid != null" >
        remove_uid = #{removeUid,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="deparmentId != null" >
        deparment_id = #{deparmentId,jdbcType=INTEGER},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=TINYINT},
      </if>
      <if test="receveStatus != null" >
        receve_status = #{receveStatus,jdbcType=TINYINT},
      </if>
      <if test="readStatus != null" >
        read_status = #{readStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.upms.common.model.SysUseMessage" >
    update sys_use_message
    set send_uid = #{sendUid,jdbcType=INTEGER},
      recever_uid = #{receverUid,jdbcType=INTEGER},
      message_id = #{messageId,jdbcType=INTEGER},
      remove_uid = #{removeUid,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      deparment_id = #{deparmentId,jdbcType=INTEGER},
      send_status = #{sendStatus,jdbcType=TINYINT},
      receve_status = #{receveStatus,jdbcType=TINYINT},
      read_status = #{readStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectMessageList" parameterType="Map" resultType="Map">
   SELECT sm.title,sm.content ,DATE_FORMAT(sm.create_time,'%Y-%m-%d %H-%i-%s')create_time FROM sys_message sm , sys_use_message su
   WHERE
       sm.id=su.message_id and su.read_status=1
        <if test="send_uid != null and send_uid!= ''">
          and su.send_status=1 and su.send_uid = #{send_uid}
        </if>
        <if test="recever_uid != null and recever_uid!= ''">
          and su.read_status=1 and su.recever_uid = #{recever_uid}
        </if>
        GROUP BY su.read_status DESC ,sm.create_time DESC
  </select>
</mapper>