<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.order.common.dao.ApproveRecordHisMapper">
  <resultMap id="BaseResultMap" type="com.mt.order.common.model.ApproveRecordHis">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="approve_type" jdbcType="TINYINT" property="approveType" />
    <result column="approve_id" jdbcType="BIGINT" property="approveId" />
    <result column="approve_step" jdbcType="VARCHAR" property="approveStep" />
    <result column="approve_start_date" jdbcType="TIMESTAMP" property="approveStartDate" />
    <result column="approve_flag" jdbcType="TINYINT" property="approveFlag" />
    <result column="approve_sugg" jdbcType="VARCHAR" property="approveSugg" />
    <result column="approve_man_id" jdbcType="BIGINT" property="approveManId" />
    <result column="approve_man_name" jdbcType="VARCHAR" property="approveManName" />
    <result column="approve_end_date" jdbcType="TIMESTAMP" property="approveEndDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, approve_type, approve_id, approve_step, approve_start_date, approve_flag, approve_sugg,
    approve_man_id, approve_man_name, approve_end_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from approve_record_his
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from approve_record_his
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.order.common.model.ApproveRecordHis">
    insert into approve_record_his (id, approve_type, approve_id,
    approve_step, approve_start_date, approve_flag,
    approve_sugg, approve_man_id, approve_man_name,
    approve_end_date)
    values (#{id,jdbcType=BIGINT}, #{approveType,jdbcType=TINYINT}, #{approveId,jdbcType=BIGINT},
    #{approveStep,jdbcType=VARCHAR}, #{approveStartDate,jdbcType=TIMESTAMP}, #{approveFlag,jdbcType=TINYINT},
    #{approveSugg,jdbcType=VARCHAR}, #{approveManId,jdbcType=BIGINT}, #{approveManName,jdbcType=VARCHAR},
    #{approveEndDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.order.common.model.ApproveRecordHis">
    insert into approve_record_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="approveType != null">
        approve_type,
      </if>
      <if test="approveId != null">
        approve_id,
      </if>
      <if test="approveStep != null">
        approve_step,
      </if>
      <if test="approveStartDate != null">
        approve_start_date,
      </if>
      <if test="approveFlag != null">
        approve_flag,
      </if>
      <if test="approveSugg != null">
        approve_sugg,
      </if>
      <if test="approveManId != null">
        approve_man_id,
      </if>
      <if test="approveManName != null">
        approve_man_name,
      </if>
      <if test="approveEndDate != null">
        approve_end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="approveType != null">
        #{approveType,jdbcType=TINYINT},
      </if>
      <if test="approveId != null">
        #{approveId,jdbcType=BIGINT},
      </if>
      <if test="approveStep != null">
        #{approveStep,jdbcType=VARCHAR},
      </if>
      <if test="approveStartDate != null">
        #{approveStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="approveFlag != null">
        #{approveFlag,jdbcType=TINYINT},
      </if>
      <if test="approveSugg != null">
        #{approveSugg,jdbcType=VARCHAR},
      </if>
      <if test="approveManId != null">
        #{approveManId,jdbcType=BIGINT},
      </if>
      <if test="approveManName != null">
        #{approveManName,jdbcType=VARCHAR},
      </if>
      <if test="approveEndDate != null">
        #{approveEndDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.ApproveRecordHis">
    update approve_record_his
    <set>
      <if test="approveType != null">
        approve_type = #{approveType,jdbcType=TINYINT},
      </if>
      <if test="approveId != null">
        approve_id = #{approveId,jdbcType=BIGINT},
      </if>
      <if test="approveStep != null">

        approve_step = #{approveStep,jdbcType=VARCHAR},
      </if>
      <if test="approveStartDate != null">
        approve_start_date = #{approveStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="approveFlag != null">
        approve_flag = #{approveFlag,jdbcType=TINYINT},
      </if>
      <if test="approveSugg != null">
        approve_sugg = #{approveSugg,jdbcType=VARCHAR},
      </if>
      <if test="approveManId != null">
        approve_man_id = #{approveManId,jdbcType=BIGINT},
      </if>
      <if test="approveManName != null">
        approve_man_name = #{approveManName,jdbcType=VARCHAR},
      </if>
      <if test="approveEndDate != null">
        approve_end_date = #{approveEndDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.ApproveRecordHis">
    update approve_record_his
    set approve_type = #{approveType,jdbcType=TINYINT},
      approve_id = #{approveId,jdbcType=BIGINT},
      approve_step = #{approveStep,jdbcType=VARCHAR},
      approve_start_date = #{approveStartDate,jdbcType=TIMESTAMP},
      approve_flag = #{approveFlag,jdbcType=TINYINT},
      approve_sugg = #{approveSugg,jdbcType=VARCHAR},
      approve_man_id = #{approveManId,jdbcType=BIGINT},
      approve_man_name = #{approveManName,jdbcType=VARCHAR},
      approve_end_date = #{approveEndDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 以下为自定义 -->
  <select id="selectWaitApproveRecord" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    from approve_record_his
    where approve_id = #{approveId}
    and approve_type = #{approveType}
    and approve_step = #{approveStep}
    and approve_end_date is NULL
    order by approve_start_date desc
    limit 1
  </select>

  <select id="selectApproveRecordsByApproveId" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    from approve_record_his
    where approve_end_date is not NULL
    and approve_id = #{approveId}
    and approve_type = #{approveType}
    ORDER by approve_start_date ASC
  </select>

</mapper>