<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.order.common.dao.ComputeMapper">
  <resultMap id="BaseResultMap" type="com.mt.order.common.model.Compute">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="compute_no" jdbcType="VARCHAR" property="computeNo" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="dep_id" jdbcType="INTEGER" property="depId" />
    <result column="dep_name" jdbcType="VARCHAR" property="depName" />
    <result column="handler_id" jdbcType="BIGINT" property="handlerId" />
    <result column="handler_name" jdbcType="VARCHAR" property="handlerName" />
    <result column="compute_date" jdbcType="TIMESTAMP" property="computeDate" />
    <result column="valid_date" jdbcType="TIMESTAMP" property="validDate" />
    <result column="cst_mold_no" jdbcType="VARCHAR" property="cstMoldNo" />
    <result column="material" jdbcType="VARCHAR" property="material" />
    <result column="cavity_material" jdbcType="VARCHAR" property="cavityMaterial" />
    <result column="prod_info" jdbcType="VARCHAR" property="prodInfo" />
    <result column="prod_remark" jdbcType="VARCHAR" property="prodRemark" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="delivery_place" jdbcType="VARCHAR" property="deliveryPlace" />
    <result column="approve_step" jdbcType="VARCHAR" property="approveStep" />
    <result column="approve_sugg" jdbcType="VARCHAR" property="approveSugg" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, compute_no, company_id, company_name, dep_id, dep_name, handler_id, handler_name,
    compute_date, valid_date, cst_mold_no, material, cavity_material, prod_info, prod_remark,
    type, type_name, delivery_place, approve_step, approve_sugg, status, is_active, created_at,
    updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from compute
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from compute
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.order.common.model.Compute">
    insert into compute (id, compute_no, company_id,
    company_name, dep_id, dep_name,
    handler_id, handler_name, compute_date,
    valid_date, cst_mold_no, material,
    cavity_material, prod_info, prod_remark,
    type, type_name, delivery_place,
    approve_step, approve_sugg, status,
    is_active, created_at, updated_at
    )
    values (#{id,jdbcType=BIGINT}, #{computeNo,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER},
    #{companyName,jdbcType=VARCHAR}, #{depId,jdbcType=INTEGER}, #{depName,jdbcType=VARCHAR},
    #{handlerId,jdbcType=BIGINT}, #{handlerName,jdbcType=VARCHAR}, #{computeDate,jdbcType=TIMESTAMP},
    #{validDate,jdbcType=TIMESTAMP}, #{cstMoldNo,jdbcType=VARCHAR}, #{material,jdbcType=VARCHAR},
    #{cavityMaterial,jdbcType=VARCHAR}, #{prodInfo,jdbcType=VARCHAR}, #{prodRemark,jdbcType=VARCHAR},
    #{type,jdbcType=TINYINT}, #{typeName,jdbcType=VARCHAR}, #{deliveryPlace,jdbcType=VARCHAR},
    #{approveStep,jdbcType=VARCHAR}, #{approveSugg,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
    #{isActive,jdbcType=BIT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.order.common.model.Compute">
    insert into compute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="computeNo != null">
        compute_no,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="depId != null">
        dep_id,
      </if>
      <if test="depName != null">
        dep_name,
      </if>
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="handlerName != null">
        handler_name,
      </if>
      <if test="computeDate != null">
        compute_date,
      </if>
      <if test="validDate != null">
        valid_date,
      </if>
      <if test="cstMoldNo != null">
        cst_mold_no,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="cavityMaterial != null">
        cavity_material,
      </if>
      <if test="prodInfo != null">
        prod_info,
      </if>
      <if test="prodRemark != null">
        prod_remark,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="deliveryPlace != null">
        delivery_place,
      </if>
      <if test="approveStep != null">
        approve_step,
      </if>
      <if test="approveSugg != null">
        approve_sugg,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="computeNo != null">
        #{computeNo,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="depId != null">
        #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null">
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null">
        #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="handlerName != null">
        #{handlerName,jdbcType=VARCHAR},
      </if>
      <if test="computeDate != null">
        #{computeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validDate != null">
        #{validDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cstMoldNo != null">
        #{cstMoldNo,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="cavityMaterial != null">
        #{cavityMaterial,jdbcType=VARCHAR},
      </if>
      <if test="prodInfo != null">
        #{prodInfo,jdbcType=VARCHAR},
      </if>
      <if test="prodRemark != null">
        #{prodRemark,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPlace != null">
        #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="approveStep != null">
        #{approveStep,jdbcType=VARCHAR},
      </if>
      <if test="approveSugg != null">
        #{approveSugg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.Compute">
    update compute
    <set>
      <if test="computeNo != null">
        compute_no = #{computeNo,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="depId != null">
        dep_id = #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null">
        dep_name = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="handlerId != null">
        handler_id = #{handlerId,jdbcType=BIGINT},
      </if>
      <if test="handlerName != null">
        handler_name = #{handlerName,jdbcType=VARCHAR},
      </if>
      <if test="computeDate != null">
        compute_date = #{computeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validDate != null">
        valid_date = #{validDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cstMoldNo != null">
        cst_mold_no = #{cstMoldNo,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="cavityMaterial != null">
        cavity_material = #{cavityMaterial,jdbcType=VARCHAR},
      </if>
      <if test="prodInfo != null">
        prod_info = #{prodInfo,jdbcType=VARCHAR},
      </if>
      <if test="prodRemark != null">
        prod_remark = #{prodRemark,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPlace != null">
        delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="approveStep != null">
        approve_step = #{approveStep,jdbcType=VARCHAR},
      </if>
      <if test="approveSugg != null">
        approve_sugg = #{approveSugg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.Compute">
    update compute
    set compute_no = #{computeNo,jdbcType=VARCHAR},
    company_id = #{companyId,jdbcType=INTEGER},
    company_name = #{companyName,jdbcType=VARCHAR},
    dep_id = #{depId,jdbcType=INTEGER},
    dep_name = #{depName,jdbcType=VARCHAR},
    handler_id = #{handlerId,jdbcType=BIGINT},
    handler_name = #{handlerName,jdbcType=VARCHAR},
    compute_date = #{computeDate,jdbcType=TIMESTAMP},
    valid_date = #{validDate,jdbcType=TIMESTAMP},
    cst_mold_no = #{cstMoldNo,jdbcType=VARCHAR},
    material = #{material,jdbcType=VARCHAR},
    cavity_material = #{cavityMaterial,jdbcType=VARCHAR},
    prod_info = #{prodInfo,jdbcType=VARCHAR},
    prod_remark = #{prodRemark,jdbcType=VARCHAR},
    type = #{type,jdbcType=TINYINT},
    type_name = #{typeName,jdbcType=VARCHAR},
    delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
    approve_step = #{approveStep,jdbcType=VARCHAR},
    approve_sugg = #{approveSugg,jdbcType=VARCHAR},
    status = #{status,jdbcType=TINYINT},
    is_active = #{isActive,jdbcType=BIT},
    created_at = #{createdAt,jdbcType=TIMESTAMP},
    updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  
  
  <!-- Alnwick  添加-->
  <select id="vagueSelect" resultType="java.util.Map">
    select  distinct c.id as compute_id,c.prod_info,c.handler_name,c.prod_info,c.prod_remark,c.type,c.compute_no,c.approve_step,c.approve_sugg ,c.type_name,DATE_FORMAT(c.created_at,'%Y-%m-%d') created_at  from compute c
    <where>
      <if test="approve_step != null and approve_step !=''">
        AND     c.approve_step REGEXP #{approve_step}
      </if>
      <if test="compute_no != null and compute_no !=''">
        AND   c.compute_no REGEXP #{compute_no}
      </if>
      <if test="type != null and type !=''">
        AND   c.type REGEXP #{type}
      </if>
      <if test=" compute_id != null and  compute_id !=''">
        AND  c.id REGEXP #{compute_id}
      </if>
      <if test="companyId != null and companyId !=''">
        AND    c.company_id = #{companyId}
      </if>
    </where>
    and c.status=1   ORDER BY c.created_at DESC limit #{page},#{page_size}
  </select>

  <select id="totalCount" resultType="java.lang.Integer">
    select count(distinct c.id) from compute c
    <where>
      <if test="approve_step != null and approve_step !=''">
        AND     c.approve_step REGEXP #{approve_step}
      </if>
      <if test="compute_no != null and compute_no !=''">
        AND   c.compute_no REGEXP #{compute_no}
      </if>
      <if test="type != null and type !=''">
        AND   c.type REGEXP #{type}
      </if>
      <if test=" compute_id != null and  compute_id !=''">
        AND  c.id REGEXP #{compute_id}
      </if>
      <if test="companyId != null and companyId !=''">
        AND    c.company_id = #{companyId}
      </if>
    </where>
     and c.status=1
  </select>


  <insert id="addCustomerOrder"  useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.Map">
    <selectKey resultType="int" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() as id
    </selectKey>
    insert into compute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != '' ">
        id,
      </if>
      <if test="compute_no != null and compute_no != '' ">
        compute_no,
      </if>
      <if test="company_id != null and company_id !=''">
        company_id,
      </if>
      <if test="company_name != null and company_name !=''">
        company_name,
      </if>
      <if test="dep_id != null and dep_id != ''">
        dep_id,
      </if>
      <if test="dep_name != null and dep_name !=''">
        dep_name,
      </if>
      <if test="handler_id != null and handler_id !=''">
        handler_id,
      </if>
      <if test="handler_name != null and handler_name !=''">
        handler_name,
      </if>
      <if test="prod_info != null and prod_info !=''">
        prod_info,
      </if>
      <if test="prod_remark != null and prod_remark !=''">
        prod_remark,
      </if>
      <if test="compute_date != null and compute_date !=''">
        compute_date,
      </if>
      <if test="valid_date != null and valid_date !=''">
        valid_date,
      </if>
      <if test="material != null and material !=''">
        material,
      </if>
      <if test="cavity_material != null and cavity_material !=''">
        cavity_material,
      </if>
      <if test="type != null and type !=''">
        type,
      </if>
      <if test="delivery_place != null and delivery_place !=''">
        delivery_place,
      </if>
      <if test="approve_step != null and approve_step !=''">
        approve_step,
      </if>

      <if test="is_active != null and is_active !=''">
        is_active,
      </if>
      <if test="created_at != null and created_at != ''">
        created_at,
      </if>
      <if test="type_name != null and type_name !='' " >
        type_name,
      </if>
      <if test="approve_sugg != null and approve_sugg != ''" >
        approve_sugg,
      </if>
      <if test="cst_mold_no != null and cst_mold_no=''" >
        cst_mold_no
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id !=''">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="compute_no != null and compute_no != '' ">
        #{compute_no,jdbcType=VARCHAR},
      </if>
      <if test="company_id != null and company_id !=''">
        #{company_id,jdbcType=INTEGER},
      </if>
      <if test="company_name != null and company_name !=''">
        #{company_name,jdbcType=VARCHAR},
      </if>
      <if test="dep_id != null and dep_id != ''">
        #{dep_id},
      </if>
      <if test="dep_name != null and dep_name !=''">
        #{dep_name,jdbcType=VARCHAR},
      </if>
      <if test="handler_id != null and handler_id !=''">
        #{handler_id,jdbcType=BIGINT},
      </if>
       <if test="handler_name != null and handler_name !=''">
        #{handler_name},
      </if>
       <if test="prod_info != null and prod_info !=''">
        #{prod_info},
      </if>
       <if test="prod_remark != null and prod_remark !=''">
        #{prod_remark},
      </if>
      <if test="compute_date != null and compute_date !=''">
        #{compute_date,jdbcType=TIMESTAMP},
      </if>
      <if test="valid_date != null and valid_date !=''">
        #{valid_date,jdbcType=TIMESTAMP},
      </if>
      <if test="material != null and material !=''">
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="cavity_material != null and cavity_material !=''">
        #{cavity_material,jdbcType=VARCHAR},
      </if>
      <if test="type != null and type !=''">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="delivery_place != null and delivery_place !=''">
        #{delivery_place,jdbcType=VARCHAR},
      </if>
      <if test="approve_step != null and approve_step !=''">
        #{approve_step,jdbcType=TINYINT},
      </if>
      <if test="status != null and status !=''">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="is_active != null and is_active !=''">
        #{is_active,jdbcType=BIT},
      </if>
      <if test="created_at != null and created_at != ''">
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="type_name != null and type_name !='' " >
        #{type_name},
      </if>
      <if test="approve_sugg != null and approve_sugg != ''" >
        #{approve_sugg},
      </if>
      <if test="cst_mold_no != null and cst_mold_no=''" >
         #{cst_mold_no,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateCustomerOrder"   parameterType="java.util.Map">
    update compute
    <set>
      <if test="compute_no != null and compute_no != '' ">
        compute_no= #{compute_no},
      </if>
      <if test="company_id != null and company_id !=''">
        company_id=#{company_id},
      </if>
      <if test="company_name != null and company_name !=''">
        company_name= #{company_name},
      </if>
      <if test="dep_id != null and dep_id != ''">
        dep_id= #{dep_id},
      </if>
      <if test="dep_name != null and dep_name !=''">
        dep_name=#{dep_name},
      </if>
      <if test="handler_id != null and handler_id !=''">
        handler_id=#{handler_id},
      </if>
       <if test="handler_name != null and handler_name !=''">
         handler_name=#{handler_name},
      </if>
       <if test="prod_info != null and prod_info !=''">
         prod_info=#{prod_info},
      </if>
       <if test="prod_remark != null and prod_remark !=''">
         prod_remark=#{prod_remark},
      </if>
      <if test="updated_at != null and updated_at !=''">
        compute_date= #{updated_at},
      </if>
      <if test="material != null and material !=''">
        material=#{material},
      </if>
      <if test="cavity_material != null and cavity_material !=''">
        cavity_material=#{cavity_material},
      </if>
      <if test="type != null and type !=''">
        type= #{type},
      </if>
      <if test="delivery_place != null and delivery_place !=''">
        delivery_place= #{delivery_place},
      </if>
      <if test="approve_step != null and approve_step !=''">
        approve_step=#{approve_step},
      </if>
      <if test="status != null and status !=''">
        status=#{status},
      </if>
      <if test="is_active != null and is_active !=''">
        is_active= #{is_active},
      </if>
      <if test="updated_at != null and updated_at != ''">
        updated_at= #{updated_at},
      </if>
      <if test="type_name != null and type_name !='' " >
        type_name=#{type_name},
      </if>
      <if test="approve_sugg != null and approve_sugg != ''" >
        approve_sugg=#{approve_sugg},
      </if>
      <if test="cst_mold_no != null and cst_mold_no!=''" >
        cst_mold_no=#{cst_mold_no},
      </if>
      <if test="compute_id != null and compute_id!=''" >
        id=#{compute_id},
      </if>
    </set>
    where id = #{compute_id}
  </update>


  <select id="getComputeAndCost"  parameterType="java.lang.Integer" resultType="java.util.Map">
    SELECT c.id as compute_id,cc.manage_ratio,cc.profit_ratio,c.company_id,c.compute_no,c.cst_mold_no,c.approve_step,c.approve_sugg,c.type,c.type_name ,c.material ,
    c.cavity_material, c.valid_date,cc.tax_ratio,c.handler_name,c.prod_remark,c.prod_info,
    DATE_FORMAT(c.created_at,'%Y-%m-%d') created_at , DATE_FORMAT(c.updated_at,'%Y-%m-%d') updated_at, DATE_FORMAT(c.compute_date,'%Y-%m-%d') compute_date,
    cc.delivery_cost,cc.design_cost,cc.manage_cost,cc.mold_cost,cc.mold_up,cc.post_box_cost,cc.process_cost,
    cc.profit_cost,cc.stuff_cost,cc.try_mold_cost
    from compute c , compute_cost cc
    where c.id=#{compute_id} and cc.compute_id=#{compute_id} and c.status = 1 and cc.status =1
  </select>

  <update id="updateStatus"  parameterType="java.lang.Long">
      update compute c  set c.status = 0 where id=#{computeId}
  </update>

  <select id="selectProdInfoRepea"  resultType="int">
     select count(*)  from compute  WHERE  prod_info = #{prod_info} and company_id = #{companyId}
        <if test="computeId != null and computeId != ''">
         <![CDATA[   and  id  != #{computeId} ]]>
        </if>
      and  status = 1
  </select>

</mapper>