<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.order.common.dao.ComputeProdMapper" >
  <resultMap id="BaseResultMap" type="com.mt.order.common.model.ComputeProd" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="compute_id" property="computeId" jdbcType="BIGINT" />
    <result column="cst_prod_name" property="cstProdName" jdbcType="VARCHAR" />
    <result column="cst_prod_no" property="cstProdNo" jdbcType="VARCHAR" />
    <result column="cavity_total" property="cavityTotal" jdbcType="INTEGER" />
    <result column="prod_model_pic" property="prodModelPic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, compute_id, cst_prod_name, cst_prod_no, cavity_total, prod_model_pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from compute_prod
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from compute_prod
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.order.common.model.ComputeProd" >
    insert into compute_prod (id, compute_id, cst_prod_name, 
      cst_prod_no, cavity_total, prod_model_pic
      )
    values (#{id,jdbcType=BIGINT}, #{computeId,jdbcType=BIGINT}, #{cstProdName,jdbcType=VARCHAR}, 
      #{cstProdNo,jdbcType=VARCHAR}, #{cavityTotal,jdbcType=INTEGER}, #{prodModelPic,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.order.common.model.ComputeProd" >
    insert into compute_prod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="computeId != null" >
        compute_id,
      </if>
      <if test="cstProdName != null" >
        cst_prod_name,
      </if>
      <if test="cstProdNo != null" >
        cst_prod_no,
      </if>
      <if test="cavityTotal != null" >
        cavity_total,
      </if>
      <if test="prodModelPic != null" >
        prod_model_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="computeId != null" >
        #{computeId,jdbcType=BIGINT},
      </if>
      <if test="cstProdName != null" >
        #{cstProdName,jdbcType=VARCHAR},
      </if>
      <if test="cstProdNo != null" >
        #{cstProdNo,jdbcType=VARCHAR},
      </if>
      <if test="cavityTotal != null" >
        #{cavityTotal,jdbcType=INTEGER},
      </if>
      <if test="prodModelPic != null" >
        #{prodModelPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.ComputeProd" >
    update compute_prod
    <set >
      <if test="computeId != null" >
        compute_id = #{computeId,jdbcType=BIGINT},
      </if>
      <if test="cstProdName != null" >
        cst_prod_name = #{cstProdName,jdbcType=VARCHAR},
      </if>
      <if test="cstProdNo != null" >
        cst_prod_no = #{cstProdNo,jdbcType=VARCHAR},
      </if>
      <if test="cavityTotal != null" >
        cavity_total = #{cavityTotal,jdbcType=INTEGER},
      </if>
      <if test="prodModelPic != null" >
        prod_model_pic = #{prodModelPic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.ComputeProd" >
    update compute_prod
    set compute_id = #{computeId,jdbcType=BIGINT},
      cst_prod_name = #{cstProdName,jdbcType=VARCHAR},
      cst_prod_no = #{cstProdNo,jdbcType=VARCHAR},
      cavity_total = #{cavityTotal,jdbcType=INTEGER},
      prod_model_pic = #{prodModelPic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- Alnwick  添加-->
  <insert  id="insertList" parameterType="map" >
    insert into compute_prod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null and id !=''">
        id,
      </if>
      <if test="compute_id != null and compute_id !=''" >
        compute_id,
      </if>
      <if test="cst_mold_no != null and cst_mold_no !=''" >
        cst_mold_no,
      </if>
      <if test="cst_prod_name != null and cst_prod_name != ''" >
        cst_prod_name,
      </if>
      <if test="cst_prod_no != null and cst_prod_no !=''" >
        cst_prod_no,
      </if>
      <if test="cavity_total != null and cavity_total !=''" >
        cavity_total,
      </if>
      <if test="prod_model_pic != null and prod_model_pic != ''" >
        prod_model_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null and id !=''">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="compute_id != null and compute_id !=''" >
        #{compute_id,jdbcType=BIGINT},
      </if>
      <if test="cst_mold_no != null and cst_mold_no !=''" >
        #{cst_mold_no,jdbcType=VARCHAR},
      </if>
      <if test="cst_prod_name != null and cst_prod_name != ''" >
        #{cst_prod_name,jdbcType=VARCHAR},
      </if>
      <if test="cst_prod_no != null and cst_prod_no !=''" >
        #{cst_prod_no,jdbcType=VARCHAR},
      </if>
      <if test="cavity_total != null and cavity_total !=''" >
        #{cavity_total,jdbcType=INTEGER},
      </if>
      <if test="prod_model_pic != null and prod_model_pic != ''" >
        #{prod_model_pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateProdList" parameterType="map" >
    update compute_prod
    <set >
      <if test="cst_mold_no != null and cst_mold_no !=''" >
        cst_mold_no=#{cst_mold_no,jdbcType=VARCHAR},
      </if>
      <if test="cst_prod_name != null and cst_prod_name != ''" >
        cst_prod_name=  #{cst_prod_name,jdbcType=VARCHAR},
      </if>
      <if test="cst_prod_no != null and cst_prod_no !=''" >
        cst_prod_no=#{cst_prod_no,jdbcType=VARCHAR},
      </if>
      <if test="cavity_total != null and cavity_total !=''" >
        cavity_total= #{cavity_total,jdbcType=INTEGER},
      </if>
      <if test="prod_model_pic != null and prod_model_pic != ''" >
        prod_model_pic= #{prod_model_pic},
      </if>
    </set>
    where id = #{cst_product_id}
  </update>

  <select id="selectProd" parameterType="java.lang.Integer" resultType="map">
    select id as cst_product_id,cavity_total,cst_prod_name,prod_model_pic from compute_prod where compute_id = #{compute_id} and status =1
  </select>

  <update id="deleteComputePart"  parameterType="map">
    UPDATE  compute_prod set status = 0  where  compute_id =#{compute_id} and id IN
    <foreach item="list" collection="prod_list" open="(" separator="," close=")">
      #{list}
    </foreach>
  </update>

  <!-- added by fhk -->
  <select id="selectComputeProdsByComputeId" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    from compute_prod
    where compute_id = #{computeId}
    ORDER by cst_prod_no ASC
  </select>

</mapper>