<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.order.common.dao.ComputeProcessCostMapper" >
  <resultMap id="BaseResultMap" type="com.mt.order.common.model.ComputeProcessCost" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="compute_id" property="computeId" jdbcType="BIGINT" />
    <result column="cst_mold_no" property="cstMoldNo" jdbcType="VARCHAR" />
    <result column="process_name" property="processName" jdbcType="VARCHAR" />
    <result column="process_hours" property="processHours" jdbcType="DECIMAL" />
    <result column="process_unit" property="processUnit" jdbcType="VARCHAR" />
    <result column="cost_ratio" property="costRatio" jdbcType="DECIMAL" />
    <result column="process_cost" property="processCost" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, compute_id, cst_mold_no, process_name, process_hours, process_unit, cost_ratio, 
    process_cost
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from compute_process_cost
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from compute_process_cost
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.order.common.model.ComputeProcessCost" >
    insert into compute_process_cost (id, compute_id, cst_mold_no, 
      process_name, process_hours, process_unit, 
      cost_ratio, process_cost)
    values (#{id,jdbcType=BIGINT}, #{computeId,jdbcType=BIGINT}, #{cstMoldNo,jdbcType=VARCHAR}, 
      #{processName,jdbcType=VARCHAR}, #{processHours,jdbcType=DECIMAL}, #{processUnit,jdbcType=VARCHAR}, 
      #{costRatio,jdbcType=DECIMAL}, #{processCost,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.order.common.model.ComputeProcessCost" >
    insert into compute_process_cost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="computeId != null" >
        compute_id,
      </if>
      <if test="cstMoldNo != null" >
        cst_mold_no,
      </if>
      <if test="processName != null" >
        process_name,
      </if>
      <if test="processHours != null" >
        process_hours,
      </if>
      <if test="processUnit != null" >
        process_unit,
      </if>
      <if test="costRatio != null" >
        cost_ratio,
      </if>
      <if test="processCost != null" >
        process_cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="computeId != null" >
        #{computeId,jdbcType=BIGINT},
      </if>
      <if test="cstMoldNo != null" >
        #{cstMoldNo,jdbcType=VARCHAR},
      </if>
      <if test="processName != null" >
        #{processName,jdbcType=VARCHAR},
      </if>
      <if test="processHours != null" >
        #{processHours,jdbcType=DECIMAL},
      </if>
      <if test="processUnit != null" >
        #{processUnit,jdbcType=VARCHAR},
      </if>
      <if test="costRatio != null" >
        #{costRatio,jdbcType=DECIMAL},
      </if>
      <if test="processCost != null" >
        #{processCost,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.ComputeProcessCost" >
    update compute_process_cost
    <set >
      <if test="computeId != null" >
        compute_id = #{computeId,jdbcType=BIGINT},
      </if>
      <if test="cstMoldNo != null" >
        cst_mold_no = #{cstMoldNo,jdbcType=VARCHAR},
      </if>
      <if test="processName != null" >
        process_name = #{processName,jdbcType=VARCHAR},
      </if>
      <if test="processHours != null" >
        process_hours = #{processHours,jdbcType=DECIMAL},
      </if>
      <if test="processUnit != null" >
        process_unit = #{processUnit,jdbcType=VARCHAR},
      </if>
      <if test="costRatio != null" >
        cost_ratio = #{costRatio,jdbcType=DECIMAL},
      </if>
      <if test="processCost != null" >
        process_cost = #{processCost,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.ComputeProcessCost" >
    update compute_process_cost
    set compute_id = #{computeId,jdbcType=BIGINT},
      cst_mold_no = #{cstMoldNo,jdbcType=VARCHAR},
      process_name = #{processName,jdbcType=VARCHAR},
      process_hours = #{processHours,jdbcType=DECIMAL},
      process_unit = #{processUnit,jdbcType=VARCHAR},
      cost_ratio = #{costRatio,jdbcType=DECIMAL},
      process_cost = #{processCost,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <!--  Alnwick 添加-->
  <select id="selectDetail" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from compute_process_cost cpc where cpc.compute_id=#{computeId} and cpc.status=1
  </select>

  <insert id="addProcessCost" parameterType="java.util.Map">
    insert into compute_process_cost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compute_id != null and compute_id != ''" >
        compute_id,
      </if>
      <if test="cst_mold_no != null and cst_mold_no !=''" >
        cst_mold_no,
      </if>
      <if test="process_code != null and process_code !=''" >
        process_code,
      </if>
      <if test="process_name != null and process_name !=''" >
        process_name,
      </if>
      <if test="process_hours != null and process_hours !=''" >
        process_hours,
      </if>
      <if test="process_unit != null and process_unit != ''" >
        process_unit,
      </if>
      <if test="process_ratio != null and process_ratio !=''" >
        cost_ratio,
      </if>
      <if test="process_cost != null and process_cost !=''" >
        process_cost,
      </if>
      <if test="process_unit_name != null and process_unit_name !=''" >
        process_unit_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compute_id != null and compute_id != ''" >
        #{compute_id,jdbcType=BIGINT},
      </if>
      <if test="cst_mold_no != null and cst_mold_no !=''" >
        #{cst_mold_no,jdbcType=VARCHAR},
      </if>
      <if test="process_code != null and process_code !=''" >
        #{process_code,jdbcType=VARCHAR},
      </if>
      <if test="process_name != null and process_name !=''" >
        #{process_name,jdbcType=VARCHAR},
      </if>
      <if test="process_hours != null and process_hours !=''" >
        #{process_hours,jdbcType=DECIMAL},
      </if>
      <if test="process_unit != null and process_unit != ''" >
        #{process_unit,jdbcType=VARCHAR},
      </if>
      <if test="process_ratio != null and process_ratio !=''" >
        #{process_ratio,jdbcType=DECIMAL},
      </if>
      <if test="process_cost != null and process_cost !=''" >
        #{process_cost,jdbcType=DECIMAL},
      </if>
      <if test="process_unit_name != null and process_unit_name !=''" >
        #{process_unit_name},
      </if>
    </trim>

  </insert>

  <update id="updateProcessCost" parameterType="java.util.Map">
    update compute_process_cost
    <set>
      <if test="compute_id != null and compute_id !=''" >
        compute_id= #{compute_id},
      </if>
      <if test="cst_mold_no != null and cst_mold_no !=''" >
        cst_mold_no=#{cst_mold_no},
      </if>
      <if test="process_code != null and process_code !=''" >
        cst_mold_no=#{process_code},
      </if>
      <if test="process_name != null and process_name !=''" >
        process_name=#{process_name},
      </if>
      <if test="process_hours != null and process_hours !=''" >
        process_hours= #{process_hours},
      </if>
      <if test="process_unit != null and process_unit != ''" >
        process_unit=#{process_unit},
      </if>
      <if test="cost_ratio != null and cost_ratio !=''" >
        cost_ratio=  #{cost_ratio},
      </if>
      <if test="process_cost != null and process_cost !=''" >
        process_cost=#{process_cost},
      </if>
      <if test="process_unit_name != null and process_unit_name !=''" >
        process_unit_name=#{process_unit_name},
      </if>
    </set>
    where id = #{id}
  </update>



  <update id="delProcess" parameterType="list">
    UPDATE  compute_process_cost set status = 0 where id IN
    <foreach item="list" collection="list" open="(" separator="," close=")">
      #{list}
    </foreach>
  </update>

  <select id="selectSumProcessCost"  parameterType="map"  resultType="java.lang.Double">
    SELECT sum(process_cost) from compute_process_cost where compute_id = #{compute_id}  and status= 1
  </select>

</mapper>