<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.order.common.dao.DictProcessItemMapper">
  <resultMap id="BaseResultMap" type="com.mt.order.common.model.DictProcessItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_name_en" jdbcType="VARCHAR" property="itemNameEn" />
    <result column="default_unit" jdbcType="VARCHAR" property="defaultUnit" />
    <result column="default_ratio" jdbcType="VARCHAR" property="defaultRatio" />
    <result column="sort" jdbcType="REAL" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    id, item_code, item_name, item_name_en, default_unit, default_ratio, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dict_process_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dict_process_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.order.common.model.DictProcessItem">
    insert into dict_process_item (id, item_code, item_name, 
      item_name_en, default_unit, default_ratio, 
      sort)
    values (#{id,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{itemNameEn,jdbcType=VARCHAR}, #{defaultUnit,jdbcType=VARCHAR}, #{defaultRatio,jdbcType=VARCHAR}, 
      #{sort,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.order.common.model.DictProcessItem">
    insert into dict_process_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="itemNameEn != null">
        item_name_en,
      </if>
      <if test="defaultUnit != null">
        default_unit,
      </if>
      <if test="defaultRatio != null">
        default_ratio,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemNameEn != null">
        #{itemNameEn,jdbcType=VARCHAR},
      </if>
      <if test="defaultUnit != null">
        #{defaultUnit,jdbcType=VARCHAR},
      </if>
      <if test="defaultRatio != null">
        #{defaultRatio,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.DictProcessItem">
    update dict_process_item
    <set>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemNameEn != null">
        item_name_en = #{itemNameEn,jdbcType=VARCHAR},
      </if>
      <if test="defaultUnit != null">
        default_unit = #{defaultUnit,jdbcType=VARCHAR},
      </if>
      <if test="defaultRatio != null">
        default_ratio = #{defaultRatio,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.DictProcessItem">
    update dict_process_item
    set item_code = #{itemCode,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_name_en = #{itemNameEn,jdbcType=VARCHAR},
      default_unit = #{defaultUnit,jdbcType=VARCHAR},
      default_ratio = #{defaultRatio,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=REAL}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="processCostItemList" resultType="map" parameterType="java.lang.Integer">
    select  DISTINCT dp.item_code as process_code,dp.item_name as process_name,dp.default_ratio as process_ratio ,
			dpi.unit_code as process_unit ,dpi.unit_name as process_unit_name
    FROM
            dict_process_item dp ,dict_process_item_unit dpi
    where
	        dp.default_unit = dpi.unit_code and dp.company_id=#{company_id}
  </select>
</mapper>