<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.order.common.dao.DictProcessItemUnitMapper">
  <resultMap id="BaseResultMap" type="com.mt.order.common.model.DictProcessItemUnit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="unit_code" jdbcType="VARCHAR" property="unitCode" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="unit_name_en" jdbcType="VARCHAR" property="unitNameEn" />
    <result column="sort" jdbcType="REAL" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    id, unit_code, unit_name, unit_name_en, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dict_process_item_unit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dict_process_item_unit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.order.common.model.DictProcessItemUnit">
    insert into dict_process_item_unit (id, unit_code, unit_name, 
      unit_name_en, sort)
    values (#{id,jdbcType=BIGINT}, #{unitCode,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, 
      #{unitNameEn,jdbcType=VARCHAR}, #{sort,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.order.common.model.DictProcessItemUnit">
    insert into dict_process_item_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unitCode != null">
        unit_code,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="unitNameEn != null">
        unit_name_en,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="unitCode != null">
        #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitNameEn != null">
        #{unitNameEn,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.DictProcessItemUnit">
    update dict_process_item_unit
    <set>
      <if test="unitCode != null">
        unit_code = #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitNameEn != null">
        unit_name_en = #{unitNameEn,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.DictProcessItemUnit">
    update dict_process_item_unit
    set unit_code = #{unitCode,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      unit_name_en = #{unitNameEn,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=REAL}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="processCostItemUnitList" resultType="map">
    SELECT DISTINCT unit_code as code ,unit_name as name  from dict_process_item_unit where company_id = #{company_id}  order by id ASC
  </select>
</mapper>