<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.order.common.dao.MoldMapper">
    <resultMap id="BaseResultMap" type="com.mt.order.common.model.Mold">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="company_id" jdbcType="INTEGER" property="companyId" />
        <result column="company_name" jdbcType="VARCHAR" property="companyName" />
        <result column="mold_type" jdbcType="TINYINT" property="moldType" />
        <result column="project_hw_id" jdbcType="BIGINT" property="projectHwId" />
        <result column="project_not_hw_id" jdbcType="BIGINT" property="projectNotHwId" />
        <result column="mold_no" jdbcType="VARCHAR" property="moldNo" />
        <result column="first_try_date" jdbcType="TIMESTAMP" property="firstTryDate" />
        <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
        <result column="down_time" jdbcType="TIMESTAMP" property="downTime" />
        <result column="project_mgr" jdbcType="VARCHAR" property="projectMgr" />
        <result column="business_mgr" jdbcType="VARCHAR" property="businessMgr" />
        <result column="mold_price" jdbcType="VARCHAR" property="moldPrice" />
        <result column="design_cost" jdbcType="DECIMAL" property="designCost" />
        <result column="stuff_cost" jdbcType="DECIMAL" property="stuffCost" />
        <result column="process_cost" jdbcType="DECIMAL" property="processCost" />
        <result column="payment_times" jdbcType="INTEGER" property="paymentTimes" />
        <result column="real_stuff_cost" jdbcType="DECIMAL" property="realStuffCost" />
        <result column="real_ass_cost" jdbcType="DECIMAL" property="realAssCost" />
        <result column="real_produce_cost" jdbcType="DECIMAL" property="realProduceCost" />
        <result column="real_process_cost" jdbcType="DECIMAL" property="realProcessCost" />
        <result column="real_total_cost" jdbcType="DECIMAL" property="realTotalCost" />
        <result column="stuff_ratio" jdbcType="VARCHAR" property="stuffRatio" />
        <result column="design_ratio" jdbcType="VARCHAR" property="designRatio" />
        <result column="process_ratio" jdbcType="VARCHAR" property="processRatio" />
        <result column="startup_step" jdbcType="VARCHAR" property="startupStep" />
        <result column="is_payment_finish" jdbcType="CHAR" property="isPaymentFinish" />
        <result column="first_money" jdbcType="DECIMAL" property="firstMoney" />
        <result column="first_time" jdbcType="TIMESTAMP" property="firstTime" />
        <result column="first_invoice_no" jdbcType="VARCHAR" property="firstInvoiceNo" />
        <result column="second_money" jdbcType="DECIMAL" property="secondMoney" />
        <result column="second_time" jdbcType="TIMESTAMP" property="secondTime" />
        <result column="second_invoice_no" jdbcType="VARCHAR" property="secondInvoiceNo" />
        <result column="third_money" jdbcType="DECIMAL" property="thirdMoney" />
        <result column="third_time" jdbcType="TIMESTAMP" property="thirdTime" />
        <result column="third_invoice_no" jdbcType="VARCHAR" property="thirdInvoiceNo" />
        <result column="fourth_money" jdbcType="DECIMAL" property="fourthMoney" />
        <result column="fourth_time" jdbcType="TIMESTAMP" property="fourthTime" />
        <result column="fourth_invoice_no" jdbcType="VARCHAR" property="fourthInvoiceNo" />
        <result column="rest_money" jdbcType="DECIMAL" property="restMoney" />
        <result column="payment_remark" jdbcType="VARCHAR" property="paymentRemark" />
        <result column="payed_money" jdbcType="DECIMAL" property="payedMoney" />
        <result column="sup_type" jdbcType="VARCHAR" property="supType" />
        <result column="is_crt_plan" jdbcType="BIT" property="isCrtPlan" />
        <result column="is_crt_bom" jdbcType="BIT" property="isCrtBom" />
        <result column="produce_principal" jdbcType="VARCHAR" property="producePrincipal" />
        <result column="start_mold_date" jdbcType="TIMESTAMP" property="startMoldDate" />
        <result column="batch_count" jdbcType="INTEGER" property="batchCount" />
        <result column="emergency" jdbcType="TINYINT" property="emergency" />
        <result column="produce_mgr" jdbcType="VARCHAR" property="produceMgr" />
        <result column="design_mgr" jdbcType="VARCHAR" property="designMgr" />
        <result column="order_finish_date" jdbcType="TIMESTAMP" property="orderFinishDate" />
        <result column="fsample_time" jdbcType="TIMESTAMP" property="fsampleTime" />
        <result column="make_unit" jdbcType="VARCHAR" property="makeUnit" />
        <result column="accept_unit" jdbcType="VARCHAR" property="acceptUnit" />
        <result column="pause_start_date" jdbcType="TIMESTAMP" property="pauseStartDate" />
        <result column="pause_end_date" jdbcType="TIMESTAMP" property="pauseEndDate" />
        <result column="invoice_money" jdbcType="DECIMAL" property="invoiceMoney" />
        <result column="is_invoice_finish" jdbcType="BIT" property="isInvoiceFinish" />
        <result column="status" jdbcType="TINYINT" property="status" />
    </resultMap>
    <sql id="Base_Column_List">
        id, company_id, company_name, mold_type, project_hw_id, project_not_hw_id, mold_no,
        first_try_date, delivery_date, down_time, project_mgr, business_mgr, mold_price,
        design_cost, stuff_cost, process_cost, payment_times, real_stuff_cost, real_ass_cost,
        real_produce_cost, real_process_cost, real_total_cost, stuff_ratio, design_ratio,
        process_ratio, startup_step, is_payment_finish, first_money, first_time, first_invoice_no,
        second_money, second_time, second_invoice_no, third_money, third_time, third_invoice_no,
        fourth_money, fourth_time, fourth_invoice_no, rest_money, payment_remark, payed_money,
        sup_type, is_crt_plan, is_crt_bom, produce_principal, start_mold_date, batch_count,
        emergency, produce_mgr, design_mgr, order_finish_date, fsample_time, make_unit, accept_unit,
        pause_start_date, pause_end_date, invoice_money, is_invoice_finish, status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from mold
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mold
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.mt.order.common.model.Mold">
        insert into mold (id, company_id, company_name,
        mold_type, project_hw_id, project_not_hw_id,
        mold_no, first_try_date, delivery_date,
        down_time, project_mgr, business_mgr,
        mold_price, design_cost, stuff_cost,
        process_cost, payment_times, real_stuff_cost,
        real_ass_cost, real_produce_cost, real_process_cost,
        real_total_cost, stuff_ratio, design_ratio,
        process_ratio, startup_step, is_payment_finish,
        first_money, first_time, first_invoice_no,
        second_money, second_time, second_invoice_no,
        third_money, third_time, third_invoice_no,
        fourth_money, fourth_time, fourth_invoice_no,
        rest_money, payment_remark, payed_money,
        sup_type, is_crt_plan, is_crt_bom,
        produce_principal, start_mold_date, batch_count,
        emergency, produce_mgr, design_mgr,
        order_finish_date, fsample_time, make_unit,
        accept_unit, pause_start_date, pause_end_date,
        invoice_money, is_invoice_finish, status
        )
        values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR},
        #{moldType,jdbcType=TINYINT}, #{projectHwId,jdbcType=BIGINT}, #{projectNotHwId,jdbcType=BIGINT},
        #{moldNo,jdbcType=VARCHAR}, #{firstTryDate,jdbcType=TIMESTAMP}, #{deliveryDate,jdbcType=TIMESTAMP},
        #{downTime,jdbcType=TIMESTAMP}, #{projectMgr,jdbcType=VARCHAR}, #{businessMgr,jdbcType=VARCHAR},
        #{moldPrice,jdbcType=VARCHAR}, #{designCost,jdbcType=DECIMAL}, #{stuffCost,jdbcType=DECIMAL},
        #{processCost,jdbcType=DECIMAL}, #{paymentTimes,jdbcType=INTEGER}, #{realStuffCost,jdbcType=DECIMAL},
        #{realAssCost,jdbcType=DECIMAL}, #{realProduceCost,jdbcType=DECIMAL}, #{realProcessCost,jdbcType=DECIMAL},
        #{realTotalCost,jdbcType=DECIMAL}, #{stuffRatio,jdbcType=VARCHAR}, #{designRatio,jdbcType=VARCHAR},
        #{processRatio,jdbcType=VARCHAR}, #{startupStep,jdbcType=VARCHAR}, #{isPaymentFinish,jdbcType=CHAR},
        #{firstMoney,jdbcType=DECIMAL}, #{firstTime,jdbcType=TIMESTAMP}, #{firstInvoiceNo,jdbcType=VARCHAR},
        #{secondMoney,jdbcType=DECIMAL}, #{secondTime,jdbcType=TIMESTAMP}, #{secondInvoiceNo,jdbcType=VARCHAR},
        #{thirdMoney,jdbcType=DECIMAL}, #{thirdTime,jdbcType=TIMESTAMP}, #{thirdInvoiceNo,jdbcType=VARCHAR},
        #{fourthMoney,jdbcType=DECIMAL}, #{fourthTime,jdbcType=TIMESTAMP}, #{fourthInvoiceNo,jdbcType=VARCHAR},
        #{restMoney,jdbcType=DECIMAL}, #{paymentRemark,jdbcType=VARCHAR}, #{payedMoney,jdbcType=DECIMAL},
        #{supType,jdbcType=VARCHAR}, #{isCrtPlan,jdbcType=BIT}, #{isCrtBom,jdbcType=BIT},
        #{producePrincipal,jdbcType=VARCHAR}, #{startMoldDate,jdbcType=TIMESTAMP}, #{batchCount,jdbcType=INTEGER},
        #{emergency,jdbcType=TINYINT}, #{produceMgr,jdbcType=VARCHAR}, #{designMgr,jdbcType=VARCHAR},
        #{orderFinishDate,jdbcType=TIMESTAMP}, #{fsampleTime,jdbcType=TIMESTAMP}, #{makeUnit,jdbcType=VARCHAR},
        #{acceptUnit,jdbcType=VARCHAR}, #{pauseStartDate,jdbcType=TIMESTAMP}, #{pauseEndDate,jdbcType=TIMESTAMP},
        #{invoiceMoney,jdbcType=DECIMAL}, #{isInvoiceFinish,jdbcType=BIT}, #{status,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.mt.order.common.model.Mold">
        insert into mold
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="moldType != null">
                mold_type,
            </if>
            <if test="projectHwId != null">
                project_hw_id,
            </if>
            <if test="projectNotHwId != null">
                project_not_hw_id,
            </if>
            <if test="moldNo != null">
                mold_no,
            </if>
            <if test="firstTryDate != null">
                first_try_date,
            </if>
            <if test="deliveryDate != null">
                delivery_date,
            </if>
            <if test="downTime != null">
                down_time,
            </if>
            <if test="projectMgr != null">
                project_mgr,
            </if>
            <if test="businessMgr != null">
                business_mgr,
            </if>
            <if test="moldPrice != null">
                mold_price,
            </if>
            <if test="designCost != null">
                design_cost,
            </if>
            <if test="stuffCost != null">
                stuff_cost,
            </if>
            <if test="processCost != null">
                process_cost,
            </if>
            <if test="paymentTimes != null">
                payment_times,
            </if>
            <if test="realStuffCost != null">
                real_stuff_cost,
            </if>
            <if test="realAssCost != null">
                real_ass_cost,
            </if>
            <if test="realProduceCost != null">
                real_produce_cost,
            </if>
            <if test="realProcessCost != null">
                real_process_cost,
            </if>
            <if test="realTotalCost != null">
                real_total_cost,
            </if>
            <if test="stuffRatio != null">
                stuff_ratio,
            </if>
            <if test="designRatio != null">
                design_ratio,
            </if>
            <if test="processRatio != null">
                process_ratio,
            </if>
            <if test="startupStep != null">
                startup_step,
            </if>
            <if test="isPaymentFinish != null">
                is_payment_finish,
            </if>
            <if test="firstMoney != null">
                first_money,
            </if>
            <if test="firstTime != null">
                first_time,
            </if>
            <if test="firstInvoiceNo != null">
                first_invoice_no,
            </if>
            <if test="secondMoney != null">
                second_money,
            </if>
            <if test="secondTime != null">
                second_time,
            </if>
            <if test="secondInvoiceNo != null">
                second_invoice_no,
            </if>
            <if test="thirdMoney != null">
                third_money,
            </if>
            <if test="thirdTime != null">
                third_time,
            </if>
            <if test="thirdInvoiceNo != null">
                third_invoice_no,
            </if>
            <if test="fourthMoney != null">
                fourth_money,
            </if>
            <if test="fourthTime != null">
                fourth_time,
            </if>
            <if test="fourthInvoiceNo != null">
                fourth_invoice_no,
            </if>
            <if test="restMoney != null">
                rest_money,
            </if>
            <if test="paymentRemark != null">
                payment_remark,
            </if>
            <if test="payedMoney != null">
                payed_money,
            </if>
            <if test="supType != null">
                sup_type,
            </if>
            <if test="isCrtPlan != null">
                is_crt_plan,
            </if>
            <if test="isCrtBom != null">
                is_crt_bom,
            </if>
            <if test="producePrincipal != null">
                produce_principal,
            </if>
            <if test="startMoldDate != null">
                start_mold_date,
            </if>
            <if test="batchCount != null">
                batch_count,
            </if>
            <if test="emergency != null">
                emergency,
            </if>
            <if test="produceMgr != null">
                produce_mgr,
            </if>
            <if test="designMgr != null">
                design_mgr,
            </if>
            <if test="orderFinishDate != null">
                order_finish_date,
            </if>
            <if test="fsampleTime != null">
                fsample_time,
            </if>
            <if test="makeUnit != null">
                make_unit,
            </if>
            <if test="acceptUnit != null">
                accept_unit,
            </if>
            <if test="pauseStartDate != null">
                pause_start_date,
            </if>
            <if test="pauseEndDate != null">
                pause_end_date,
            </if>
            <if test="invoiceMoney != null">
                invoice_money,
            </if>
            <if test="isInvoiceFinish != null">
                is_invoice_finish,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="moldType != null">
                #{moldType,jdbcType=TINYINT},
            </if>
            <if test="projectHwId != null">
                #{projectHwId,jdbcType=BIGINT},
            </if>
            <if test="projectNotHwId != null">
                #{projectNotHwId,jdbcType=BIGINT},
            </if>
            <if test="moldNo != null">
                #{moldNo,jdbcType=VARCHAR},
            </if>
            <if test="firstTryDate != null">
                #{firstTryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryDate != null">
                #{deliveryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="downTime != null">
                #{downTime,jdbcType=TIMESTAMP},
            </if>
            <if test="projectMgr != null">
                #{projectMgr,jdbcType=VARCHAR},
            </if>
            <if test="businessMgr != null">
                #{businessMgr,jdbcType=VARCHAR},
            </if>
            <if test="moldPrice != null">
                #{moldPrice,jdbcType=VARCHAR},
            </if>
            <if test="designCost != null">
                #{designCost,jdbcType=DECIMAL},
            </if>
            <if test="stuffCost != null">
                #{stuffCost,jdbcType=DECIMAL},
            </if>
            <if test="processCost != null">
                #{processCost,jdbcType=DECIMAL},
            </if>
            <if test="paymentTimes != null">
                #{paymentTimes,jdbcType=INTEGER},
            </if>
            <if test="realStuffCost != null">
                #{realStuffCost,jdbcType=DECIMAL},
            </if>
            <if test="realAssCost != null">
                #{realAssCost,jdbcType=DECIMAL},
            </if>
            <if test="realProduceCost != null">
                #{realProduceCost,jdbcType=DECIMAL},
            </if>
            <if test="realProcessCost != null">
                #{realProcessCost,jdbcType=DECIMAL},
            </if>
            <if test="realTotalCost != null">
                #{realTotalCost,jdbcType=DECIMAL},
            </if>
            <if test="stuffRatio != null">
                #{stuffRatio,jdbcType=VARCHAR},
            </if>
            <if test="designRatio != null">
                #{designRatio,jdbcType=VARCHAR},
            </if>
            <if test="processRatio != null">
                #{processRatio,jdbcType=VARCHAR},
            </if>
            <if test="startupStep != null">
                #{startupStep,jdbcType=VARCHAR},
            </if>
            <if test="isPaymentFinish != null">
                #{isPaymentFinish,jdbcType=CHAR},
            </if>
            <if test="firstMoney != null">
                #{firstMoney,jdbcType=DECIMAL},
            </if>
            <if test="firstTime != null">
                #{firstTime,jdbcType=TIMESTAMP},
            </if>
            <if test="firstInvoiceNo != null">
                #{firstInvoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="secondMoney != null">
                #{secondMoney,jdbcType=DECIMAL},
            </if>
            <if test="secondTime != null">
                #{secondTime,jdbcType=TIMESTAMP},
            </if>
            <if test="secondInvoiceNo != null">
                #{secondInvoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="thirdMoney != null">
                #{thirdMoney,jdbcType=DECIMAL},
            </if>
            <if test="thirdTime != null">
                #{thirdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="thirdInvoiceNo != null">
                #{thirdInvoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="fourthMoney != null">
                #{fourthMoney,jdbcType=DECIMAL},
            </if>
            <if test="fourthTime != null">
                #{fourthTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fourthInvoiceNo != null">
                #{fourthInvoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="restMoney != null">
                #{restMoney,jdbcType=DECIMAL},
            </if>
            <if test="paymentRemark != null">
                #{paymentRemark,jdbcType=VARCHAR},
            </if>
            <if test="payedMoney != null">
                #{payedMoney,jdbcType=DECIMAL},
            </if>
            <if test="supType != null">
                #{supType,jdbcType=VARCHAR},
            </if>
            <if test="isCrtPlan != null">
                #{isCrtPlan,jdbcType=BIT},
            </if>
            <if test="isCrtBom != null">
                #{isCrtBom,jdbcType=BIT},
            </if>
            <if test="producePrincipal != null">
                #{producePrincipal,jdbcType=VARCHAR},
            </if>
            <if test="startMoldDate != null">
                #{startMoldDate,jdbcType=TIMESTAMP},
            </if>
            <if test="batchCount != null">
                #{batchCount,jdbcType=INTEGER},
            </if>
            <if test="emergency != null">
                #{emergency,jdbcType=TINYINT},
            </if>
            <if test="produceMgr != null">
                #{produceMgr,jdbcType=VARCHAR},
            </if>
            <if test="designMgr != null">
                #{designMgr,jdbcType=VARCHAR},
            </if>
            <if test="orderFinishDate != null">
                #{orderFinishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="fsampleTime != null">
                #{fsampleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="makeUnit != null">
                #{makeUnit,jdbcType=VARCHAR},
            </if>
            <if test="acceptUnit != null">
                #{acceptUnit,jdbcType=VARCHAR},
            </if>
            <if test="pauseStartDate != null">
                #{pauseStartDate,jdbcType=TIMESTAMP},
            </if>
            <if test="pauseEndDate != null">
                #{pauseEndDate,jdbcType=TIMESTAMP},
            </if>
            <if test="invoiceMoney != null">
                #{invoiceMoney,jdbcType=DECIMAL},
            </if>
            <if test="isInvoiceFinish != null">
                #{isInvoiceFinish,jdbcType=BIT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.Mold">
        update mold
        <set>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="moldType != null">
                mold_type = #{moldType,jdbcType=TINYINT},
            </if>
            <if test="projectHwId != null">
                project_hw_id = #{projectHwId,jdbcType=BIGINT},
            </if>
            <if test="projectNotHwId != null">
                project_not_hw_id = #{projectNotHwId,jdbcType=BIGINT},
            </if>
            <if test="moldNo != null">
                mold_no = #{moldNo,jdbcType=VARCHAR},
            </if>
            <if test="firstTryDate != null">
                first_try_date = #{firstTryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryDate != null">
                delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="downTime != null">
                down_time = #{downTime,jdbcType=TIMESTAMP},
            </if>
            <if test="projectMgr != null">
                project_mgr = #{projectMgr,jdbcType=VARCHAR},
            </if>
            <if test="businessMgr != null">
                business_mgr = #{businessMgr,jdbcType=VARCHAR},
            </if>
            <if test="moldPrice != null">
                mold_price = #{moldPrice,jdbcType=VARCHAR},
            </if>
            <if test="designCost != null">
                design_cost = #{designCost,jdbcType=DECIMAL},
            </if>
            <if test="stuffCost != null">
                stuff_cost = #{stuffCost,jdbcType=DECIMAL},
            </if>
            <if test="processCost != null">
                process_cost = #{processCost,jdbcType=DECIMAL},
            </if>
            <if test="paymentTimes != null">
                payment_times = #{paymentTimes,jdbcType=INTEGER},
            </if>
            <if test="realStuffCost != null">
                real_stuff_cost = #{realStuffCost,jdbcType=DECIMAL},
            </if>
            <if test="realAssCost != null">
                real_ass_cost = #{realAssCost,jdbcType=DECIMAL},
            </if>
            <if test="realProduceCost != null">
                real_produce_cost = #{realProduceCost,jdbcType=DECIMAL},
            </if>
            <if test="realProcessCost != null">
                real_process_cost = #{realProcessCost,jdbcType=DECIMAL},
            </if>
            <if test="realTotalCost != null">
                real_total_cost = #{realTotalCost,jdbcType=DECIMAL},
            </if>
            <if test="stuffRatio != null">
                stuff_ratio = #{stuffRatio,jdbcType=VARCHAR},
            </if>
            <if test="designRatio != null">
                design_ratio = #{designRatio,jdbcType=VARCHAR},
            </if>
            <if test="processRatio != null">
                process_ratio = #{processRatio,jdbcType=VARCHAR},
            </if>
            <if test="startupStep != null">
                startup_step = #{startupStep,jdbcType=VARCHAR},
            </if>
            <if test="isPaymentFinish != null">
                is_payment_finish = #{isPaymentFinish,jdbcType=CHAR},
            </if>
            <if test="firstMoney != null">
                first_money = #{firstMoney,jdbcType=DECIMAL},
            </if>
            <if test="firstTime != null">
                first_time = #{firstTime,jdbcType=TIMESTAMP},
            </if>
            <if test="firstInvoiceNo != null">
                first_invoice_no = #{firstInvoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="secondMoney != null">
                second_money = #{secondMoney,jdbcType=DECIMAL},
            </if>
            <if test="secondTime != null">
                second_time = #{secondTime,jdbcType=TIMESTAMP},
            </if>
            <if test="secondInvoiceNo != null">
                second_invoice_no = #{secondInvoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="thirdMoney != null">
                third_money = #{thirdMoney,jdbcType=DECIMAL},
            </if>
            <if test="thirdTime != null">
                third_time = #{thirdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="thirdInvoiceNo != null">
                third_invoice_no = #{thirdInvoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="fourthMoney != null">
                fourth_money = #{fourthMoney,jdbcType=DECIMAL},
            </if>
            <if test="fourthTime != null">
                fourth_time = #{fourthTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fourthInvoiceNo != null">
                fourth_invoice_no = #{fourthInvoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="restMoney != null">
                rest_money = #{restMoney,jdbcType=DECIMAL},
            </if>
            <if test="paymentRemark != null">
                payment_remark = #{paymentRemark,jdbcType=VARCHAR},
            </if>
            <if test="payedMoney != null">
                payed_money = #{payedMoney,jdbcType=DECIMAL},
            </if>
            <if test="supType != null">
                sup_type = #{supType,jdbcType=VARCHAR},
            </if>
            <if test="isCrtPlan != null">
                is_crt_plan = #{isCrtPlan,jdbcType=BIT},
            </if>
            <if test="isCrtBom != null">
                is_crt_bom = #{isCrtBom,jdbcType=BIT},
            </if>
            <if test="producePrincipal != null">
                produce_principal = #{producePrincipal,jdbcType=VARCHAR},
            </if>
            <if test="startMoldDate != null">
                start_mold_date = #{startMoldDate,jdbcType=TIMESTAMP},
            </if>
            <if test="batchCount != null">
                batch_count = #{batchCount,jdbcType=INTEGER},
            </if>
            <if test="emergency != null">
                emergency = #{emergency,jdbcType=TINYINT},
            </if>
            <if test="produceMgr != null">
                produce_mgr = #{produceMgr,jdbcType=VARCHAR},
            </if>
            <if test="designMgr != null">
                design_mgr = #{designMgr,jdbcType=VARCHAR},
            </if>
            <if test="orderFinishDate != null">
                order_finish_date = #{orderFinishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="fsampleTime != null">
                fsample_time = #{fsampleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="makeUnit != null">
                make_unit = #{makeUnit,jdbcType=VARCHAR},
            </if>
            <if test="acceptUnit != null">
                accept_unit = #{acceptUnit,jdbcType=VARCHAR},
            </if>
            <if test="pauseStartDate != null">
                pause_start_date = #{pauseStartDate,jdbcType=TIMESTAMP},
            </if>
            <if test="pauseEndDate != null">
                pause_end_date = #{pauseEndDate,jdbcType=TIMESTAMP},
            </if>
            <if test="invoiceMoney != null">
                invoice_money = #{invoiceMoney,jdbcType=DECIMAL},
            </if>
            <if test="isInvoiceFinish != null">
                is_invoice_finish = #{isInvoiceFinish,jdbcType=BIT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.Mold">
        update mold
        set company_id = #{companyId,jdbcType=INTEGER},
        company_name = #{companyName,jdbcType=VARCHAR},
        mold_type = #{moldType,jdbcType=TINYINT},
        project_hw_id = #{projectHwId,jdbcType=BIGINT},
        project_not_hw_id = #{projectNotHwId,jdbcType=BIGINT},
        mold_no = #{moldNo,jdbcType=VARCHAR},
        first_try_date = #{firstTryDate,jdbcType=TIMESTAMP},
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
        down_time = #{downTime,jdbcType=TIMESTAMP},
        project_mgr = #{projectMgr,jdbcType=VARCHAR},
        business_mgr = #{businessMgr,jdbcType=VARCHAR},
        mold_price = #{moldPrice,jdbcType=VARCHAR},
        design_cost = #{designCost,jdbcType=DECIMAL},
        stuff_cost = #{stuffCost,jdbcType=DECIMAL},
        process_cost = #{processCost,jdbcType=DECIMAL},
        payment_times = #{paymentTimes,jdbcType=INTEGER},
        real_stuff_cost = #{realStuffCost,jdbcType=DECIMAL},
        real_ass_cost = #{realAssCost,jdbcType=DECIMAL},
        real_produce_cost = #{realProduceCost,jdbcType=DECIMAL},
        real_process_cost = #{realProcessCost,jdbcType=DECIMAL},
        real_total_cost = #{realTotalCost,jdbcType=DECIMAL},
        stuff_ratio = #{stuffRatio,jdbcType=VARCHAR},
        design_ratio = #{designRatio,jdbcType=VARCHAR},
        process_ratio = #{processRatio,jdbcType=VARCHAR},
        startup_step = #{startupStep,jdbcType=VARCHAR},
        is_payment_finish = #{isPaymentFinish,jdbcType=CHAR},
        first_money = #{firstMoney,jdbcType=DECIMAL},
        first_time = #{firstTime,jdbcType=TIMESTAMP},
        first_invoice_no = #{firstInvoiceNo,jdbcType=VARCHAR},
        second_money = #{secondMoney,jdbcType=DECIMAL},
        second_time = #{secondTime,jdbcType=TIMESTAMP},
        second_invoice_no = #{secondInvoiceNo,jdbcType=VARCHAR},
        third_money = #{thirdMoney,jdbcType=DECIMAL},
        third_time = #{thirdTime,jdbcType=TIMESTAMP},
        third_invoice_no = #{thirdInvoiceNo,jdbcType=VARCHAR},
        fourth_money = #{fourthMoney,jdbcType=DECIMAL},
        fourth_time = #{fourthTime,jdbcType=TIMESTAMP},
        fourth_invoice_no = #{fourthInvoiceNo,jdbcType=VARCHAR},
        rest_money = #{restMoney,jdbcType=DECIMAL},
        payment_remark = #{paymentRemark,jdbcType=VARCHAR},
        payed_money = #{payedMoney,jdbcType=DECIMAL},
        sup_type = #{supType,jdbcType=VARCHAR},
        is_crt_plan = #{isCrtPlan,jdbcType=BIT},
        is_crt_bom = #{isCrtBom,jdbcType=BIT},
        produce_principal = #{producePrincipal,jdbcType=VARCHAR},
        start_mold_date = #{startMoldDate,jdbcType=TIMESTAMP},
        batch_count = #{batchCount,jdbcType=INTEGER},
        emergency = #{emergency,jdbcType=TINYINT},
        produce_mgr = #{produceMgr,jdbcType=VARCHAR},
        design_mgr = #{designMgr,jdbcType=VARCHAR},
        order_finish_date = #{orderFinishDate,jdbcType=TIMESTAMP},
        fsample_time = #{fsampleTime,jdbcType=TIMESTAMP},
        make_unit = #{makeUnit,jdbcType=VARCHAR},
        accept_unit = #{acceptUnit,jdbcType=VARCHAR},
        pause_start_date = #{pauseStartDate,jdbcType=TIMESTAMP},
        pause_end_date = #{pauseEndDate,jdbcType=TIMESTAMP},
        invoice_money = #{invoiceMoney,jdbcType=DECIMAL},
        is_invoice_finish = #{isInvoiceFinish,jdbcType=BIT},
        status = #{status,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>



    <!-- 以下为自定义 -->
    <select id="selectMoldGetDeliveryDate" resultType="map">
        select delivery_date  from  mold  where  mold_no=#{mold_no}
    </select>

    <select id="getMoldNosByOrderLineId" resultType="map" >
        SELECT a.mold_no
        from mold a
        INNER JOIN project_not_hw b on a.project_not_hw_id = b.id
        where a.status = 1
        and (a.mold_type = 1 or a.mold_type = 2)
        and a.project_not_hw_id = #{orderLineId}
        ORDER BY a.mold_no
    </select>

    <update id="orderStartupLineInfo" >
        UPDATE project_not_hw
         <set>
            <if test="sup_type != null">
              sup_type = #{sup_type},
            </if>
            <if test="is_batch_process != null">
                is_batch_process = #{is_batch_process},
            </if>
            <if test="startup_step != null">
                startup_step = #{startup_step},
            </if>
         </set>
        where id = #{orderLineId}
    </update>

    <insert id="orderStartupMold">
        INSERT INTO
        mold(mold_type, project_id, project_no, project_hw_id, project_not_hw_id, mold_no, mold_price, design_cost,
        stuff_cost, process_cost, stuff_ratio, design_ratio,process_ratio,
        startup_step, sup_type, is_crt_bom, batch_count, company_id, company_name,
        cst_prod_name, cst_company_id, cst_name)
        values( #{mold_type}, #{project_id}, #{project_no}, #{project_hw_id}, #{project_not_hw_id}, #{mold_no}, #{mold_price}, #{design_cost},
        #{stuff_cost}, #{process_cost}, #{stuff_ratio}, #{design_ratio} ,#{process_ratio},
        #{startup_step}, #{sup_type}, #{is_crt_bom}, #{batch_count},
        #{company_id}, #{company_name},
        #{cst_prod_name}, #{cst_company_id}, #{cst_name} )
    </insert>

    <select id="getMaxMoldNo" resultType="java.lang.String">
        SELECT max(mold_no) from mold
    </select>

    <select id="getStartupStepByOrderLineId" resultType="map">
        SELECT a.*, b.cst_company_id, b.cst_name, b.company_id, b.company_name
        from project_not_hw a
        INNER JOIN  project b on a.project_id = b.id
        where a.id = #{orderLineId}
    </select>

    <!--Alnwick添加    -->
    <update id="updateOrderStartup" parameterType="java.lang.Integer">
        UPDATE  mold set  startup_step = 'step200'  WHERE (mold_type = 1 or mold_type = 2) and project_not_hw_id = #{orderLineId} and startup_step='step300' and status=1
    </update>

    <update id="updateOrderNotEnd" parameterType="java.lang.Integer">
        UPDATE  mold set  startup_step = 'step200'  WHERE  (mold_type = 1 or mold_type = 2) and project_not_hw_id = #{orderLineId} and startup_step='step00' and status=1
    </update>

    <update id="updateOrderStartupStop" parameterType="map">
        UPDATE  mold set startup_step=#{startup_step} WHERE  (mold_type = 1 or mold_type = 2) and  project_not_hw_id=#{order_line_id} and startup_step='step200' and status=1
    </update>

    <insert id="createBom" >
        insert into bm_bom(company_id, company_name, mold_no, bom_type, edition, handler_id, handled_time, max_nodepos)
        select c.company_id, d.company_name, a.mold_no, '1', 1, #{uid}, NOW(), 0
        from mold a
        INNER JOIN project_not_hw b on a.project_not_hw_id = b.id
        INNER JOIN project c on c.id = b.project_id
        INNER JOIN company d on c.company_id = d.company_id
        where (a.mold_type = 1 or a.mold_type = 2)
        and a.mold_no = #{mold_no}
    </insert>

    <select id="getCompanyOfMold" resultType="map" >
        <if test="mold_type == 1 or mold_type == 2">
            SELECT b.company_id,b.company_name from project_not_hw a inner JOIN project b on a.project_id  = b.id
            where a.id = #{project_not_hw_id}
        </if>
        <if test="mold_type != 1 and mold_type != 2">
            SELECT b.company_id,b.company_name from project_hw a inner JOIN project b on a.project_id  = b.id
            where a.id = #{project_hw_id}
        </if>
    </select>

</mapper>