<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.order.common.dao.QuotePaymentTermMapper">
  <resultMap id="BaseResultMap" type="com.mt.order.common.model.QuotePaymentTerm">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="quote_id" jdbcType="BIGINT" property="quoteId" />
    <result column="quote_no" jdbcType="VARCHAR" property="quoteNo" />
    <result column="seq_no" jdbcType="INTEGER" property="seqNo" />
    <result column="pay_ratio" jdbcType="DECIMAL" property="payRatio" />
    <result column="pay_money" jdbcType="DECIMAL" property="payMoney" />
    <result column="pay_term" jdbcType="VARCHAR" property="payTerm" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, version, quote_id, quote_no, seq_no, pay_ratio, pay_money, pay_term, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from quote_payment_term
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quote_payment_term
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.order.common.model.QuotePaymentTerm">
    insert into quote_payment_term (id, version, quote_id,
    quote_no, seq_no, pay_ratio,
    pay_money, pay_term, status
    )
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{quoteId,jdbcType=BIGINT},
    #{quoteNo,jdbcType=VARCHAR}, #{seqNo,jdbcType=INTEGER}, #{payRatio,jdbcType=DECIMAL},
    #{payMoney,jdbcType=DECIMAL}, #{payTerm,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.mt.order.common.model.QuotePaymentTerm">
    insert into quote_payment_term
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="quoteId != null">
        quote_id,
      </if>
      <if test="quoteNo != null">
        quote_no,
      </if>
      <if test="seqNo != null">
        seq_no,
      </if>
      <if test="payRatio != null">
        pay_ratio,
      </if>
      <if test="payMoney != null">
        pay_money,
      </if>
      <if test="payTerm != null">
        pay_term,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="quoteId != null">
        #{quoteId,jdbcType=BIGINT},
      </if>
      <if test="quoteNo != null">
        #{quoteNo,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="payRatio != null">
        #{payRatio,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null">
        #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="payTerm != null">
        #{payTerm,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.QuotePaymentTerm">
    update quote_payment_term
    <set>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="quoteId != null">
        quote_id = #{quoteId,jdbcType=BIGINT},
      </if>
      <if test="quoteNo != null">
        quote_no = #{quoteNo,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        seq_no = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="payRatio != null">
        pay_ratio = #{payRatio,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null">
        pay_money = #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="payTerm != null">
        pay_term = #{payTerm,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.QuotePaymentTerm">
    update quote_payment_term
    set version = #{version,jdbcType=INTEGER},
    quote_id = #{quoteId,jdbcType=BIGINT},
    quote_no = #{quoteNo,jdbcType=VARCHAR},
    seq_no = #{seqNo,jdbcType=INTEGER},
    pay_ratio = #{payRatio,jdbcType=DECIMAL},
    pay_money = #{payMoney,jdbcType=DECIMAL},
    pay_term = #{payTerm,jdbcType=VARCHAR},
    status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>



  <!-- 以下为自定义 -->
  <select id="selectByQuoteId" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
      from quote_payment_term
    where status = 1
    and quote_id = #{quoteId}
    ORDER by seq_no ASC
  </select>

  <select id="getMaxPayId" resultType="java.lang.Long">
    SELECT max(id) from quote_payment_term
  </select>

  <update id="deleteQuotePaymentsByQuoteId">
    UPDATE quote_payment_term set status = 0
    where quote_id = #{quoteId}
  </update>

  <!-- 说明：quote_payment_term 与 quote_payment_term_log 的结构是完全一样的 -->
  <select id="selectByQuoteIdAndVer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from quote_payment_term_log
    where status = 1
    and quote_id = #{quoteId}
    and version = #{version}
    ORDER by seq_no ASC
  </select>
</mapper>