<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.order.common.dao.QuoteMoldLogMapper">
  <resultMap id="BaseResultMap" type="com.mt.order.common.model.QuoteMoldLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="version" jdbcType="INTEGER" property="version" />
    <result column="quote_id" jdbcType="BIGINT" property="quoteId" />
    <result column="compute_id" jdbcType="BIGINT" property="computeId" />
    <result column="compute_no" jdbcType="VARCHAR" property="computeNo" />
    <result column="quote_no" jdbcType="VARCHAR" property="quoteNo" />
    <result column="cst_mold_no" jdbcType="VARCHAR" property="cstMoldNo" />
    <result column="material" jdbcType="VARCHAR" property="material" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_sub" jdbcType="VARCHAR" property="typeSub" />
    <result column="water_type" jdbcType="VARCHAR" property="waterType" />
    <result column="runner" jdbcType="VARCHAR" property="runner" />
    <result column="out_way" jdbcType="VARCHAR" property="outWay" />
    <result column="surface_req" jdbcType="VARCHAR" property="surfaceReq" />
    <result column="task_time" jdbcType="DECIMAL" property="taskTime" />
    <result column="length" jdbcType="DECIMAL" property="length" />
    <result column="width" jdbcType="DECIMAL" property="width" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="size_unit" jdbcType="VARCHAR" property="sizeUnit" />
    <result column="mold_mat" jdbcType="VARCHAR" property="moldMat" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="up_local" jdbcType="DECIMAL" property="upLocal" />
    <result column="up" jdbcType="DECIMAL" property="up" />
    <result column="price_local" jdbcType="DECIMAL" property="priceLocal" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="rebate" jdbcType="DECIMAL" property="rebate" />
    <result column="rebate_price" jdbcType="DECIMAL" property="rebatePrice" />
    <result column="up_tax" jdbcType="DECIMAL" property="upTax" />
    <result column="up_local_tax" jdbcType="DECIMAL" property="upLocalTax" />
    <result column="price_tax" jdbcType="DECIMAL" property="priceTax" />
    <result column="price_local_tax" jdbcType="DECIMAL" property="priceLocalTax" />
    <result column="rebate_price_tax" jdbcType="DECIMAL" property="rebatePriceTax" />
    <result column="int_mode" jdbcType="TINYINT" property="intMode" />
    <result column="price_tax_int" jdbcType="VARCHAR" property="priceTaxInt" />
    <result column="price_local_tax_int" jdbcType="VARCHAR" property="priceLocalTaxInt" />
    <result column="rebate_price_tax_int" jdbcType="VARCHAR" property="rebatePriceTaxInt" />
    <result column="is_approved" jdbcType="CHAR" property="isApproved" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, version, quote_id, compute_id, compute_no, quote_no, cst_mold_no, material, type,
    type_name, type_sub, water_type, runner, out_way, surface_req, task_time, length,
    width, height, size_unit, mold_mat, count, weight, up_local, up, price_local, price,
    rebate, rebate_price, up_tax, up_local_tax, price_tax, price_local_tax, rebate_price_tax,
    int_mode, price_tax_int, price_local_tax_int, rebate_price_tax_int, is_approved,
    status, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from quote_mold_log
    where id = #{id,jdbcType=BIGINT}
    and version = #{version,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from quote_mold_log
    where id = #{id,jdbcType=BIGINT}
    and version = #{version,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mt.order.common.model.QuoteMoldLog">
    insert into quote_mold_log (id, version, quote_id,
    compute_id, compute_no, quote_no,
    cst_mold_no, material, type,
    type_name, type_sub, water_type,
    runner, out_way, surface_req,
    task_time, length, width,
    height, size_unit, mold_mat,
    count, weight, up_local,
    up, price_local, price,
    rebate, rebate_price, up_tax,
    up_local_tax, price_tax, price_local_tax,
    rebate_price_tax, int_mode, price_tax_int,
    price_local_tax_int, rebate_price_tax_int, is_approved,
    status, remark)
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{quoteId,jdbcType=BIGINT},
    #{computeId,jdbcType=BIGINT}, #{computeNo,jdbcType=VARCHAR}, #{quoteNo,jdbcType=VARCHAR},
    #{cstMoldNo,jdbcType=VARCHAR}, #{material,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
    #{typeName,jdbcType=VARCHAR}, #{typeSub,jdbcType=VARCHAR}, #{waterType,jdbcType=VARCHAR},
    #{runner,jdbcType=VARCHAR}, #{outWay,jdbcType=VARCHAR}, #{surfaceReq,jdbcType=VARCHAR},
    #{taskTime,jdbcType=DECIMAL}, #{length,jdbcType=DECIMAL}, #{width,jdbcType=DECIMAL},
    #{height,jdbcType=DECIMAL}, #{sizeUnit,jdbcType=VARCHAR}, #{moldMat,jdbcType=VARCHAR},
    #{count,jdbcType=INTEGER}, #{weight,jdbcType=DECIMAL}, #{upLocal,jdbcType=DECIMAL},
    #{up,jdbcType=DECIMAL}, #{priceLocal,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL},
    #{rebate,jdbcType=DECIMAL}, #{rebatePrice,jdbcType=DECIMAL}, #{upTax,jdbcType=DECIMAL},
    #{upLocalTax,jdbcType=DECIMAL}, #{priceTax,jdbcType=DECIMAL}, #{priceLocalTax,jdbcType=DECIMAL},
    #{rebatePriceTax,jdbcType=DECIMAL}, #{intMode,jdbcType=TINYINT}, #{priceTaxInt,jdbcType=VARCHAR},
    #{priceLocalTaxInt,jdbcType=VARCHAR}, #{rebatePriceTaxInt,jdbcType=VARCHAR}, #{isApproved,jdbcType=CHAR},
    #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.order.common.model.QuoteMoldLog">
    insert into quote_mold_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="quoteId != null">
        quote_id,
      </if>
      <if test="computeId != null">
        compute_id,
      </if>
      <if test="computeNo != null">
        compute_no,
      </if>
      <if test="quoteNo != null">
        quote_no,
      </if>
      <if test="cstMoldNo != null">
        cst_mold_no,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeSub != null">
        type_sub,
      </if>
      <if test="waterType != null">
        water_type,
      </if>
      <if test="runner != null">
        runner,
      </if>
      <if test="outWay != null">
        out_way,
      </if>
      <if test="surfaceReq != null">
        surface_req,
      </if>
      <if test="taskTime != null">
        task_time,
      </if>
      <if test="length != null">
        length,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="sizeUnit != null">
        size_unit,
      </if>
      <if test="moldMat != null">
        mold_mat,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="upLocal != null">
        up_local,
      </if>
      <if test="up != null">
        up,
      </if>
      <if test="priceLocal != null">
        price_local,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="rebate != null">
        rebate,
      </if>
      <if test="rebatePrice != null">
        rebate_price,
      </if>
      <if test="upTax != null">
        up_tax,
      </if>
      <if test="upLocalTax != null">
        up_local_tax,
      </if>
      <if test="priceTax != null">
        price_tax,
      </if>
      <if test="priceLocalTax != null">
        price_local_tax,
      </if>
      <if test="rebatePriceTax != null">
        rebate_price_tax,
      </if>
      <if test="intMode != null">
        int_mode,
      </if>
      <if test="priceTaxInt != null">
        price_tax_int,
      </if>
      <if test="priceLocalTaxInt != null">
        price_local_tax_int,
      </if>
      <if test="rebatePriceTaxInt != null">
        rebate_price_tax_int,
      </if>
      <if test="isApproved != null">
        is_approved,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="quoteId != null">
        #{quoteId,jdbcType=BIGINT},
      </if>
      <if test="computeId != null">
        #{computeId,jdbcType=BIGINT},
      </if>
      <if test="computeNo != null">
        #{computeNo,jdbcType=VARCHAR},
      </if>
      <if test="quoteNo != null">
        #{quoteNo,jdbcType=VARCHAR},
      </if>
      <if test="cstMoldNo != null">
        #{cstMoldNo,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeSub != null">
        #{typeSub,jdbcType=VARCHAR},
      </if>
      <if test="waterType != null">
        #{waterType,jdbcType=VARCHAR},
      </if>
      <if test="runner != null">
        #{runner,jdbcType=VARCHAR},
      </if>
      <if test="outWay != null">
        #{outWay,jdbcType=VARCHAR},
      </if>
      <if test="surfaceReq != null">
        #{surfaceReq,jdbcType=VARCHAR},
      </if>
      <if test="taskTime != null">
        #{taskTime,jdbcType=DECIMAL},
      </if>
      <if test="length != null">
        #{length,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="sizeUnit != null">
        #{sizeUnit,jdbcType=VARCHAR},
      </if>
      <if test="moldMat != null">
        #{moldMat,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="upLocal != null">
        #{upLocal,jdbcType=DECIMAL},
      </if>
      <if test="up != null">
        #{up,jdbcType=DECIMAL},
      </if>
      <if test="priceLocal != null">
        #{priceLocal,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null">
        #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="rebatePrice != null">
        #{rebatePrice,jdbcType=DECIMAL},
      </if>
      <if test="upTax != null">
        #{upTax,jdbcType=DECIMAL},
      </if>
      <if test="upLocalTax != null">
        #{upLocalTax,jdbcType=DECIMAL},
      </if>
      <if test="priceTax != null">
        #{priceTax,jdbcType=DECIMAL},
      </if>
      <if test="priceLocalTax != null">
        #{priceLocalTax,jdbcType=DECIMAL},
      </if>
      <if test="rebatePriceTax != null">
        #{rebatePriceTax,jdbcType=DECIMAL},
      </if>
      <if test="intMode != null">
        #{intMode,jdbcType=TINYINT},
      </if>
      <if test="priceTaxInt != null">
        #{priceTaxInt,jdbcType=VARCHAR},
      </if>
      <if test="priceLocalTaxInt != null">
        #{priceLocalTaxInt,jdbcType=VARCHAR},
      </if>
      <if test="rebatePriceTaxInt != null">
        #{rebatePriceTaxInt,jdbcType=VARCHAR},
      </if>
      <if test="isApproved != null">
        #{isApproved,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.QuoteMoldLog">
    update quote_mold_log
    <set>
      <if test="quoteId != null">
        quote_id = #{quoteId,jdbcType=BIGINT},
      </if>
      <if test="computeId != null">
        compute_id = #{computeId,jdbcType=BIGINT},
      </if>
      <if test="computeNo != null">
        compute_no = #{computeNo,jdbcType=VARCHAR},
      </if>
      <if test="quoteNo != null">
        quote_no = #{quoteNo,jdbcType=VARCHAR},
      </if>
      <if test="cstMoldNo != null">
        cst_mold_no = #{cstMoldNo,jdbcType=VARCHAR},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeSub != null">
        type_sub = #{typeSub,jdbcType=VARCHAR},
      </if>
      <if test="waterType != null">
        water_type = #{waterType,jdbcType=VARCHAR},
      </if>
      <if test="runner != null">
        runner = #{runner,jdbcType=VARCHAR},
      </if>
      <if test="outWay != null">
        out_way = #{outWay,jdbcType=VARCHAR},
      </if>
      <if test="surfaceReq != null">
        surface_req = #{surfaceReq,jdbcType=VARCHAR},
      </if>
      <if test="taskTime != null">
        task_time = #{taskTime,jdbcType=DECIMAL},
      </if>
      <if test="length != null">
        length = #{length,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="sizeUnit != null">
        size_unit = #{sizeUnit,jdbcType=VARCHAR},
      </if>
      <if test="moldMat != null">
        mold_mat = #{moldMat,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="upLocal != null">
        up_local = #{upLocal,jdbcType=DECIMAL},
      </if>
      <if test="up != null">
        up = #{up,jdbcType=DECIMAL},
      </if>
      <if test="priceLocal != null">
        price_local = #{priceLocal,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null">
        rebate = #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="rebatePrice != null">
        rebate_price = #{rebatePrice,jdbcType=DECIMAL},
      </if>
      <if test="upTax != null">
        up_tax = #{upTax,jdbcType=DECIMAL},
      </if>
      <if test="upLocalTax != null">
        up_local_tax = #{upLocalTax,jdbcType=DECIMAL},
      </if>
      <if test="priceTax != null">
        price_tax = #{priceTax,jdbcType=DECIMAL},
      </if>
      <if test="priceLocalTax != null">
        price_local_tax = #{priceLocalTax,jdbcType=DECIMAL},
      </if>
      <if test="rebatePriceTax != null">
        rebate_price_tax = #{rebatePriceTax,jdbcType=DECIMAL},
      </if>
      <if test="intMode != null">
        int_mode = #{intMode,jdbcType=TINYINT},
      </if>
      <if test="priceTaxInt != null">
        price_tax_int = #{priceTaxInt,jdbcType=VARCHAR},
      </if>
      <if test="priceLocalTaxInt != null">
        price_local_tax_int = #{priceLocalTaxInt,jdbcType=VARCHAR},
      </if>
      <if test="rebatePriceTaxInt != null">
        rebate_price_tax_int = #{rebatePriceTaxInt,jdbcType=VARCHAR},
      </if>
      <if test="isApproved != null">
        is_approved = #{isApproved,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
    and version = #{version,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.QuoteMoldLog">
    update quote_mold_log
    set quote_id = #{quoteId,jdbcType=BIGINT},
      compute_id = #{computeId,jdbcType=BIGINT},
      compute_no = #{computeNo,jdbcType=VARCHAR},
      quote_no = #{quoteNo,jdbcType=VARCHAR},
      cst_mold_no = #{cstMoldNo,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      type_name = #{typeName,jdbcType=VARCHAR},
      type_sub = #{typeSub,jdbcType=VARCHAR},
      water_type = #{waterType,jdbcType=VARCHAR},
      runner = #{runner,jdbcType=VARCHAR},
      out_way = #{outWay,jdbcType=VARCHAR},
      surface_req = #{surfaceReq,jdbcType=VARCHAR},
      task_time = #{taskTime,jdbcType=DECIMAL},
      length = #{length,jdbcType=DECIMAL},
      width = #{width,jdbcType=DECIMAL},
      height = #{height,jdbcType=DECIMAL},
      size_unit = #{sizeUnit,jdbcType=VARCHAR},
      mold_mat = #{moldMat,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DECIMAL},
      up_local = #{upLocal,jdbcType=DECIMAL},
      up = #{up,jdbcType=DECIMAL},
      price_local = #{priceLocal,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      rebate = #{rebate,jdbcType=DECIMAL},
      rebate_price = #{rebatePrice,jdbcType=DECIMAL},
      up_tax = #{upTax,jdbcType=DECIMAL},
      up_local_tax = #{upLocalTax,jdbcType=DECIMAL},
      price_tax = #{priceTax,jdbcType=DECIMAL},
      price_local_tax = #{priceLocalTax,jdbcType=DECIMAL},
      rebate_price_tax = #{rebatePriceTax,jdbcType=DECIMAL},
      int_mode = #{intMode,jdbcType=TINYINT},
      price_tax_int = #{priceTaxInt,jdbcType=VARCHAR},
      price_local_tax_int = #{priceLocalTaxInt,jdbcType=VARCHAR},
      rebate_price_tax_int = #{rebatePriceTaxInt,jdbcType=VARCHAR},
      is_approved = #{isApproved,jdbcType=CHAR},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
      and version = #{version,jdbcType=INTEGER}
  </update>
</mapper>