<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.order.common.dao.QuoteMoldProdMapper">
  <resultMap id="BaseResultMap" type="com.mt.order.common.model.QuoteMoldProd">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="quote_mold_id" jdbcType="BIGINT" property="quoteMoldId" />
    <result column="cst_prod_name" jdbcType="VARCHAR" property="cstProdName" />
    <result column="cst_prod_no" jdbcType="VARCHAR" property="cstProdNo" />
    <result column="cavity_total" jdbcType="INTEGER" property="cavityTotal" />
    <result column="prod_model_pic" jdbcType="VARCHAR" property="prodModelPic" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, version, quote_mold_id, cst_prod_name, cst_prod_no, cavity_total, prod_model_pic,
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from quote_mold_prod
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quote_mold_prod
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.order.common.model.QuoteMoldProd">
    insert into quote_mold_prod (id, version, quote_mold_id,
    cst_prod_name, cst_prod_no, cavity_total,
    prod_model_pic, status)
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{quoteMoldId,jdbcType=BIGINT},
    #{cstProdName,jdbcType=VARCHAR}, #{cstProdNo,jdbcType=VARCHAR}, #{cavityTotal,jdbcType=INTEGER},
    #{prodModelPic,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.order.common.model.QuoteMoldProd">
    insert into quote_mold_prod
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="quoteMoldId != null">
        quote_mold_id,
      </if>
      <if test="cstProdName != null">
        cst_prod_name,
      </if>
      <if test="cstProdNo != null">
        cst_prod_no,
      </if>
      <if test="cavityTotal != null">
        cavity_total,
      </if>
      <if test="prodModelPic != null">
        prod_model_pic,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="quoteMoldId != null">
        #{quoteMoldId,jdbcType=BIGINT},
      </if>
      <if test="cstProdName != null">
        #{cstProdName,jdbcType=VARCHAR},
      </if>
      <if test="cstProdNo != null">
        #{cstProdNo,jdbcType=VARCHAR},
      </if>
      <if test="cavityTotal != null">
        #{cavityTotal,jdbcType=INTEGER},
      </if>
      <if test="prodModelPic != null">
        #{prodModelPic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.QuoteMoldProd">
    update quote_mold_prod
    <set>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="quoteMoldId != null">
        quote_mold_id = #{quoteMoldId,jdbcType=BIGINT},
      </if>
      <if test="cstProdName != null">
        cst_prod_name = #{cstProdName,jdbcType=VARCHAR},
      </if>
      <if test="cstProdNo != null">
        cst_prod_no = #{cstProdNo,jdbcType=VARCHAR},
      </if>
      <if test="cavityTotal != null">
        cavity_total = #{cavityTotal,jdbcType=INTEGER},
      </if>
      <if test="prodModelPic != null">
        prod_model_pic = #{prodModelPic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.QuoteMoldProd">
    update quote_mold_prod
    set version = #{version,jdbcType=INTEGER},
    quote_mold_id = #{quoteMoldId,jdbcType=BIGINT},
    cst_prod_name = #{cstProdName,jdbcType=VARCHAR},
    cst_prod_no = #{cstProdNo,jdbcType=VARCHAR},
    cavity_total = #{cavityTotal,jdbcType=INTEGER},
    prod_model_pic = #{prodModelPic,jdbcType=VARCHAR},
    status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>



  <!-- 以下是自定义 -->
  <select id="getMaxProdId" resultType="java.lang.Long">
    select max(id) from quote_mold_prod
  </select>

  <select id="selectByQuoteLineId" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    from quote_mold_prod
    where status = 1
    and quote_mold_id = #{quoteMoldId}
    ORDER by cst_prod_no ASC
  </select>

  <update id="deleteProdsByLineId" >
    update quote_mold_prod
    set status = 0
    where quote_mold_id = #{quoteMoldId}
  </update>

  <select id="selectByQuoteLineIdAndVer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from quote_mold_prod_log
    where status = 1
    and quote_mold_id = #{quoteMoldId}
    and version = #{version}
    ORDER by cst_prod_no ASC
  </select>

  <select id="selectCurrentAndPrevVersionQuoteMoldProds" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from
    (select * from quote_mold_prod where status = 1 and quote_mold_id = #{quoteLineId}
    union ALL
    select * from quote_mold_prog_log  status = 1 and quote_mold_id = #{quoteLineId} and version = #{version}) as tbl
    order by id asc, version DESC
  </select>

</mapper>