<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.order.common.dao.QuoteLogMapper">
  <resultMap id="BaseResultMap" type="com.mt.order.common.model.QuoteLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="version" jdbcType="INTEGER" property="version" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="dep_id" jdbcType="INTEGER" property="depId" />
    <result column="dep_name" jdbcType="VARCHAR" property="depName" />
    <result column="quote_no" jdbcType="VARCHAR" property="quoteNo" />
    <result column="cst_company_id" jdbcType="INTEGER" property="cstCompanyId" />
    <result column="cst_name" jdbcType="VARCHAR" property="cstName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="connect_man" jdbcType="VARCHAR" property="connectMan" />
    <result column="salesman" jdbcType="BIGINT" property="salesman" />
    <result column="salesman_name" jdbcType="VARCHAR" property="salesmanName" />
    <result column="handler" jdbcType="BIGINT" property="handler" />
    <result column="handler_name" jdbcType="VARCHAR" property="handlerName" />
    <result column="quote_date" jdbcType="TIMESTAMP" property="quoteDate" />
    <result column="avail_days" jdbcType="VARCHAR" property="availDays" />
    <result column="prod_name" jdbcType="VARCHAR" property="prodName" />
    <result column="quote_price" jdbcType="DECIMAL" property="quotePrice" />
    <result column="quote_price_local" jdbcType="DECIMAL" property="quotePriceLocal" />
    <result column="coin" jdbcType="VARCHAR" property="coin" />
    <result column="coin_local" jdbcType="VARCHAR" property="coinLocal" />
    <result column="delivery_place" jdbcType="VARCHAR" property="deliveryPlace" />
    <result column="approve_step" jdbcType="VARCHAR" property="approveStep" />
    <result column="approve_sugg" jdbcType="VARCHAR" property="approveSugg" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, version, company_id, company_name, dep_id, dep_name, quote_no, cst_company_id, 
    cst_name, phone, fax, email, connect_man, salesman, salesman_name, handler, handler_name, 
    quote_date, avail_days, prod_name, quote_price, quote_price_local, coin, coin_local, 
    delivery_place, approve_step, approve_sugg, status, is_active, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from quote_log
    where id = #{id,jdbcType=BIGINT}
      and version = #{version,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from quote_log
    where id = #{id,jdbcType=BIGINT}
      and version = #{version,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mt.order.common.model.QuoteLog">
    insert into quote_log (id, version, company_id, 
      company_name, dep_id, dep_name, 
      quote_no, cst_company_id, cst_name, 
      phone, fax, email, 
      connect_man, salesman, salesman_name, 
      handler, handler_name, quote_date, 
      avail_days, prod_name, quote_price, 
      quote_price_local, coin, coin_local, 
      delivery_place, approve_step, approve_sugg, 
      status, is_active, created_at, 
      updated_at)
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, 
      #{companyName,jdbcType=VARCHAR}, #{depId,jdbcType=INTEGER}, #{depName,jdbcType=VARCHAR}, 
      #{quoteNo,jdbcType=VARCHAR}, #{cstCompanyId,jdbcType=INTEGER}, #{cstName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{connectMan,jdbcType=VARCHAR}, #{salesman,jdbcType=BIGINT}, #{salesmanName,jdbcType=VARCHAR}, 
      #{handler,jdbcType=BIGINT}, #{handlerName,jdbcType=VARCHAR}, #{quoteDate,jdbcType=TIMESTAMP}, 
      #{availDays,jdbcType=VARCHAR}, #{prodName,jdbcType=VARCHAR}, #{quotePrice,jdbcType=DECIMAL}, 
      #{quotePriceLocal,jdbcType=DECIMAL}, #{coin,jdbcType=VARCHAR}, #{coinLocal,jdbcType=VARCHAR}, 
      #{deliveryPlace,jdbcType=VARCHAR}, #{approveStep,jdbcType=VARCHAR}, #{approveSugg,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{isActive,jdbcType=BIT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.order.common.model.QuoteLog">
    insert into quote_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="depId != null">
        dep_id,
      </if>
      <if test="depName != null">
        dep_name,
      </if>
      <if test="quoteNo != null">
        quote_no,
      </if>
      <if test="cstCompanyId != null">
        cst_company_id,
      </if>
      <if test="cstName != null">
        cst_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="connectMan != null">
        connect_man,
      </if>
      <if test="salesman != null">
        salesman,
      </if>
      <if test="salesmanName != null">
        salesman_name,
      </if>
      <if test="handler != null">
        handler,
      </if>
      <if test="handlerName != null">
        handler_name,
      </if>
      <if test="quoteDate != null">
        quote_date,
      </if>
      <if test="availDays != null">
        avail_days,
      </if>
      <if test="prodName != null">
        prod_name,
      </if>
      <if test="quotePrice != null">
        quote_price,
      </if>
      <if test="quotePriceLocal != null">
        quote_price_local,
      </if>
      <if test="coin != null">
        coin,
      </if>
      <if test="coinLocal != null">
        coin_local,
      </if>
      <if test="deliveryPlace != null">
        delivery_place,
      </if>
      <if test="approveStep != null">
        approve_step,
      </if>
      <if test="approveSugg != null">
        approve_sugg,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="depId != null">
        #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null">
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="quoteNo != null">
        #{quoteNo,jdbcType=VARCHAR},
      </if>
      <if test="cstCompanyId != null">
        #{cstCompanyId,jdbcType=INTEGER},
      </if>
      <if test="cstName != null">
        #{cstName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="connectMan != null">
        #{connectMan,jdbcType=VARCHAR},
      </if>
      <if test="salesman != null">
        #{salesman,jdbcType=BIGINT},
      </if>
      <if test="salesmanName != null">
        #{salesmanName,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        #{handler,jdbcType=BIGINT},
      </if>
      <if test="handlerName != null">
        #{handlerName,jdbcType=VARCHAR},
      </if>
      <if test="quoteDate != null">
        #{quoteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="availDays != null">
        #{availDays,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="quotePrice != null">
        #{quotePrice,jdbcType=DECIMAL},
      </if>
      <if test="quotePriceLocal != null">
        #{quotePriceLocal,jdbcType=DECIMAL},
      </if>
      <if test="coin != null">
        #{coin,jdbcType=VARCHAR},
      </if>
      <if test="coinLocal != null">
        #{coinLocal,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPlace != null">
        #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="approveStep != null">
        #{approveStep,jdbcType=VARCHAR},
      </if>
      <if test="approveSugg != null">
        #{approveSugg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.order.common.model.QuoteLog">
    update quote_log
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="depId != null">
        dep_id = #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null">
        dep_name = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="quoteNo != null">
        quote_no = #{quoteNo,jdbcType=VARCHAR},
      </if>
      <if test="cstCompanyId != null">
        cst_company_id = #{cstCompanyId,jdbcType=INTEGER},
      </if>
      <if test="cstName != null">
        cst_name = #{cstName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="connectMan != null">
        connect_man = #{connectMan,jdbcType=VARCHAR},
      </if>
      <if test="salesman != null">
        salesman = #{salesman,jdbcType=BIGINT},
      </if>
      <if test="salesmanName != null">
        salesman_name = #{salesmanName,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        handler = #{handler,jdbcType=BIGINT},
      </if>
      <if test="handlerName != null">
        handler_name = #{handlerName,jdbcType=VARCHAR},
      </if>
      <if test="quoteDate != null">
        quote_date = #{quoteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="availDays != null">
        avail_days = #{availDays,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        prod_name = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="quotePrice != null">
        quote_price = #{quotePrice,jdbcType=DECIMAL},
      </if>
      <if test="quotePriceLocal != null">
        quote_price_local = #{quotePriceLocal,jdbcType=DECIMAL},
      </if>
      <if test="coin != null">
        coin = #{coin,jdbcType=VARCHAR},
      </if>
      <if test="coinLocal != null">
        coin_local = #{coinLocal,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPlace != null">
        delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      </if>
      <if test="approveStep != null">
        approve_step = #{approveStep,jdbcType=VARCHAR},
      </if>
      <if test="approveSugg != null">
        approve_sugg = #{approveSugg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and version = #{version,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.order.common.model.QuoteLog">
    update quote_log
    set company_id = #{companyId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      dep_id = #{depId,jdbcType=INTEGER},
      dep_name = #{depName,jdbcType=VARCHAR},
      quote_no = #{quoteNo,jdbcType=VARCHAR},
      cst_company_id = #{cstCompanyId,jdbcType=INTEGER},
      cst_name = #{cstName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      connect_man = #{connectMan,jdbcType=VARCHAR},
      salesman = #{salesman,jdbcType=BIGINT},
      salesman_name = #{salesmanName,jdbcType=VARCHAR},
      handler = #{handler,jdbcType=BIGINT},
      handler_name = #{handlerName,jdbcType=VARCHAR},
      quote_date = #{quoteDate,jdbcType=TIMESTAMP},
      avail_days = #{availDays,jdbcType=VARCHAR},
      prod_name = #{prodName,jdbcType=VARCHAR},
      quote_price = #{quotePrice,jdbcType=DECIMAL},
      quote_price_local = #{quotePriceLocal,jdbcType=DECIMAL},
      coin = #{coin,jdbcType=VARCHAR},
      coin_local = #{coinLocal,jdbcType=VARCHAR},
      delivery_place = #{deliveryPlace,jdbcType=VARCHAR},
      approve_step = #{approveStep,jdbcType=VARCHAR},
      approve_sugg = #{approveSugg,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      is_active = #{isActive,jdbcType=BIT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
      and version = #{version,jdbcType=INTEGER}
  </update>
</mapper>