

.mats{
  .req-item{
    width: 100%;
    height: 100%;
    color: #ababab;
    position: relative;
    .req-item-title{
      line-height: 30px;
      font-size: 16px;
      .icon{
        float: right;
        font-size: 24px;
      }
    }
    .req-item-content{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      span{
        flex: 1 0 50%;
        line-height: 26px;
      }
    }
  }
}


.bom-swipe-item{
  width: 125%;
  height: 128px;
  position: relative;
  transition: all .3s;
  left: 0%;
  &:after{
    display: block;
    content: " ";
    width: 99%;
    height: 1px;
    background: #ccc;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &:last-child:after{
    display: none;
  }
  .swipe-content{
    width: 80%;
    height: 128px;
    padding: 15px;
    background: #fff;
    position: relative;
    float: left;
    color: #ababab;
    &>div{
      width: 90%;
      h3{
        font-size: 16px;
        height: 20px;line-height: 20px;
        margin-bottom: 8px;
        color: #ababab;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        span{
          color: #416eb6;
        }
      }
      p{
        font-size: 14px;line-height: 14px;
        span{
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
    &>.icon{
      display: block;width:13%;height:128px;
      font-size: 35px;line-height: 128px;
      position: absolute;right: 0px;
      top:0;
      background: #fff;
      &:before{
        margin-left: 12px;
      }
    }
    &>.right{
      display: block;width:18%;height:128px;
      font-size: 14px;line-height: 128px;
      position: absolute;right: 0px;
      color: #416eb6;
      top:0;
      background: #fff;
    }
  }
  .swipe-click{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 10;
    display: none;
  }
  &.active{
    left: -25%;
    .swipe-click{
      display: block;
    }

  }
  .swipe-side{
    width: 20%;
    height: 100%;
    line-height: 128px;
    background: #FE3B32;
    float: left;
    color: #fff;
    position: relative;
    text-align: center;
  }
}


.select-box{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  right: 0;
  background: rgba(0,0,0,0);
  z-index: -100;
  .select-click{
    width: 19.5%;height: 100%;
    float: left;
  }
  .select-main{
    width: 80%;height: 100%;
    background: #F3F6FB;
    position: absolute;
    transition:all .3s linear;
    top:0;right: -100%;
    .main-header{
      height: 80px;
      width: 100%;
      position: relative;z-index: 20;
      p{
        height: 40px;line-height: 40px;text-align: center;margin: 0;
      }
      input{
        background-color: rgb(187, 187, 187);
        width: 90%;
        margin: 0px auto;
        border-radius: 5px;
      }
    }
    .main-list{
      width: 100%;
      position: absolute;
      top:0;left: 0;
      z-index: 10;
      box-sizing: border-box;
      padding-top: 80px;
      overflow-y: scroll;
      &::-webkit-scrollbar{
        width: 0;height: 0;
      }
      p{
        height: 50px;line-height: 50px;
        border-bottom: 1px solid #ccc;
        padding-left: 20px;
      }
    }
  }
  &.active{
    z-index: 100;
    background: rgba(0,0,0,0.3);
    .select-main{right: 0%}
  }
}

