<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mt.pc.common.dao.PcDeliverySubMapper" >
  <resultMap id="BaseResultMap" type="com.mt.pc.common.model.PcDeliverySub" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="delivery_id" property="deliveryId" jdbcType="BIGINT" />
    <result column="purch_sub_id" property="purchSubId" jdbcType="BIGINT" />
    <result column="delivery_qty" property="deliveryQty" jdbcType="DECIMAL" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, delivery_id, purch_sub_id, delivery_qty, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pc_delivery_sub
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pc_delivery_sub
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mt.pc.common.model.PcDeliverySub" >
    insert into pc_delivery_sub (id, delivery_id, purch_sub_id, 
      delivery_qty, created_at, updated_at, 
      status)
    values (#{id,jdbcType=BIGINT}, #{deliveryId,jdbcType=BIGINT}, #{purchSubId,jdbcType=BIGINT}, 
      #{deliveryQty,jdbcType=DECIMAL}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mt.pc.common.model.PcDeliverySub" >
    insert into pc_delivery_sub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deliveryId != null" >
        delivery_id,
      </if>
      <if test="purchSubId != null" >
        purch_sub_id,
      </if>
      <if test="deliveryQty != null" >
        delivery_qty,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deliveryId != null" >
        #{deliveryId,jdbcType=BIGINT},
      </if>
      <if test="purchSubId != null" >
        #{purchSubId,jdbcType=BIGINT},
      </if>
      <if test="deliveryQty != null" >
        #{deliveryQty,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mt.pc.common.model.PcDeliverySub" >
    update pc_delivery_sub
    <set >
      <if test="deliveryId != null" >
        delivery_id = #{deliveryId,jdbcType=BIGINT},
      </if>
      <if test="purchSubId != null" >
        purch_sub_id = #{purchSubId,jdbcType=BIGINT},
      </if>
      <if test="deliveryQty != null" >
        delivery_qty = #{deliveryQty,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mt.pc.common.model.PcDeliverySub" >
    update pc_delivery_sub
    set delivery_id = #{deliveryId,jdbcType=BIGINT},
      purch_sub_id = #{purchSubId,jdbcType=BIGINT},
      delivery_qty = #{deliveryQty,jdbcType=DECIMAL},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--Alnwick 添加-->

  <insert id="addDeliverySub" parameterType="map">
      insert into pc_delivery_sub
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="delivery_id != null and delivery_id != ''" >
          delivery_id,
        </if>
        <if test="purch_sub_id != null and purch_sub_id != ''" >
          purch_sub_id,
        </if>
        <if test="delivery_qty != null and delivery_qty != ''" >
          delivery_qty,
        </if>
        <if test="created_at != null and created_at != ''" >
          created_at,
        </if>
        <if test="status != null and status != ''" >
          status,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="delivery_id != null and delivery_id != ''" >
          #{delivery_id,jdbcType=BIGINT},
        </if>
        <if test="purch_sub_id != null and purch_sub_id != ''" >
          #{purch_sub_id,jdbcType=BIGINT},
        </if>
        <if test="delivery_qty != null and delivery_qty != ''" >
          #{delivery_qty,jdbcType=DECIMAL},
        </if>
        <if test="created_at != null and created_at != ''" >
          #{created_at,jdbcType=TIMESTAMP},
        </if>
        <if test="status != null and status != ''" >
          #{status,jdbcType=TINYINT},
        </if>
      </trim>
  </insert>
  <select id="getDleverySubInfo" parameterType="map" resultType="map">
      SELECT
            mat_desc,mat_id,mat_model,mat_no,mat_type_id,mat_type_name,quantity,total_price
      FROM  pc_delivery_sub
      WHERE  purch_id = #{purchId}
  </select>

</mapper>